<ul class="nav" style="transition: 0.05s;">
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TIENMATNGANHANG]">
        <a (click)="navigateTMNH()" class="nav-link" data-toggle="collapse" href="#ui-m1" aria-expanded="false"
           aria-controls="ui-m1">
            <img src="/content/images/s1.png">
            <span class="menu-title">TIỀN MẶT VÀ NGÂN HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m1">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.PhieuThu_Xem]"><a class="nav-link"
                                                                                                (click)="utilsService.navigateToOtherSite('phieu-thu')"
                >Phiếu thu</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.PhieuChi_Xem]"><a class="nav-link"
                                                                                                (click)="utilsService.navigateToOtherSite('phieu-chi')"
                >Phiếu chi</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoNo_Xem]"><a class="nav-link"
                                                                                             (click)="utilsService.navigateToOtherSite('bao-no')"
                >Báo Nợ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoCo_Xem]"><a class="nav-link"
                                                                                             (click)="utilsService.navigateToOtherSite('bao-co')"
                >Báo Có</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TheTinDung_Xem]"><a class="nav-link"
                                                                                                  (click)="utilsService.navigateToOtherSite('the-tin-dung')"
                                                                                                  routerLink="the-tin-dung"
                >Thẻ tín
                    dụng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.ChuyenTienNoiBo_Xem]"><a class="nav-link"
                                                                                                       (click)="utilsService.navigateToOtherSite('chuyen-tien-noi-bo')"
                >Chuyển
                    tiền
                    nội bộ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KiemKeQuy]"><a class="nav-link"
                                                                                             (click)="utilsService.navigateToOtherSite('kiem-ke-quy')"
                >Kiểm kê quỹ</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DoiChieuNganHang]"><a class="nav-link"
                                                                                                    routerLink="doi-chieu-ngan-hang">Đối
                    chiếu ngân hàng</a></li>
            </ul>
        </div>
    </li>

    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MuaHang]">
        <a (click)="navigateMuaHang()" class="nav-link" data-toggle="collapse" href="#ui-m2" aria-expanded="false"
           aria-controls="ui-m2">
            <img src="/content/images/s2.png">
            <span class="menu-title text-uppercase" jhiTranslate="common.muaHang">MUA HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m2">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DonMuaHang_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('don-mua-hang')"
                >Đơn mua hàng</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MuaHangQuaKho_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('chung-tu-mua-hang')"
                >Chứng từ mua hàng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HoaDonDauVao_Xem]"><a class="nav-link"
                                                                                                    (click)="utilsService.navigateToOtherSite('hoa-don-dau-vao')"
                >Hóa đơn đầu vào</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_NhanHoaDon_Xem]"><a class="nav-link"
                                                                                                  (click)="utilsService.navigateToOtherSite('nhan-hoa-don')"
                                                                                                  jhiTranslate="ebwebApp.receiveBill.home.title"><span></span></a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.MuaDichVu_Xem]" class="nav-item"><a class="nav-link"
                                                                                                 (click)="utilsService.navigateToOtherSite('mua-dich-vu')"
                                                                                                 jhiTranslate="common.muaDichVu"></a>
                </li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HangMuaTraLai_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('hang-mua/tra-lai')"
                >Hàng mua trả lại</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HangMuaGiamGia_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('hang-mua/giam-gia')"
                >Hàng mua giảm giá</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TraTienNhaCungCap]"><a class="nav-link"
                                                                                                     (click)="utilsService.navigateToOtherSite('tra-tien-nha-cung-cap')"
                >Trả
                    tiền nhà cung cấp</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DoiTruChungTuMH_Xem]"
                                        class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('mua-hang/doi-tru-chung-tu')"
                >Đối trừ chứng từ</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BANHANG]">
        <a (click)="navigateBanHang()" class="nav-link" data-toggle="collapse" href="#ui-m3" aria-expanded="false"
           aria-controls="ui-m3">
            <img src="/content/images/s3.png">
            <span class="menu-title">BÁN HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m3">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoGia_Xem]"><a class="nav-link"
                                                                                              (click)="utilsService.navigateToOtherSite('bao-gia')"
                                                                                              jhiTranslate="global.menu.entities.saQuote">Quote</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DonDatHang]"><a class="nav-link"
                                                                                              (click)="utilsService.navigateToOtherSite('don-dat-hang')"
                >Đơn
                    đặt hàng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_CTBanHang]"><a class="nav-link"
                                                                                             routerLink="chung-tu-ban-hang"
                                                                                             (click)="utilsService.navigateToOtherSite('chung-tu-ban-hang')"
                                                                                             jhiTranslate="global.menu.entities.saInvoice">Bán
                    hàng chưa thu tiền</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XuatHoaDon]">
                    <a class="nav-link"
                       (click)="utilsService.navigateToOtherSite('xuat-hoa-don')"
                       jhiTranslate="global.menu.entities.exportInvoice"></a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HangBanTraLai]">
                    <a class="nav-link"
                       (click)="utilsService.navigateToOtherSite('hang-ban/tra-lai')"
                       jhiTranslate="global.menu.entities.saReturn">Hàng
                        bán trả lại</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HangBanGiamGia]">
                    <a class="nav-link"
                       (click)="utilsService.navigateToOtherSite('hang-ban/giam-gia')"
                       jhiTranslate="global.menu.entities.saReturn2">Hàng
                        giảm giá</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ThuTienKhachHang]"><a class="nav-link"
                                                                                                    (click)="utilsService.navigateToOtherSite('thu-tien-khach-hang')"
                                                                                                    jhiTranslate="global.menu.entities.saReceiptDebit">Thu
                    tiền khách hàng</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Tính lãi nợ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Thông báo công nợ</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DoiTruChungTuBH_Xem]"
                                        class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('ban-hang/doi-tru-chung-tu')"
                >Đối trừ chứng từ</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ThietLapChinhSachGia]">
                    <a class="nav-link"
                       (click)="utilsService.navigateToOtherSite('thiet-lap-chinh-sach-gia')"
                       jhiTranslate="global.menu.entities.sAPolicyPriceSetting">Thiết lập chính sách giá</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TinhGiaBan]"><a class="nav-link"
                                                                                              (click)="utilsService.navigateToOtherSite('tinh-gia-ban')"
                                                                                              jhiTranslate="common.tinhGiaBan">Tính
                    giá bán</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Tính giá bán</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Kho]">
        <a class="nav-link" data-toggle="collapse" (click)="navigateKho()" href="#ui-m4" aria-expanded="false"
           aria-controls="ui-m4">
            <img src="/content/images/s4.png">
            <span class="menu-title">KHO</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m4">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_NhapKho_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('nhap-kho')"
                >Nhập kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XuatKho_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('xuat-kho')"
                >Xuất kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChuyenKho_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('chuyen-kho')"
                >Chuyển kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KiemKeKho_Xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('kiem-ke-kho')"
                >Kiểm kê kho</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TinhGiaXuatKho]"><a class="nav-link"
                                                                                                  (click)="calculateOWRepository()">Tính
                    giá xuất kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_LenhSanXuat_xem]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('lenh-san-xuat')"
                >Lệnh sản xuất</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_LLRTD_XEM]" class="nav-link"
                                        (click)="utilsService.navigateToOtherSite('lenh-lap-rap-thao-do')"
                >Lệnh lắp ráp, tháo dỡ</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_SapXepThuTuNhapXuat]"
                                        (click)="SapXepThuTuNhapXuat()">Sắp xếp thứ tự nhập xuất</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_CapNhatGiaNhapKhoThanhPham]"><a
                        class="nav-link"
                        (click)="UpdateFinishedProductPricesRepository()">
                    Cập nhật giá nhập kho thành phẩm</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanh]">
        <!--    <li class="nav-item" hidden>-->
        <a (click)="navigateGiaThanh()" class="nav-link" data-toggle="collapse" href="#ui-m5" aria-expanded="false"
           aria-controls="ui-m5">
            <img src="/content/images/s5.png">
            <span class="menu-title">GIÁ THÀNH</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m5">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucNguyenVatLieu_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('dinh-muc-nguyen-vat-lieu')"
                >Định mức nguyên vật liệu</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucGiaThanhThanhPham_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('dinh-muc-gia-thanh-thanh-pham')"
                >Định mức giá thành thành
                    phẩm</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucPhanBoChiPhi_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('dinh-muc-phan-bo-chi-phi')"
                >Định mức phân bổ chi phí</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChiPhiDoDangDauKy_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('chi-phi-do-dang-dau-ky')"
                >Chi phí dở dang đầu kỳ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapGianDon_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('gia-thanh/gian-don')"
                >Phương pháp giản đơn</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapHeSo_Xem]"><a class="nav-link"
                                                                                                      (click)="utilsService.navigateToOtherSite('gia-thanh/he-so')"
                >Phương
                    pháp hệ số</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapTyLe_Xem]"><a class="nav-link"
                                                                                                      (click)="utilsService.navigateToOtherSite('gia-thanh/ty-le')"
                >Phương
                    pháp tỷ lệ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoCTVV_Xem]"><a class="nav-link"
                                                                                                        (click)="utilsService.navigateToOtherSite('gia-thanh/cong-trinh-vu-viec')"
                >Giá
                    thành theo công trình, vụ việc</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoDonHang_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('gia-thanh/don-hang')"
                >Giá thành theo đơn hàng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoHopDong_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('gia-thanh/hop-dong')"
                >Giá thành theo hợp đồng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KetChuyenChiPhi_Xem]"><a
                        (click)="utilsService.navigateToOtherSite('ket-chuyen-chi-phi')"
                >Kết chuyển chi phí</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TONGHOP]">
        <a class="nav-link" data-toggle="collapse" href="#ui-m6" aria-expanded="false" aria-controls="ui-m6"
           (click)="navigateTongHop()">
            <img src="/content/images/s10.png">
            <span class="menu-title">TỔNG HỢP</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m6">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChungTuNghiepVuKhac_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('chung-tu-nghiep-vu-khac')"
                        jhiTranslate="global.menu.entities.gOtherVoucher">Chứng từ nghiệp vụ khác</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KetChuyenLaiLo_Xem]"><a class="nav-link"
                                                                                                      (click)="utilsService.navigateToOtherSite('ket-chuyen-lai-lo')"
                                                                                                      jhiTranslate="ebwebApp.gOtherVoucher.home.titleKc">Kết
                    chuyển lãi lỗ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChungTuGhiSo]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('chung-tu-ghi-so')"
                        jhiTranslate="common.chungTuGhiSo">Chứng từ ghi sổ</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChiPhiTraTruoc_Xem]"
                                        (click)="utilsService.navigateToOtherSite('chi-phi-tra-truoc')"
                                        jhiTranslate="common.chiPhiTraTruoc">chi phí trả
                    trước</a></li>
                <li class="nav-item"><a class="nav-link"
                                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhanBoChiPhiTRaTruoc_Xem]"
                                        (click)="utilsService.navigateToOtherSite('phan-bo-chi-phi-tra-truoc')"
                                        jhiTranslate="ebwebApp.gOtherVoucher.home.titleGOtherVoucher">pshân bổ chi phí
                    trả trước</a></li>
                <li class="nav-item"><a class="nav-link"
                                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BuTruCongNo_Xem]"
                                        (click)="openBuTruCongNo()"
                                        jhiTranslate="common.buTruCongNo">Bù trừ công </a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.TinhTyGiaXuatQuy_Xem]"><a class="nav-link"
                                                                                                        (click)="calculateExchangeRate()"
                                                                                                        jhiTranslate="global.commonInfo.calculateExchangeRate">Tính
                    tỷ giá xuất quỹ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DanhGiaLaiTaiKhoanNgoaiTe_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('danh-gia-lai-tai-khoan-ngoai-te')"
                >Đánh giá lại tài khoản ngoại
                    tệ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Bù trừ công nợ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KhoaSo]"><a class="nav-link"
                                                                                          (click)="lockBook()">Khóa sổ
                    kỳ kế toán</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.BoKhoaSo]"><a class="nav-link"
                                                                                            (click)="unlockBook()">Bỏ
                    khóa sổ kỳ kế toán</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_LapBaoCaoTaiChinh_Xem]"><a
                        class="nav-link"
                        (click)="utilsService.navigateToOtherSite('lap-bao-cao-tai-chinh')"
                >Lập báo cáo tài chính</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_QLHD]">
        <a (click)="navigateQuanLyHoaDon()" class="nav-link" data-toggle="collapse" href="#ui-m7" aria-expanded="false"
           aria-controls="ui-m7">
            <img src="/content/images/s6.png">
            <span class="menu-title">QUẢN LÝ HÓA ĐƠN</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m7">
            <ul class="nav flex-column sub-menu">
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KTHD_XEM]" class="nav-item">
                    <a jhiTranslate="ebwebApp.iAReport.home.title" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('khoi-tao-mau-hoa-don')"
                    >Khởi
                        tạo mẫu hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DKSD_XEM]" class="nav-item">
                    <a jhiTranslate="common.dangKySuDungHoaDon"
                       (click)="utilsService.navigateToOtherSite('dang-ky-su-dung-hoa-don')"
                       class="nav-link"
                    >Đăng ký sử dụng hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TBPH_XEM]" class="nav-item">
                    <a jhiTranslate="common.thongBaoPhatHanhHoaDon" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('thong-bao-phat-hanh-hoa-don')"
                    >Thông báo phát hành hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HuyHoaDon_XEM]" class="nav-item">
                    <a jhiTranslate="common.huyHoaDon"
                       class="nav-link"
                       (click)="utilsService.navigateToOtherSite('huy-hoa-don')"
                    >Hủy hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MCH_XEM]" class="nav-item">
                    <a jhiTranslate="common.matChayHongHoaDon" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('mat-chay-hong-hoa-don')"
                    >Mất cháy hỏng hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XHD_XEM]" class="nav-item">
                    <a jhiTranslate="common.xoaHoaDon" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('xoa-hoa-don')"
                    >Xóa hóa đơn</a>
                </li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Điều chỉnh thông báo phát hành</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" [hidden]="!isTichHop" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HDDT]">
        <a (click)="navigateHoaDonDienTu()" class="nav-link" data-toggle="collapse" href="#ui-m8" aria-expanded="false"
           aria-controls="ui-m8">
            <img src="/content/images/s7.png">
            <span class="menu-title">HÓA ĐƠN ĐIỆN TỬ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m8">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_XEM]"><a class="nav-link"
                                                                                            (click)="utilsService.navigateToOtherSite('danh-sach-hoa-don')"
                >Danh
                    sách hóa đơn</a></li>
                <li class="nav-item"
                    [hidden]="!useInvoiceWait || NCCDV === NCCDV_EINVOICE.SIV|| NCCDV === NCCDV_EINVOICE.VNPT"
                    *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_CHO_KY_XEM]"><a class="nav-link"
                                                                                  (click)="utilsService.navigateToOtherSite('hoa-don-cho-ky')"
                >Danh sách
                    hóa đơn chờ ký</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_THAY_THE_XEM]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('hoa-don-thay-the')"
                >Hóa
                    đơn thay thế</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_DIEU_CHINH_XEM]"><a class="nav-link"
                                                                                                     (click)="utilsService.navigateToOtherSite('hoa-don-dieu-chinh')"
                >Hóa
                    đơn điều chỉnh</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_HUY_XEM]"><a class="nav-link"
                                                                                              (click)="utilsService.navigateToOtherSite('hoa-don-huy')"
                >Hóa
                    đơn hủy</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.CDHD_XEM]"
                    [hidden]="NCCDV === NCCDV_EINVOICE.MIV"><a class="nav-link"
                                                               (click)="utilsService.navigateToOtherSite('chuyen-doi-hoa-don')"
                >Chuyển
                    đổi hóa đơn</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KNHD_KET_NOI_HD]"><a class="nav-link"
                                                                                                   (click)="ConnectEInvocie()">Kết
                    nối hóa đơn điện tử</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.Thue]">
        <a class="nav-link" data-toggle="collapse" href="#ui-m9" aria-expanded="false" aria-controls="ui-m9"
           (click)="navigateThue()">
            <img src="/content/images/s9.png">
            <span class="menu-title">THUẾ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m9">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" [hidden]="thuePPTT"
                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.Thue01GTGTKhauTru_XEM]"><a class="nav-link css-thue"
                                                                                           (click)="utilsService.navigateToOtherSite('thue/to-khai-thue-gtgt-01')"
                >Tờ
                    khai thuế GTGT khấu trừ</a></li>
                <li class="nav-item" [hidden]="!thuePPTT"
                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.Thue01GTGTTrucTiep_XEM]"><a class="nav-link css-thue"
                                                                                            (click)="utilsService.navigateToOtherSite('thue/to-khai-thue-gtgt-04')"
                >Tờ
                    khai thuế GTGT trực tiếp</a></li>
                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.Thue01GTGTDauTu_XEM]"><a
                        class="nav-link css-thue"
                        (click)="utilsService.navigateToOtherSite('thue/to-khai-thue-gtgt-02')"
                >Tờ khai thuế GTGT cho dự án đầu
                    tư</a></li>
                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThueQuyetToanTNDNNam_XEM]"><a
                        class="nav-link css-thue"
                        (click)="utilsService.navigateToOtherSite('thue/quyet-toan-thue-tncn-03-tndn')"
                >Quyết toán thuế TNDN
                    năm</a></li>
                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThueKhaiThueTaiNguyen_XEM]"><a
                        class="nav-link css-thue"
                        (click)="utilsService.navigateToOtherSite('thue/to-khai-thue-tai-nguyen-01')"
                >Tờ khai thuế tài
                    nguyên</a></li>
                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThueQuyetToanThueTaiNguyen_XEM]"><a
                        class="nav-link css-thue"
                        (click)="utilsService.navigateToOtherSite('thue/quyet-toan-thue-tai-nguyen-02')"
                >Quyết toán thuế tài
                    nguyên</a></li>
                <li class="nav-item" [hidden]="thuePPTT"
                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThueKhauTruThueGTGT_XEM]"><a class="nav-link css-thue"
                                                                                             (click)="khauTruThueGTGT()">Khấu
                    trừ thuế GTGT</a></li>
                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThueNopThue_XEM]"><a
                        class="nav-link css-thue" (click)="nopThue()">Nộp thuế</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.CongCuDungCu]" (click)="navigateCCDC()"
           data-toggle="collapse" href="#ui-m10" aria-expanded="false" aria-controls="ui-m10">
            <img src="/content/images/s10.png">
            <span class="menu-title">CÔNG CỤ DỤNG CỤ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m10">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KhaiBaoCCDCDauKy_Xem]"><a
                        class="nav-link" jhiTranslate="common.titleDeclarationTools"
                        routerLink="cong-cu-dung-cu/khai-bao-dau-ky">ccdc đầu kỳ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.GhiTangCCDC_Xem]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('ghi-tang-ccdc')"
                >Ghi
                    tăng CCDC</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.PhanBoCCDC_Xem]"><a class="nav-link"
                                                                                                  (click)="utilsService.navigateToOtherSite('phan-bo-ccdc')"
                >Phân
                    bổ CCDC</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KiemKeCCDC_Xem]"><a class="nav-link"
                                                                                                  (click)="utilsService.navigateToOtherSite('kiem-ke-ccdc')"
                >Kiểm
                    kê CCDC</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.GhiGiamCCDC_Xem]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('ghi-giam-ccdc')"
                >Ghi
                    giảm CCDC</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DieuChinhCCDC_Xem]"><a class="nav-link"
                                                                                                     (click)="utilsService.navigateToOtherSite('dieu-chinh-ccdc')"
                >Điều
                    chỉnh CCDC</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DieuChuyenCCDC_Xem]"><a class="nav-link"
                                                                                                      (click)="utilsService.navigateToOtherSite('dieu-chuyen-ccdc')"
                >Điều
                    chuyển CCDC</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TSCD]">
        <a class="nav-link" data-toggle="collapse" href="#ui-m11" aria-expanded="false" aria-controls="ui-m11"
           (click)="navigateTSCD()">
            <img src="/content/images/s11.png">
            <span class="menu-title">TÀI SẢN CỐ ĐỊNH</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m11">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KhaiBao_XEM]"><a class="nav-link"
                                                                                               (click)="utilsService.navigateToOtherSite('khai-bao-tscd')"
                >Khai
                    báo TSCĐ đầu kỳ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.GhiTangTSCD_Xem]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('ghi-tang-tscd')"
                                                                                                   jhiTranslate="common.ghiTang">Ghi
                    tăng TSCĐ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KhauHaoTSCD_Xem]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('tinh-khau-hao-tscd')"
                >Tính
                    khấu hao TSCĐ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KiemKeTSCD_Xem]"><a class="nav-link"
                                                                                                  (click)="utilsService.navigateToOtherSite('kiem-ke-tscd')"
                >Kiểm
                    kê TSCĐ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.GhiGiamTSCD_Xem]"><a class="nav-link"
                                                                                                   (click)="utilsService.navigateToOtherSite('ghi-giam-tscd')"
                >Ghi
                    giảm TSCĐ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DieuChinhTSCD_Xem]"><a class="nav-link"
                                                                                                     (click)="utilsService.navigateToOtherSite('dieu-chinh-tscd')"
                >Điều
                    chỉnh TSCĐ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DieuChuyenTSCD_Xem]"><a class="nav-link"
                                                                                                      (click)="utilsService.navigateToOtherSite('dieu-chuyen-tscd')"
                >Điều
                    chuyển TSCĐ</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.Luong]">
        <a class="nav-link" data-toggle="collapse" href="#maps" aria-expanded="false" aria-controls="maps"
           (click)="navigateLuong()">
            <img src="/content/images/s12.png">
            <span class="menu-title">LƯƠNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="maps">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.ChamCong_XEM]"
                                        (click)="utilsService.navigateToOtherSite('cham-cong', 11)"
                >Chấm công</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.TongHopChamCong_XEM]"
                                        (click)="utilsService.navigateToOtherSite('tong-hop-cham-cong', 11)"
                >Tổng hợp chấm công</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.BangLuong_XEM]"
                                        (click)="utilsService.navigateToOtherSite('bang-luong', 11)"
                >Bảng lương</a></li>
                <li class="nav-item"><a class="nav-link"
                                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HachToanChiPhiLuong_XEM]"
                                        (click)="utilsService.navigateToOtherSite('hach-toan-chi-phi-luong', 11)"
                >Hạch toán chi phí lương</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.NopTienBaoHiem_XEM]"
                                        (click)="showNopTienBaoHiem()">Nộp bảo hiểm</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.ThanhToanLuong_XEM]"
                                        (click)="showThanhToanLuong()">Thanh toán lương</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HopDong]">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth"
           (click)="navigateHopDong()">
            <img src="/content/images/s13.png">
            <span class="menu-title" jhiTranslate="common.contract">HỢP ĐỒNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a *ebHasSomeAuthority="['ROLE_ADMIN',ROLE_HopDongBan_Xem]" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('hop-dong-ban')"
                    >Hợp đồng bán</a>
                </li>
                <li class="nav-item">
                    <a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HopDongMua_Xem]" class="nav-link"
                       (click)="utilsService.navigateToOtherSite('hop-dong-mua')"
                    >Hợp đồng mua</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
