<div class="body">
    <div class="modal-header" style="padding-top: 10px; padding-bottom: 5px; background-color: #cbdcf0 !important;">
        <div class="d-flex flex-wrap col-md-11">
            <img style="margin-top: 3px" src="../../../content/images/icon-logo.png" height="25px"
                 width="25px">
            <h3 style="padding-left: 10px" class="modal-title-detail">
                <span jhiTranslate="salaryPayment.title"></span></h3>
        </div>
    </div>
    <div class="modal-body" style="padding-top: 5px; padding-bottom: 5px;background-color: #cbdcf0 !important;"
         (keydown.arrowLeft)="movePrevious($event)"
         (keydown.arrowRight)="moveNext($event)"
    >
        <div class="frm-main frm-mains nobg">
            <div class="form-group row">
                <label class="col-sm-1 my-col-form-label text-right" style="padding-top: 5px !important;"
                       jhiTranslate="salaryPayment.datePayment"></label>
                <div class="col-sm-2 pd-l-0">
                    <eb-date-picker [noSetDisabled]="true" [(ngModel)]="datePayment" name="datePayment"
                                    format="YYYY-MM-DD"
                                    [idIp]="'index1'"
                                    [tabindex]="1001"
                                    (ngModelChange)="selectChangeDatePayment()"></eb-date-picker>
                </div>
                <label class="col-sm-2 my-col-form-label  text-right" style="padding-top: 5px !important;"
                       jhiTranslate="insurancePayment.methodPayment"></label>
                <div class="col-sm-2 pd-l-0">
                    <select style="height: 35px;float: right" name="accountingObjectType"
                            id="field_accountingObjectType"
                            class="form-control form-control-sm noSetDisable"
                            [tabIndex]="1002"
                            [(ngModel)]="methodPayment" (ngModelChange)="selectChangeMethodPayment()"
                            (keydown.arrowRight)="stopEvent($event)"
                            (keydown.arrowLeft)="stopEvent($event)"
                    >
                        <option [ngValue]="method.value"
                                *ngFor="let method of methodList">{{method.name}}</option>
                    </select>
                </div>
                <label *ngIf="methodPayment === 121" class="col-sm-1 my-col-form-label  text-right"
                       style="padding-top: 5px !important;"
                       jhiTranslate="insurancePayment.paymentAccount"></label>
                <div *ngIf="methodPayment === 121" class="col-sm-2 pd-l-0">
                    <combo-box style="" id="field_BankAccountDetailID"
                               name="bankAccountDetailID"
                               [dataList]="bankAccountDetails"
                               [isOutTable]="true"
                               [listColumns]="utilsService.listColumnsBankAccountDetails"
                               displayMember="bankAccount"
                               valueName="id"
                               [headerColumns]="utilsService.listHeaderColumnsBankAccountDetails"
                               [isObject]="false"
                               [tabindex]="1003"
                               [noSetDisabled]="true"
                               [(ngModel)]="bankAccountDetailID"></combo-box>
                </div>
                <div class="col-sm-2 pd-l-0 text-center">
                    <button type="button" id="button1" class="btn btn-outline-success noSetDisable"
                            (click)="showHistory()" [tabIndex]="1004"
                            jhiTranslate="salaryPayment.historySalaryPayment">Save
                    </button>
                </div>
            </div>
            <div id="table-scroll-1" class="table-scroll"
                 style="z-index: 0; height: 390px !important; max-height: 390px !important;">
                <table class="main-table">
                    <thead>
                    <tr>
                        <th scope="col"
                            style="min-width: 50px !important; width: 50px !important; text-align: center !important;">
                            <div class="custom-control custom-checkbox" style="text-align: center !important;">
                                <input type="checkbox" class="custom-control-input noSetDisable" id="check-all"
                                       [checked]="isCheckAll()" (change)="checkAll()" [tabIndex]="1005">
                                <label class="custom-control-label" for="check-all"></label>
                            </div>
                        </th>
                        <th scope="col" jhiTranslate="salaryPayment.employeeCode">Mã nhân viên</th>
                        <th scope="col" jhiTranslate="salaryPayment.employeeName">Tên nhân viên</th>
                        <th scope="col" jhiTranslate="salaryPayment.organizationUnitCode">Phòng ban</th>
                        <th scope="col" jhiTranslate="salaryPayment.bankAccountDetailID">Số tài khoản</th>
                        <th scope="col" jhiTranslate="salaryPayment.bankName">Tên ngân hàng</th>
                        <th scope="col" jhiTranslate="salaryPayment.accumAmount">Số phải trả</th>
                        <th scope="col" jhiTranslate="salaryPayment.payAmount">Số trả lần này</th>
                    </tr>
                    <tr>
                        <th class="col" class="jsgrid-align-center sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;">
                        </th>
                        <th class="col" class="jsgrid-align-left sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;"><input
                            type="text" placeholder="{{'common.searchHere' | translate}}"
                            class="input-Cell"
                            name="searchEmployeeCode"
                            [(ngModel)]="searchEmployeeCode"
                            [tabIndex]="1006"
                            (ngModelChange)="changeSearch()">
                        </th>
                        <th class="col" class="jsgrid-align-left sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;"><input
                            type="text"
                            placeholder="{{'common.searchHere' | translate}}"
                            class="input-Cell"
                            name="searchEmployeeName"
                            [(ngModel)]="searchEmployeeName"
                            [tabIndex]="1007"
                            (ngModelChange)="changeSearch()"
                        >
                        </th>
                        <th class="col" class="jsgrid-align-left sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;"><input
                            type="text"
                            placeholder="{{'common.searchHere' | translate}}"
                            class="input-Cell"
                            name="searchCostSetCode"
                            [(ngModel)]="searchDepartmentCode"
                            [tabIndex]="1008"
                            (ngModelChange)="changeSearch()"
                        >
                        </th>
                        <th class="col" class="jsgrid-align-center sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;">
                        </th>
                        <th class="col" class="jsgrid-align-center sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;">
                        </th>
                        <th class="col" class="jsgrid-align-center sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;">
                        </th>
                        <th class="col" class="jsgrid-align-center sticky-35"
                            style="background: #fff !important; padding: 0px 10px !important;">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of salaryPayments, let i = index"
                        (keydown.arrowUp)="moveArrowUp($event, 7)"
                        (keydown.arrowDown)="moveArrowDown($event, 7)"
                    >
                        <td class="cell-Table jsgrid-align-center" style="min-width: 50px !important; width: 50px !important;">
                            <div class="custom-control custom-checkbox" style="text-align: center !important;">
                                <input type="checkbox" class="custom-control-input noSetDisable"
                                       name="{{'checkbox' + i}}"
                                       id="{{'checkbox' + i}}" [(ngModel)]="item.check" (click)="check(item)"
                                       [tabIndex]="1009 + 7 * i">
                                <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                            </div>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">
                            <input type="text"
                                   class="input-Cell"
                                   name="getEmployeeCode{{i}}"
                                   id="getEmployeeCode{{i}}" [tabIndex]="1010 + 7 * i"
                                   [ngModel]="getEmployeeCode(i)" disabled>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">
                            <input type="text"
                                   class="input-Cell"
                                   name="getEmployeeName{{i}}"
                                   id="getEmployeeName{{i}}" [tabIndex]="1011 + 7 * i"
                                   [ngModel]="getEmployeeName(i)" disabled>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">
                            <input type="text"
                                   class="input-Cell"
                                   name="getOrganizationUnitCode{{i}}"
                                   id="getOrganizationUnitCode{{i}}" [tabIndex]="1012 + 7 * i"
                                   [ngModel]="getOrganizationUnitCode(i)" disabled>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left" style="overflow: unset">
                            <combo-box style="" id="field_accountingObjectBankAccounts{{i}}"
                                       name="accountingObjectBankAccounts{{i}}"
                                       [dataList]="item.accountingObjectBankAccounts"
                                       [isOutTable]="false"
                                       [listColumns]="utilsService.listColumnsAccountingObjectBankAccount"
                                       displayMember="bankAccount"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsBankAccountDetails"
                                       [isObject]="false"
                                       [tabindex]="1013 + 7 * i"
                                       [(ngModel)]="item.accountingObjectBankAccountID"
                                       (ngModelChange)="selectChangeAccountingObjectBankAccount(i, item.accountingObjectBankAccountID)"></combo-box>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">{{item.bankName}}
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left"><input type="number"
                                                                         class="input-Cell"
                                                                         name="accumAmount{{i}}"
                                                                         id="accumAmount{{i}}"
                                                                         [(ngModel)]="item.accumAmount"
                                                                         ebCurrencyMask
                                                                         [tabIndex]="1014 + 7 * i"
                                                                         [systemOptions]="account?.systemOption"
                                                                         [type]="7" disabled>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">
                            <input type="number"
                                   class="input-Cell noSetDisable"
                                   name="payAmount{{i}}"
                                   id="payAmount{{i}}"
                                   [(ngModel)]="item.payAmount"
                                   (ngModelChange)="changeListEdit(item)"
                                   [tabIndex]="1015 + 7 * i"
                                   ebCurrencyMask
                                   [systemOptions]="account?.systemOption"
                                   [type]="7">
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(10 - salaryPayments?.length)">
                        <td style="min-width: 40px !important; width: 40px !important;"
                            class="cell-Table jsgrid-align-center"
                        >&nbsp;
                        </td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                        <td class="cell-Table jsgrid-align-right"><input type="text" class="input-Cell" readonly>
                        </td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                        <td class="cell-Table jsgrid-align-right"
                        ><input type="text" class="input-Cell" readonly></td>
                    </tr>
                    </tbody>
                    <tfoot [class.myreadonlytrue]="true">
                    <tr>
                        <td class="cell-Table countRow" colspan="6" style="width: 150px"><input type="text"
                                                                                                [class.myreadonlytrue]="true"
                                                                                                [class.noEdit]="true"
                                                                                                class="countRow input-Cell"
                                                                                                value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{salaryPayments ? salaryPayments?.length : 0}}">
                        </td>
                        <td
                            class="cell-Table jsgrid-align-center countRow"
                            style="width: 150px"><input type="text" [class.myreadonlytrue]="true"
                                                        class="input-Cell"
                                                        name="sumAccumAmount"
                                                        id="sumAccumAmount"
                                                        [ngModel]="sumFooterSalaryPayments('accumAmount')"
                                                        ebCurrencyMask
                                                        [systemOptions]="account?.systemOption"
                                                        [type]="7"
                                                        readonly>
                        </td>
                        <td
                            class="cell-Table jsgrid-align-center countRow"
                            style="width: 150px"><input type="text" [class.myreadonlytrue]="true"
                                                        class="input-Cell"
                                                        name="sumPayAmount"
                                                        id="sumPayAmount"
                                                        [ngModel]="sumFooterSalaryPayments('payAmount')"
                                                        ebCurrencyMask
                                                        [systemOptions]="account?.systemOption"
                                                        [type]="7"
                                                        readonly>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div *ngIf="salaryPayments && salaryPayments?.length"
                 style="padding-right: 16px;">
                <div class="row" style="height: 32px; padding-top: 10px !important;">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-end" style="height:32px">
                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <label class="col-sm-9 col-form-label" for="itemsPerPage"
                                           style="padding-right: 0px;text-align: right; padding-top: 3px"><span
                                        jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                                    <div class="col-sm-3 pd-l-0">
                                        <select class="form-control form-control-sm" name="itemsPerPage"
                                                id="itemsPerPage"
                                                style="background-color: #f5f7fa;"
                                                [(ngModel)]="itemsPerPage"
                                                [tabIndex]="1015 + 7 * salaryPayments?.length"
                                                (ngModelChange)="selectedItemPerPage()"
                                        >
                                            <option [value]="10">10</option>
                                            <option [value]="20">20</option>
                                            <option [value]="30">30</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page"
                                                [pageSize]="itemsPerPage"
                                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                                (pageChange)="loadPage(page)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color: #cbdcf0 !important;">
        <div class="col-lg-4">
            <div class="form-group row">
                <button style="color: black" class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group row" style="justify-content: flex-end">
                <button style="margin-right: 5px !important;" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]"
                        type="button" class="btn btn-outline-success"
                        [tabIndex]="1016 + 7 * salaryPayments?.length"
                        (click)="accept()" jhiTranslate="entity.action.ok">Đồng
                    ý
                </button>
                <button style="margin-right: 5px !important;" type="button" class="btn btn-outline-dark"
                        (click)="activeModal.dismiss('closed');closePopup()"
                        [tabIndex]="1017 + 7 * salaryPayments?.length"
                        jhiTranslate="entity.action.close">Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #showVoucher let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="salaryPayment.questionViewVoucher"
                       translateValues="{no: '{{res.no}}'}"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continueViewVoucher()"
                jhiTranslate="entity.action.ok">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()"
                jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>

<ng-template #historySalaryPayment let-modal>
    <div class="modal-header" style="padding-top: 10px; padding-bottom: 5px">
        <div class="d-flex flex-wrap col-md-11">
            <img style="margin-top: 3px" src="../../../content/images/icon-logo.png" height="25px"
                 width="25px">
            <h3 style="padding-left: 10px" class="modal-title-detail">
                <span jhiTranslate="salaryPayment.historySalaryPayment"></span></h3>
        </div>
    </div>
    <div class="modal-body" style="padding-top: 5px; padding-bottom: 0px !important;">
        <div class="frm-main frm-mains nobg" style="margin-bottom: 0px !important;">
            <div class="form-group row"
                 (keydown.arrowLeft)="movePrevious($event)"
                 (keydown.arrowRight)="moveNext($event)"
            >
                <div *ngIf="true" class="col-sm-3 pd-l-0">
                    <div class="form-group row">
                        <label class="col-sm-4 my-col-form-label-sm" style="padding-top: 7px !important;"
                               jhiTranslate="salaryPayment.employee"></label>
                        <div class="col-sm-8">
                            <combo-box style="" id="field_employees"
                                       name="employeeList"
                                       [idIp]="'index2'"
                                       [dataList]="employees"
                                       [isOutTable]="true"
                                       [nameCategory]="utilsService.NHAN_VIEN"
                                       [listColumns]="utilsService.listColumnsEmployees"
                                       displayMember="accountingObjectCode"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsEmployees"
                                       [isObject]="false"
                                       [(ngModel)]="employeeID"
                                       [tabindex]="10001"
                                       [useVirtualScroll]="true"
                                       (afterDataChange)="afterDataChange($event)"
                            ></combo-box>
                        </div>
                    </div>
                </div>
                <div *ngIf="true" class="col-sm-3">
                    <div class="form-group row">
                        <label jhiTranslate="salaryPayment.periodPayment" class="col-sm-3 my-col-form-label text-right"
                               style="padding-top: 7px !important;">Chọn
                            thời
                            gian</label>
                        <div class="col-sm-9">
                            <combo-box style=""
                                       name="timeLine"
                                       [dataList]="listTimeLine"
                                       [listColumns]="utilsService.listColumnsTimeLine"
                                       [isOutTable]="true"
                                       displayMember="display"
                                       valueName="value"
                                       [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                                       [isObject]="false"
                                       [(ngModel)]="timeLineVoucher"
                                       [noSetDisabled]="true"
                                       [tabindex]="10002"
                                       (ngModelChange)="selectChangeBeginDateAndEndDate(timeLineVoucher)"
                            ></combo-box>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label jhiTranslate="common.fromDate"
                               class="col-sm-4 my-col-form-label-sm text-right"
                               style="padding-top: 7px !important;"></label>
                        <div class="col-sm-8">
                            <eb-date-picker [(ngModel)]="fromDate" name="fromdate" [tabindex]="10003"
                                            [noSetDisabled]="true"></eb-date-picker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label jhiTranslate="common.toDate"
                               class="col-sm-4 my-col-form-label-sm text-right"
                               style="padding-top: 7px !important;"></label>
                        <div class="col-sm-8">
                            <eb-date-picker [(ngModel)]="toDate" name="toDate" [tabindex]="10004"
                                            [noSetDisabled]="true"></eb-date-picker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-success btn-sm noSetDisable" (click)="selectChangeHistorySalaries()"
                            [tabIndex]="10005"
                            style="font-size: 16px"><i
                        class="mdi mdi-magnify"
                        aria-hidden="true"
                        style="margin-right: 5px">
                    </i><span jhiTranslate="ebwebApp.receiveBill.getData"></span>
                    </button>
                </div>
            </div>
            <div id="table-scroll-2" class="table-scroll" style="z-index: 0; height: 325px">
                <table class="main-table">
                    <thead>
                    <tr>
                        <th scope="col" jhiTranslate="salaryPayment.postedDate">Ngày chứng từ</th>
                        <th scope="col" jhiTranslate="salaryPayment.date">Ngày hạch toán</th>
                        <th scope="col" jhiTranslate="salaryPayment.noBook">Số chứng từ</th>
                        <th scope="col" jhiTranslate="salaryPayment.description">Diễn giải</th>
                        <th scope="col" jhiTranslate="salaryPayment.accumAmount">Số phải trả</th>
                        <th scope="col" jhiTranslate="salaryPayment.payAmount">Số đã trả</th>
                        <th scope="col" jhiTranslate="salaryPayment.remainingAmount">Số còn phải trả</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of historySalaryPayments, let i = index">
                        <td class="jsgrid-align-center">
                            {{item.postedDate | date:'dd/MM/yyyy'}}
                        </td>
                        <td class="jsgrid-align-center">
                            {{item.date | date:'dd/MM/yyyy'}}
                        </td>
                        <td class="jsgrid-cell jsgrid-align-center line-h pd-l-r-5"
                            (click)="utilsService.viewRefVoucher(item)"
                            style="color:blue; text-decoration: underline;">{{item.no}}
                        </td>
                        <td class="jsgrid-align-left">
                            {{item.reason}}
                        </td>
                        <td class="jsgrid-align-left"><input type="text"
                                                             class="input-Cell"
                                                             name="accumAmount_search{{i}}"
                                                             id="accumAmount_search{{i}}"
                                                             [(ngModel)]="item.accumAmount"
                                                             ebCurrencyMask
                                                             [systemOptions]="account?.systemOption"
                                                             [type]="7" disabled>
                        </td>
                        <td class="jsgrid-align-left">
                            <input type="text"
                                   class="input-Cell"
                                   name="payAmount_search{{i}}"
                                   id="payAmount_search{{i}}"
                                   [(ngModel)]="item.payAmount"
                                   ebCurrencyMask
                                   [systemOptions]="account?.systemOption"
                                   [type]="7" disabled>
                        </td>
                        <td class="jsgrid-align-left">
                            <input type="text"
                                   class="input-Cell"
                                   name="remainingAmount_search{{i}}"
                                   id="remainingAmount_search{{i}}"
                                   [(ngModel)]="item.remainingAmount"
                                   ebCurrencyMask
                                   [systemOptions]="account?.systemOption"
                                   [type]="7" disabled>
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(10 - historySalaryPayments?.length)">
                        <td class="jsgrid-cell jsgrid-align-center"
                        >&nbsp;
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                        <td class="jsgrid-cell jsgrid-align-right">
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                    </tr>
                    </tbody>
                    <tfoot [class.myreadonlytrue]="true">
                    <tr>
                        <td class="cell-Table countRow" colspan="4" style="width: 150px"><input type="text"
                                                                                                [class.myreadonlytrue]="true"
                                                                                                [class.noEdit]="true"
                                                                                                class="countRow input-Cell"
                                                                                                value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{historySalaryPayments ? historySalaryPayments?.length : 0}}">
                        </td>
                        <td
                            class="cell-Table jsgrid-align-center countRow"
                            style="width: 150px"><input type="text" [class.myreadonlytrue]="true"
                                                        class="input-Cell"
                                                        name="sumAccumAmountHistory"
                                                        id="sumAccumAmountHistory"
                                                        [ngModel]="sumFooterHistoryPayments('accumAmount')"
                                                        ebCurrencyMask
                                                        [systemOptions]="account?.systemOption"
                                                        [type]="7"
                                                        readonly>
                        </td>
                        <td
                            class="cell-Table jsgrid-align-center countRow"
                            style="width: 150px"><input type="text" [class.myreadonlytrue]="true"
                                                        class="input-Cell"
                                                        name="sumPayAmountHistory"
                                                        id="sumPayAmountHistory"
                                                        [ngModel]="sumFooterHistoryPayments('payAmount')"
                                                        ebCurrencyMask
                                                        [systemOptions]="account?.systemOption"
                                                        [type]="7"
                                                        readonly>
                        </td>
                        <td
                            class="cell-Table jsgrid-align-center countRow"
                            style="width: 150px"><input type="text" [class.myreadonlytrue]="true"
                                                        class="input-Cell">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div *ngIf="historySalaryPayments && historySalaryPayments?.length"
                 style="padding-right: 16px;">
                <div class="row" style="height: 32px; padding-top: 10px !important; padding-bottom: 35px !important;">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-end" style="height:32px">
                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <label class="col-sm-8 col-form-label" for="itemsPerPageHistory"
                                           style="padding-right: 0px;text-align: right; padding-top: 3px"><span
                                        jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItemsHistory}}
                                    </label>
                                    <div class="col-sm-4 pd-l-0">
                                        <select class="form-control form-control-sm" name="itemsPerPageHistory"
                                                id="itemsPerPageHistory"
                                                style="background-color: #f5f7fa;"
                                                [(ngModel)]="itemsPerPageHistory"
                                                [tabIndex]="10005* historySalaryPayments?.length"
                                                (ngModelChange)="selectedItemPerPage()"
                                        >
                                            <option [value]="10">10</option>
                                            <option [value]="20">20</option>
                                            <option [value]="30">30</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <ngb-pagination [size]="'sm'" [collectionSize]="totalItemsHistory"
                                                [(page)]="pageHistory"
                                                [pageSize]="itemsPerPageHistory"
                                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                                (pageChange)="loadPageHistory(pageHistory)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px">
        <button type="button" class="btn btn-outline-dark" (click)="close()" [tabIndex]="10006"
                jhiTranslate="entity.action.close">Đóng
        </button>
    </div>
</ng-template>

<ng-template #warningAmountPayableThisTime let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="salaryPayment.warningAmountPayableThisTime"
                       translateValues="{warningAmountPayableThisTimeMessage: '{{warningAmountPayableThisTimeMessage}}'}"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continueAccept()"
                jhiTranslate="entity.action.ok">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()"
                jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>
