<div>
    <div>
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.pSTimeSheetSummary.home.title"></span>
            </div>
            <div class="gr-toolbar">
                <button class="button-navigation" title="{{buttonAddTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]"
                        (click)="addNew(false)"><i
                    class="mdi mdi-plus"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.add"></span></button>
                <button class="button-navigation" title="{{buttonDeleteTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XOA]"
                        [disabled]="pSTimeSheetsSummary?.length === 0 || !selectedRow || !checkSameOrg()"
                        (click)="delete()"><i
                    class="mdi mdi-delete"></i> <span jhiTranslate="ebwebApp.mBDeposit.home.delete"></span></button>
                <div ngbDropdown class="mdi d-inline-block" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_IN]">
                    <button class="button-navigation pl-0" [disabled]="checkDisable()||!selectedRow"
                            [class.disableDiv]="!selectedRow"
                            id="dropdownM1" ngbDropdownToggle
                            style="background: transparent;border: none">
                        <i class="mdi mdi-printer"></i>
                        <span jhiTranslate="entity.action.print">In</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownM1" style="padding: 0 !important; width: 210px">
                        <button [hidden]="checkPSTimeSheetSummary(27)" class="btn-dr-i hover-dr"><span
                            jhiTranslate="ebwebApp.pSTimeSheetSummary.dayTimeSheet"
                            (click)="exportPDFWebService(27)"></span></button>
                        <button [hidden]="checkPSTimeSheetSummary(28)" class="btn-dr-i hover-dr"><span
                            jhiTranslate="ebwebApp.pSTimeSheetSummary.hourTimeSheet"
                            (click)="exportPDFWebService(28)"></span></button>
                    </div>
                </div>
                <button class="button-navigation" title="{{buttonExportTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KETXUAT]"
                        (click)="export()" [disabled]="pSTimeSheetsSummary?.length === 0"><i
                    class="mdi mdi-file-export"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.exportExcel"></span></button>
                <button class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="!isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.gOtherVoucher.home.hideAdvanceSearch"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.mBDeposit.home.advanceSearch"></span>
                </button>
            </div>
        </div>

        <div class="frm-main frm-mains nobg">
            <form id="seach" style="background: #cbdcf0;" [hidden]="!isShowSearch">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.typeName"></label>
                            <div class="col-sm-7 pd-l-0">
                                <!--                                <select style="height: 35px;float: right" name="listTypePSTimeSheetSearch"-->
                                <!--                                        id="field_listTypePSTimeSheetSearch"-->
                                <!--                                        class="form-control form-control-sm"-->
                                <!--                                        [(ngModel)]="objSearch.typeID">-->
                                <!--                                    <option [ngValue]="type.value"-->
                                <!--                                            *ngFor="let type of listTypePSTimeSheet">{{type.name}}</option>-->
                                <!--                                </select>-->
                                <combo-box style="" id="field_listTypePSTimeSheetSearch"
                                           name="listTypePSTimeSheetSearch"
                                           [idIp]="'inputFirst'"
                                           [tabindex]="1"
                                           [dataList]="listTypePSTimeSheet"
                                           [isOutTable]="true"
                                           [listColumns]="['name']"
                                           displayMember="name"
                                           valueName="value"
                                           [headerColumns]="['Loại tổng hợp chấm công']"
                                           [isObject]="false"
                                           [(ngModel)]="objSearch.typeID">
                                </combo-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.fromDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [tabindex]="2" [(ngModel)]="objSearch.fromDate" name="fromDate"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   style="padding-top: 7px; padding-right: 0px"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.toDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [tabindex]="3" [(ngModel)]="objSearch.toDate" name="toDate"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="timKiem.keyWord"></label>
                            <div class="col-sm-5">
                                <input [tabIndex]="4" [(ngModel)]="objSearch.textSearch" name="searchValue" id="field_searchValue"
                                       type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="frm-button">
                            <button class="btn btn-success btn-sm" [tabIndex]="5" (click)="search()" style="font-size: 16px"><i
                                class="mdi mdi-magnify"
                                aria-hidden="true"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="timKiem.search"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" [tabIndex]="6" (click)="clearSearch()" style="font-size: 16px"><i
                                class="mdi mdi-replay"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="ebwebApp.gOtherVoucher.detail.reset"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="frm-main frm-tables frm-padding no-highlight" style="background: #cbdcf0; margin-top: 5px;">
                <div id="table-scroll0" class="table-scroll voucher-table" style="height: 295px !important;">
                    <table id="main-table0" class="main-table">
                        <thead class="header-table">
                        <tr>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.month" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.year"  style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.typeID" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetSummary.pSTimeSheetSummaryName">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ipsTimeSheet of pSTimeSheetsSummary ; let i = index; trackBy: trackId"
                            (click)="selectMultiRow(ipsTimeSheet, $event, pSTimeSheetsSummary)"
                            [class.selected]="this.selectedRows.indexOf(ipsTimeSheet) !== -1"
                            (dblclick)="edit()">
                            <td title="{{ipsTimeSheet.month}}" class="jsgrid-cell jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{ipsTimeSheet.month}}</td>
                            <td title="{{ipsTimeSheet.year}}" class="jsgrid-cell jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{ipsTimeSheet.year}}</td>
                            <td title="{{getTypeTimeSheet(ipsTimeSheet.typeID)}}"
                                class="jsgrid-cell jsgrid-align-left"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{getTypeTimeSheet(ipsTimeSheet.typeID)}}</td>
                            <td title="{{ipsTimeSheet.pSTimeSheetSummaryName}}"
                                class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{ipsTimeSheet.pSTimeSheetSummaryName}}</td>
                        </tr>
                        <tr *ngFor="let l of newArr(9 - pSTimeSheetsSummary?.length)">
                            <td class="cell-Table jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly>
                            </td>
                            <td class="cell-Table jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly>
                            </td>
                            <td class="cell-Table jsgrid-align-right"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly></td>
                            <td class="cell-Table jsgrid-align-right"
                                style="width: 150px"><input type="text" class="input-Cell" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--        phân trang-->
        <div *ngIf="pSTimeSheetsSummary && pSTimeSheetsSummary.length"
             style="padding-right: 16px;">
            <div class="row" style="height: 32px">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-end" style="height:32px">
                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-sm-9 col-form-label" for="itemsPerPage"
                                       style="padding-right: 0px;text-align: right;"><span
                                    jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                                <div class="col-sm-3 pd-l-0">
                                    <select class="form-control form-control-sm" name="itemsPerPage"
                                            id="itemsPerPage"
                                            style="background-color: #f5f7fa;"
                                            [(ngModel)]="itemsPerPage"
                                            (ngModelChange)="selectedItemPerPage()"
                                    >
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-end">
                            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page"
                                            [pageSize]="itemsPerPage"
                                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        end of phan trang-->
        <!--        Nộp tiền vào tài khoản-->
        <div>
            <ngb-tabset class="tool-navbar">
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mBDeposit.home.chiTiet"></span></ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail-160"
                                 style="background: #cbdcf0">
                                <div id="table-scroll-detail-160" class="table-scroll"
                                     style="height: 295px !important;">
                                    <table id="main-table-detail-160" class="main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.stt"
                                                style="min-width: 20px !important;"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.departmentID"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.employeeID"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.accountingObjectName">
                                            </th>
                                            <th *ngIf="!selectedRow || selectedRow.typeID === TYPE_TH_CHAM_CONG_THEO_NGAY" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workAllDay"></th>
                                            <th *ngIf="selectedRow && selectedRow.typeID === TYPE_TH_CHAM_CONG_THEO_GIO" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workAllHour"></th>
                                            <th *ngIf="!selectedRow || selectedRow.typeID === TYPE_TH_CHAM_CONG_THEO_NGAY" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workHalfAday">
                                            <th *ngIf="selectedRow && selectedRow.typeID === TYPE_TH_CHAM_CONG_THEO_GIO" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workHalfAhour">
                                            </th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.totalOverTime">
                                            </th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.total">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let detail of utilsService.getSortArray(pSTimeSheetSummaryDetails); let i = index">
                                            <td title="{{i + 1}}"
                                                class="jsgrid-cell jsgrid-align-center"
                                                style="min-width: 20px !important;">{{i + 1}}</td>
                                            <td title="{{getDepartmentID(detail.departmentID)}}"
                                                class="jsgrid-cell jsgrid-align-center">{{getDepartmentID(detail.departmentID)}}
                                            </td>
                                            <td title="{{getEmployeeByID(detail.employeeID)}}"
                                                class="jsgrid-cell jsgrid-align-center">{{getEmployeeByID(detail.employeeID)}}</td>
                                            <td title="{{getEmployeeName(detail.employeeID)}}"
                                                class="jsgrid-cell jsgrid-align-left">{{getEmployeeName(detail.employeeID)}}</td>

                                            <td title="{{detail.workAllDay}}"
                                                class="jsgrid-cell jsgrid-align-right"><input type="text"
                                                                                              class="input-Cell"
                                                                                              name="workAllDay{{i}}"
                                                                                              id="workAllDay{{i}}"
                                                                                              [ngModel]="detail.workAllDay"
                                                                                              ebCurrencyMask
                                                                                              [options]="optionsDirective"
                                                                                              disabled></td>
                                            <td title="{{detail.workHalfAday}}"
                                                class="jsgrid-cell jsgrid-align-right"><input type="text"
                                                                                              class="input-Cell"
                                                                                              name="workHalfAday{{i}}"
                                                                                              id="workHalfAday{{i}}"
                                                                                              [ngModel]="detail.workHalfAday"
                                                                                              ebCurrencyMask
                                                                                              [options]="optionsDirective"
                                                                                              disabled></td>
                                            <td title="{{detail.totalOverTime}}"
                                                class="jsgrid-cell jsgrid-align-right"><input type="text"
                                                                                              class="input-Cell"
                                                                                              name="totalOverTime{{i}}"
                                                                                              id="totalOverTime{{i}}"
                                                                                              [ngModel]="detail.totalOverTime"
                                                                                              ebCurrencyMask
                                                                                              [options]="optionsDirective"
                                                                                              disabled></td>
                                            <td title="{{detail.total}}"
                                                class="jsgrid-cell jsgrid-align-right"><input type="text"
                                                                                              class="input-Cell"
                                                                                              name="total{{i}}"
                                                                                              id="total{{i}}"
                                                                                              [ngModel]="detail.total"
                                                                                              ebCurrencyMask
                                                                                              [options]="optionsDirective"
                                                                                              disabled></td>
                                        </tr>
                                        <tr *ngFor="let l of newArr(9 - pSTimeSheetSummaryDetails?.length)">
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center"
                                                style="width: 150px"><input type="text" class="input-Cell" readonly>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot [class.myreadonlytrue]="true">
                                        <tr>
                                            <td class="cell-Table countRow" style="width: 150px"><input type="text"
                                                                                                        [class.noEdit]="true"
                                                                                                        class="countRow input-Cell"
                                                                                                        value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{pSTimeSheetSummaryDetails ? pSTimeSheetSummaryDetails?.length : 0}}">
                                            </td>
                                            <td class="cell-Table countRow" colspan="3" style="width: 150px"><input
                                                type="text"
                                                class="countRow input-Cell"
                                                [class.noEdit]="true"></td>
                                            <td class="cell-Table jsgrid-align-center countRow"
                                                style="width: 150px"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumWorkAllDay"
                                                                            id="sumWorkAllDay"
                                                                            [ngModel]="sumFooter('workAllDay')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center countRow"
                                                style="width: 150px"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumWorkHalfADay"
                                                                            id="sumWorkHalfADay"
                                                                            [ngModel]="sumFooter('workHalfAday')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center countRow"
                                                style="width: 150px"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumTotalOverTime"
                                                                            id="sumTotalOverTime"
                                                                            [ngModel]="sumFooter('totalOverTime')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center countRow"
                                                style="width: 150px"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumTotal"
                                                                            id="sumTotal"
                                                                            [ngModel]="sumFooter('total')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<ng-template #popUpMultiDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.pSTimeSheetSummary.multiDeleteMessage"></label>
                <!--                <label *ngIf="typeMultiAction === 1" jhiTranslate="ebwebApp.mBDeposit.multiUnrecordMessage"></label>-->
                <!--                <label *ngIf="typeMultiAction === 2" jhiTranslate="ebwebApp.mBDeposit.multiRecordMessage"></label>-->
                <!--                <label *ngIf="selectedRows?.length === 1" jhiTranslate="ebwebApp.mBDeposit.deleteMessage"></label>-->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDelete()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>

<ng-template #contentAddNew let-dismissAdd="dismiss">
    <div class="modal-header p-3" style="background: #cbdcf0;">
        <span jhiTranslate="ebwebApp.pSTimeSheetSummary.boardPSTimeSheetSummary"></span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" [tabIndex]="-1"
                (click)="dismissAdd('Close'); closePopup()">&times;
        </button>
    </div>
    <div class="modal-body p-3" style="background: #cbdcf0;">
        <form>
            <div class="form-group row" style="padding-bottom: 5px">
                <div class="col-3">
                    <label jhiTranslate="ebwebApp.pSTimeSheetSummary.typeID"></label>
                </div>
                <div class="col-3">
                    <select style="height: 35px;float: right" name="accountingObjectType"
                            id="field_accountingObjectType"
                            class="form-control form-control-sm"
                            [(ngModel)]="typeID" [tabIndex]="1001"
                            (change)="selectChangePSSheetName()">
                        <option [ngValue]="type.value"
                                *ngFor="let type of listTypePSTimeSheet">{{type.name}}</option>
                    </select>
                </div>
                <div class="col-1">
                    <label jhiTranslate="ebwebApp.pSTimeSheet.month"></label>
                </div>
                <div class="col-2">
                    <combo-box style="" id="field_listMonth"
                               name="comboboxlistMonth"
                               [dataList]="listMonth"
                               [isOutTable]="true"
                               [valueIsNumber]="true"
                               [listColumns]="['name']"
                               displayMember="value"
                               valueName="value"
                               [headerColumns]="['Tháng']"
                               [isObject]="false"
                               [(ngModel)]="month"
                               [tabindex]="1002"
                               (ngModelChange)="selectChangePSSheetName()">
                    </combo-box>
                </div>
                <div class="col-1">
                    <label jhiTranslate="ebwebApp.pSTimeSheet.year"></label>
                </div>
                <div class="col-2">
                    <combo-box style="" id="field_listYear"
                               name="comboboxlistYear"
                               [dataList]="listYear"
                               [isOutTable]="true"
                               [valueIsNumber]="true"
                               [listColumns]="['value']"
                               displayMember="value"
                               valueName="value"
                               [headerColumns]="['Năm']"
                               [isObject]="false"
                               [(ngModel)]="year"
                               [tabindex]="1003"
                               (ngModelChange)="selectChangePSSheetName()">
                    </combo-box>
                </div>
            </div>
            <div class="form-group row" style="padding-bottom: 5px">
                <div class="col-3">
                    <label jhiTranslate="ebwebApp.pSTimeSheetSummary.pSTimeSheetSummaryName"></label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control form-control-sm"
                           name="pSTimeSheetName"
                           [(ngModel)]="pSTimeSheetSummaryName" maxlength="256" [tabIndex]="1004"/>
                </div>
            </div>
            <div id="table-scroll0" class="table-scroll" style="z-index: 0; padding-bottom: 5px !important;">
                <table class="main-table" style="min-width: 750px !important;">
                    <thead>
                    <tr>
                        <th scope="col"  style="min-width: 50px !important; max-width: 50px !important; width: 50px !important;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-all"
                                       [checked]="isCheckAll()" (change)="checkAll()" [tabIndex]="1005">
                                <label class="custom-control-label" for="check-all"></label>
                            </div>
                        </th>
                        <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.organizationUnitCode" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">Mã phòng ban</th>
                        <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.organizationUnitName" style="min-width: 100px !important; max-width: 100px !important; width: 100px !important;">Tên phòng ban</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of organizationUnitss, let i = index">
                        <td class="text-center"  style="min-width: 50px !important; max-width: 50px !important; width: 50px !important;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="{{'checkbox' + i}}" [tabIndex]="1006 + i"
                                       id="{{'checkbox' + i}}" [(ngModel)]="item.checked" (click)="check(item)">
                                <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                            </div>
                        </td>
                        <td class="jsgrid-align-left" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            {{item.organizationUnitCode}}
                        </td>
                        <td class="jsgrid-align-left" style="min-width: 100px !important; max-width: 100px !important; width: 100px !important;">
                            {{item.organizationUnitName}}
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(8 - organizationUnitss?.length)">
                        <td class="cell-Table jsgrid-align-center"  style="min-width: 50px !important; max-width: 50px !important; width: 50px !important;"
                        >&nbsp;
                        </td>
                        <td class="cell-Table jsgrid-align-right"  style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"
                        ></td>
                        <td class="cell-Table jsgrid-align-right"  style="min-width: 100px !important; max-width: 100px !important; width: 100px !important;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group row" style="padding-bottom: 5px">
                <div class="col-5">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="taoMoiHoanToan"
                               name="taoMoiHoanToan"
                               class="custom-control-input" [tabIndex]="1007 + organizationUnitss.length"
                               [value]="0" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()">
                        <label class="custom-control-label"
                               for="taoMoiHoanToan"
                               jhiTranslate="ebwebApp.pSTimeSheet.taoMoiHoanToan"></label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="taoMoiKhac"
                               name="taoMoiKhac"
                               class="custom-control-input"
                               [tabIndex]="1008 + organizationUnitss.length"
                               [value]="1" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()">
                        <label class="custom-control-label"
                               for="taoMoiKhac"
                               jhiTranslate="ebwebApp.pSTimeSheetSummary.taoMoiKhac"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row" style="padding-bottom: 5px">
                <div class="col-5">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="taoMoiKhac2"
                               name="taoMoiKhac2"
                               class="custom-control-input" [tabindex]="1009 + organizationUnitss.length"
                               [value]="2" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()">
                        <label class="custom-control-label"
                               for="taoMoiKhac2"
                               jhiTranslate="ebwebApp.pSTimeSheet.taoMoiKhac"></label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="importExcel"
                               name="importExcel"
                               class="custom-control-input" [tabindex]="1010 + organizationUnitss.length"
                               [value]="3" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()"
                               >
                        <label class="custom-control-label"
                               for="importExcel"
                               jhiTranslate="ebwebApp.pSTimeSheetSummary.importExcel"></label>
                    </div>
                </div>
            </div>
            <div *ngIf="typeCreate === DUA_TREN_BANG_THCC || typeCreate === DUA_TREN_BANG_CC" class="form-group row"
                 style="padding-bottom: 5px">
                <div class="col-3">
                    <label
                        jhiTranslate="{{typeCreate === DUA_TREN_BANG_THCC ? 'ebwebApp.pSTimeSheet.duaTrenBCC' : 'ebwebApp.pSTimeSheetSummary.duaTrenBCC'}}"></label>
                </div>
                <div class="col-9">
                    <combo-box style="" id="field_lastTimeSheetID"
                               name="comboboxlastTimeSheetID"
                               [dataList]="typeCreate === DUA_TREN_BANG_CC ? listLastPSTimeSheetSummary : listLastPSTimeSheet"
                               [isOutTable]="true"
                               [valueIsNumber]="true"
                               [listColumns]="typeCreate === DUA_TREN_BANG_CC ? ['pSTimeSheetSummaryName','typeLedgerStr'] : ['pSTimeSheetName','typeLedgerStr']"
                               displayMember="{{typeCreate === DUA_TREN_BANG_CC ? 'pSTimeSheetSummaryName' : 'pSTimeSheetName'}}"
                               [isReadOnly]="typeCreate === TAO_MOI_HOAN_TOAN"
                               valueName="id"
                               [headerColumns]="['Kỳ chấm công', 'Sổ làm việc']"
                               [isObject]="false"
                               [tabindex]="1010 + organizationUnitss.length"
                               [(ngModel)]="lastTimeSheetID"></combo-box>
                </div>
            </div>
            <div *ngIf="typeCreate === NHAP_TU_EXCEL" class="form-group row"
                 style="padding-bottom: 5px">
                <div class="col-2">
                    <label
                        jhiTranslate="ebwebApp.uploadFile"></label>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" (change)="changeFile($event)">
                                <label class="custom-file-label" for="customFile">{{file?.name}}</label>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-left: 0px">
                            <div>
                                <button class="btn btn-success" (click)="downloadTem()" jhiTranslate="ebwebApp.fileTemplate">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="form-group row" style="padding-bottom: 5px">-->
            <!--                <div class="col-3">-->
            <!--                </div>-->
            <!--                <div class="col-3">-->
            <!--                    <div class="custom-control custom-checkbox">-->
            <!--                        <input type="checkbox" class="custom-control-input"-->
            <!--                               id="autoAddNewEmployee"-->
            <!--                               name="autoAddNewEmployee"-->
            <!--                               [checked]="autoAddNewEmployee === true" [disabled]="typeCreate === 0"-->
            <!--                               (change)="changeCheckBoxAddNewEmployee()">-->
            <!--                        <label class="custom-control-label"-->
            <!--                               for="autoAddNewEmployee"-->
            <!--                               jhiTranslate="ebwebApp.pSTimeSheet.themNVMoi"></label>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-3">-->
            <!--                    <div class="custom-control custom-checkbox">-->
            <!--                        <input type="checkbox" class="custom-control-input"-->
            <!--                               id="getEmployeeNotActive"-->
            <!--                               name="getEmployeeNotActive"-->
            <!--                               [checked]="getEmployeeNotActive === true" [disabled]="typeCreate === 0"-->
            <!--                               (change)="changeCheckBoxGetEmployeeNotActive()">-->
            <!--                        <label class="custom-control-label"-->
            <!--                               for="getEmployeeNotActive"-->
            <!--                               jhiTranslate="ebwebApp.pSTimeSheet.layCaNgungTheoDoi"></label>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </form>
        <div class="row p-3 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-success mr-2" (click)="showPopupAddNew()" [tabindex]="1011 + organizationUnitss.length"
                    jhiTranslate="entity.action.ok">
                đồng ý
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="dismissAdd('Close'); closePopup()" [tabindex]="1012 + organizationUnitss.length"
                    jhiTranslate="entity.action.close">close
            </button>
        </div>
    </div>
</ng-template>

<ng-template #popUpDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.pSTimeSheetSummary.deleteMessage"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDeletePSTimeSheetSummary()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>
<ng-template #downFile let-d="dismiss">
    <div id="ModalCustom2">
        <div class="modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 15px 10px 10px 10px;">
                    <div class="d-flex flex-wrap col-md-11">
                        <h3 class="modal-title-detail"><span
                            class="text-uppercase" jhiTranslate="ebwebApp.saBill.upload.title">Upload hóa đơn</span></h3>
                    </div>
                    <a class="close-modal" data-dismiss="modal" (click)="d('Close')"
                       aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span jhiTranslate="ebwebApp.saBill.error.fileError">Dữ liệu không chính xác, bạn có muốn tải về file lỗi?</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <label></label>
                                <div>
                                    <button class="btn btn-default" (click)="d('Close')" jhiTranslate="entity.action.close">close</button>
                                    <button class="btn btn-success" (click)="download(); d('Close')" jhiTranslate="entity.action.download">download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
