<div (click)="closeContextMenu()">
    <div class="col-md-12">
        <div class="menu-tool-bar he" style="line-height: 16px;">
            <div class="gr-tool-bar2">
                <button *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" class="aprev button-navigation"
                        (click)="previousEdit()"
                        [disabled]="rowNum === count || count === 1 || !rowNum || isEdit"><i
                    class="mdi mdi-arrow-left"></i></button>
                <button *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" class="anext disable button-navigation"
                        (click)="nextEdit()"
                        [disabled]="rowNum === 1 || count === 1 || !rowNum || isEdit"><i
                    class="mdi mdi-arrow-right"></i></button>
                <button class="button-navigation" title="{{buttonAddTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]"
                        (click)="addNew($event)"
                        [disabled]="!disableAddButton || isCreateUrl"><i
                    class="mdi mdi-plus"></i><span jhiTranslate="ebwebApp.mBDeposit.home.add"
                                                   [class.disable]="!disableAddButton || isCreateUrl"></span></button>
                <button class="button-navigation" title="{{buttonEditTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_SUA]"
                        (click)="edit()"
                        [disabled]="disableEditButton ||  !checkSameOrg()">
                    <i
                        class="mdi mdi-file-document-edit"></i><span jhiTranslate="ebwebApp.mBDeposit.home.edit"
                                                                     [class.disable]="disableEditButton"></span>
                </button>
                <button class="button-navigation" title="{{buttonSaveTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM,ROLE_SUA]"
                        (click)="save(false)"
                        [disabled]="!isCreateUrl ||  !checkSameOrg()"><i class="mdi mdi-briefcase-download"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.save" [class.disable]="!isCreateUrl ||  !checkSameOrg()"></span></button>
                <button class="button-navigation" title="{{buttonDeleteTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XOA]"
                        (click)="delete()"
                        [disabled]="isCreateUrl || !checkSameOrg()">
                    <i
                        class="mdi mdi-delete-forever"></i><span jhiTranslate="ebwebApp.mBDeposit.home.delete"
                                                                 [class.disable]="isCreateUrl"></span></button>
                <button class="button-navigation" href="javascript:void(0);" (click)="exportExcel()" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KETXUAT]">
                    <i class="mdi mdi-file-import"></i>
                    <span jhiTranslate="entity.action.render"></span>
                </button>

<!--                <button class="button-navigation"-->
<!--                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_IN]"-->
<!--                        [disabled]="isCreateUrl" class="dropdown-toggle"-->
<!--                        data-toggle="dropdown" (click)="print($event)"-->
<!--                        role="button">-->
<!--                    <fa-icon [icon]="'print'"></fa-icon>-->
<!--                    <span-->
<!--                        jhiTranslate="common.print"></span></button>-->
<!--                <div class="dropdown-menu">-->
<!--                    &lt;!&ndash;                    <div class="dropdown-item" *ngIf="pSTimeSheetSummary.id&&!isCreateUrl">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <button class="button-navigation" (click)="CTKTExportPDF(false,1)">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <span class="btn-drop-down" jhiTranslate="ebwebApp.mBDeposit.financialPaper"></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <div class="dropdown-item"&ndash;&gt;-->
<!--                    &lt;!&ndash;                         *ngIf="pSTimeSheetSummary.id&&!isCreateUrl">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <button class="button-navigation" (click)="CTKTExportPDF(false,3)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                        ><span class="btn-drop-down"&ndash;&gt;-->
<!--                    &lt;!&ndash;                               jhiTranslate="ebwebApp.mBTellerPaper.accountingledgerOriginal"></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <div class="dropdown-item" *ngIf="pSTimeSheetSummary.id&&!isCreateUrl">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <button class="button-navigation" (click)="CTKTExportPDF(false,2)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                        ><span class="btn-drop-down" jhiTranslate="ebwebApp.mBDeposit.creditNote"></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="dropdown-item" *ngIf="pSTimeSheetSummary.id&&!isCreateUrl">-->
<!--                        <button class="button-navigation" (click)="exportPdf(false,4)"-->
<!--                        ><span class="btn-drop-down"-->
<!--                               jhiTranslate="ebwebApp.pSTimeSheetSummary.boardPSTimeSheetSummary"></span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div ngbDropdown class="d-inline-block" *ngIf="pSTimeSheetSummary?.id">
                    <button
                        id="dropdownM1" ngbDropdownToggle
                        style="background: transparent;border: none; color: #f0f0f0"><i
                        class="mdi mdi-printer"></i><span jhiTranslate="common.print">In</span>
                    </button>
                    <div
                        ngbDropdownMenu aria-labelledby="dropdownM1" style="padding: 0 !important;">
                        <button style="color: black" class="btn-dr-i hover-dr" *ngIf="pSTimeSheetSummary.typeID===760"><span
                            jhiTranslate="ebwebApp.pSTimeSheetSummary.boardPSTimeSheetSummary"
                            (click)="exportPDFWebService(TypeMultiPrintTemplate.BANG_TONG_HOP_CHAM_CONG_THEO_NGAY)"></span></button>
                    </div>
                    <div
                        ngbDropdownMenu aria-labelledby="dropdownM1" style="padding: 0 !important;">
                        <button style="color: black;" class="btn-dr-i hover-dr" *ngIf="pSTimeSheetSummary.typeID===761"><span
                            jhiTranslate="ebwebApp.pSTimeSheetSummary.boardPSTimeSheetSummary"
                            (click)="exportPDFWebService(TypeMultiPrintTemplate.BANG_TONG_HOP_CHAM_CONG_THEO_GIO)"></span></button>
                    </div>
                </div>
                <button class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]"
                        title="{{buttonCloseFormTranslate | translate}}"
                        (click)="closeForm()"><i
                    class="mdi mdi-window-close"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.exit"></span></button>
            </div>
            <!--            <div class="form-s">-->
            <!--                <form style="margin-top: 2px">-->
            <!--                    <i class="mdi mdi-magnify"></i>-->
            <!--                    <span jhiTranslate="ebwebApp.pSTimeSheet.quickSearch"></span>-->
            <!--                    <input type="text" style="height:31px; width: 60%;"-->
            <!--                           placeholder="{{'ebwebApp.pSTimeSheet.enterVoucherNoSameType' | translate}}">-->
            <!--                </form>-->
            <!--            </div>-->
        </div>
        <div>
            <div>
                <ngb-tabset class="tool-navbar">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <span>{{(pSTimeSheetSummary && pSTimeSheetSummary.pSTimeSheetSummaryName) ? pSTimeSheetSummary.pSTimeSheetSummaryName : sessionPSTimeSheet.pSTimeSheetSummaryName}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="tab-content">
                                <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail-160"
                                     style="background: #cbdcf0; height: 350px !important;">
                                    <div #scrollHeader id="main-table_header" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                         class="border-right-blue width-1-p">
                                        <table id="main-table-detail-160" class="table-scroll main-table" style="max-height: 500px">
                                            <thead>
                                            <tr>
                                                <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.stt"
                                                    style="min-width: 50px !important; max-width: 50px !important; width:  50px !important;"></th>
                                                <th scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetDetails.departmentID"></th>
                                                <th scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetDetails.employeeID"></th>
                                                <th scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetDetails.accountingObjectName">
                                                </th>
                                                <th *ngIf="(pSTimeSheetSummary.typeID === TYPE_CHAM_CONG_THEO_NGAY)"
                                                    scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workAllDay"></th>
                                                <th *ngIf="(pSTimeSheetSummary.typeID === TYPE_CHAM_CONG_THEO_GIO)"
                                                    scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workAllHour"></th>
                                                <th *ngIf="(pSTimeSheetSummary.typeID === TYPE_CHAM_CONG_THEO_NGAY)"
                                                    scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workHalfAday">
                                                <th *ngIf="(pSTimeSheetSummary.typeID === TYPE_CHAM_CONG_THEO_GIO)"
                                                    scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.workHalfAhour">
                                                </th>
                                                <th scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.totalOverTime"></th>
                                                <th scope="col"  class="width-scroll"
                                                    jhiTranslate="ebwebApp.pSTimeSheetSummaryDetails.total"></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <table #scrollTwo id="main-table-so-du-dau-ky"
                                           class="table-scroll main-table virtualScroller"
                                           #tableResult (scroll)="updateScroll(scrollHeader, scrollTwo, scrollOne)"
                                           (keydown.arrowUp)="moveArrowUp($event, 6)"
                                           (keydown.arrowDown)="moveArrowDown($event, 6)"
                                    >
                                        <tbody ebVirtualScroller #scroll [items]="pSTimeSheetSummaryDetails"
                                               [parentScroll]="tableResult" style="height: 340px">
                                        <tr oncontextmenu="return false;"
                                            (contextmenu)="onRightClick($event,scroll.viewPortItems, detail, true, true,0, pSTimeSheetSummaryDetails.indexOf(detail) ,false)"
                                            *ngFor="let detail of scroll.viewPortItems; let i = index"
                                            (keydown.control.delete)="keyPress(pSTimeSheetSummaryDetails.indexOf(detail),0)"
                                            (keydown.control.c)="keyDownAddRow(pSTimeSheetSummaryDetails.indexOf(detail))"
                                            (keydown.control.insert)="keyDownAddRow(null)"
                                            (keydown.enter)="clickEnter($event, detail)"
                                        >
                                            <td title="{{i}}"
                                                style="min-width: 50px !important; max-width: 50px !important; width:  50px !important;"
                                                class="cell-Table jsgrid-align-center"
                                              >{{detail.stt + 1}}</td>
                                            <td title="{{detail.departmentID}}"
                                                class="cell-Table width-scroll">
                                                <combo-box style="" id="field_departmentID"
                                                           name="comboboxdepartmentID"
                                                           [idIp]="'field_departmentID' + detail.stt"
                                                           [dataList]="organizationUnits"
                                                           [nameCategory]="utilsService.PHONG_BAN"
                                                           [isOutTable]="false"
                                                           [valueIsNumber]="true"
                                                           [listColumns]="['organizationUnitCode', 'organizationUnitName']"
                                                           displayMember="organizationUnitCode"
                                                           valueName="id"
                                                           [tabindex]="6 * detail.stt + 1"
                                                           [headerColumns]="['Mã phòng ban', 'Tên phòng ban']"
                                                           [isObject]="false"
                                                           [(ngModel)]="detail.departmentID"
                                                           (ngModelChange)="selectChangeDepartmentID(i)"
                                                           [useVirtualScroll]="true"
                                                           (afterDataChange)="afterDataChange($event)"></combo-box>
                                            </td>
                                            <td title="{{detail.employeeID}}"
                                                class="cell-Table width-scroll">
                                                <combo-box style="" id="field_employeeID{{i}}"
                                                           name="comboboxemployeeID{{i}}"
                                                           [dataList]="detail.listEmployeeID"
                                                           [isOutTable]="false"
                                                           [valueIsNumber]="true"
                                                           [tabindex]="6 * detail.stt + 2"
                                                           [listColumns]="['accountingObjectCode', 'accountingObjectName']"
                                                           displayMember="accountingObjectCode"
                                                           valueName="id"
                                                           [headerColumns]="['Mã nhân viên', 'Tên nhân viên']"
                                                           [isObject]="false"
                                                           [(ngModel)]="detail.employeeID"
                                                           (ngModelChange)="selectChangeEmployeeID(detail)"
                                                           (afterDataChange)="afterDataChange($event)"></combo-box>
                                            </td>
                                            <td title="{{detail.accountingObjectName}}"
                                                class="cell-Table width-scroll"><input type="text"
                                                                          class="input-Cell"
                                                                          name="accountingObjectName"
                                                                          [(ngModel)]="detail.accountingObjectName"
                                                                          [readOnly]="true"/>
                                            </td>
                                            <td title="{{detail.workAllDay}}"
                                                class="cell-Table jsgrid-align-center  width-scroll">
                                                <input type="number" class="input-Cell text-right"
                                                       name="workAllDay{{i}}"
                                                       id="workAllDay{{i}}"
                                                       [(ngModel)]="detail.workAllDay"
                                                       ebCurrencyMask
                                                       maxlength="21"
                                                       [tabIndex]="6 * detail.stt + 3"
                                                       [options]="optionsDirective"
                                                       (ngModelChange)="selectChangeTotal(i)"></td>
                                            <td title="{{detail.workHalfAday}}"
                                                class="cell-Table jsgrid-align-center  width-scroll"><input type="number"
                                                                                              class="input-Cell text-right"
                                                                                              name="workHalfAday{{i}}"
                                                                                              id="workHalfAday{{i}}"
                                                                                              [(ngModel)]="detail.workHalfAday"
                                                                                              ebCurrencyMask
                                                                                              maxlength="21"
                                                                                              [tabIndex]="6 * detail.stt + 4"
                                                                                              [options]="optionsDirective"
                                                                                              (ngModelChange)="selectChangeTotal(i)">
                                            </td>
                                            <td title="{{detail.totalOverTime}}"
                                                class="cell-Table jsgrid-align-center width-scroll">
                                                <input type="number"
                                                       class="input-Cell text-right"
                                                       name="totalOverTime{{i}}"
                                                       id="totalOverTime{{i}}"
                                                       [(ngModel)]="detail.totalOverTime"
                                                       ebCurrencyMask
                                                       maxlength="21"
                                                       [options]="optionsDirective"
                                                       [tabIndex]="6 * detail.stt + 5"
                                                       (ngModelChange)="selectChangeTotal(i)"></td>
                                            <td title="{{detail.total}}"
                                                class="cell-Table jsgrid-align-center width-scroll"><input type="number"
                                                                                              class="input-Cell text-right"
                                                                                              name="total{{i}}"
                                                                                              id="total{{i}}"
                                                                                              [(ngModel)]="detail.total"
                                                                                              ebCurrencyMask
                                                                                              maxlength="22"
                                                                                              (keydown.tab)="clickEnter($event, detail)"
                                                                                              [tabIndex]="6 * detail.stt + 6"
                                                                                              [options]="optionsDirective">
                                            </td>
                                        </tr>
                                        <tr (click)="addNewRow($event,0)" *ngIf="isCreateUrl">
                                            <td class="cell-Table" style="min-width: 50px !important; max-width: 50px !important; width:  50px !important; border-right: 0px !important;"><input type="text" class="input-Cell" style="width: 300%"
                                                                          value="{{'ebwebApp.mBDeposit.insertRow'| translate}}"
                                                                          readonly></td>
                                            <td class="cell-Table width-scroll">
<!--                                                <input type="text" class="input-Cell" readonly>-->
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll" style="width: 250px !important; max-width: 250px !important; min-width: 250px !important;"><input type="text" class="input-Cell" readonly>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let l of newArr(20 - pSTimeSheetSummaryDetails?.length)">
                                            <td class="cell-Table"
                                                style="min-width: 50px !important; max-width: 50px !important; width:  50px !important;"><input type="text"
                                                                                       class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table width-scroll" style="width: 250px !important; max-width: 250px !important; min-width: 250px !important;"><input type="text" class="input-Cell" readonly>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div
                                        (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                        #scrollOne id="main-table0"
                                        class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                        style="overflow-x: scroll;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                        <tr>
                                            <td class="cell-Table countRow"
                                                style="width: 50px !important; min-width: 50px !important;"
                                            ><input style="width: 300%;"
                                                type="text"
                                                [class.noEdit]="true"
                                                class="countRow input-Cell"
                                                value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{pSTimeSheetSummaryDetails ? pSTimeSheetSummaryDetails?.length : 0}}">
                                            </td>
                                            <td  class="cell-Table countRow width-scroll"
                                               >
                                                <!--                                                <input-->
                                                <!--                                                type="text"-->
                                                <!--                                                [class.noEdit]="true"-->
                                                <!--                                                class="countRow input-Cell">-->
                                            </td>
                                            <td
                                                class="cell-Table countRow width-scroll"
                                             >
                                                <!--                                                <input-->
                                                <!--                                                type="text"-->
                                                <!--                                                [class.noEdit]="true"-->
                                                <!--                                                class="countRow input-Cell">-->
                                            </td>
                                            <td
                                                class="cell-Table countRow width-scroll">
                                                <!--                                                <input-->
                                                <!--                                                type="text"-->
                                                <!--                                                [class.noEdit]="true"-->
                                                <!--                                                class="countRow input-Cell">-->
                                            </td>
                                            <td
                                                class="cell-Table jsgrid-align-center countRow width-scroll"
                                            ><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumWorkAllDay"
                                                                            id="sumWorkAllDay"
                                                                            [ngModel]="sumFooter('workAllDay')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td
                                                class="cell-Table jsgrid-align-center countRow width-scroll"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumWorkHalfADay"
                                                                            id="sumWorkHalfADay"
                                                                            [ngModel]="sumFooter('workHalfAday')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td
                                                class="cell-Table jsgrid-align-center countRow width-scroll"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumTotalOverTime"
                                                                            id="sumTotalOverTime"
                                                                            [ngModel]="sumFooter('totalOverTime')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                            <td class="cell-Table jsgrid-align-center countRow width-scroll"><input type="text"
                                                                            class="input-Cell"
                                                                            name="sumTotal"
                                                                            id="sumTotal"
                                                                            [ngModel]="sumFooter('total')"
                                                                            ebCurrencyMask
                                                                            [options]="optionsDirective"
                                                                            readonly>
                                            </td>
                                        </tr>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
<eb-context-menu [contextMenu]="contextMenu" [eventHandlingHere]="true" [useCopyRow]="true"></eb-context-menu>

<ng-template #popUpDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.pSTimeSheetSummary.deleteMessage"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDelete()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>
