<div class="input-group" [class.outTable]="isOutTable || zIndexForDropdown" [class.height-22]="isInTable" (focusout)="checkFocusout()" (mouseover)="checkMouseOver()" (mouseleave)="checkMouseLeave()">
    <input *ngIf="!isTax && !isHiddenCalendar" [class.background-inherit]="backgroundInherit" class="form-control form-control-sm" [mask]="mask" name="dates" [(ngModel)]="date" (ngModelChange)="parseDate()"
           #nameOfInputCombobox [tabindex]="tabindex" [class.height-22]="isInTable"
           [class.in-table-css]="isInTable"
           [id]="idIp"
           [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
           [name] = "nameIp"
           (focus)="focus($event)"
           [autocomplete]="autocomplete"
           [class.noEdit]="disabled"
           [class.in-table-required]="isInTableRequired"
           (blur)="checkDate()" [disabled]="disabled" [class.in-table]="isInTable" [required]="isRequired && !date">
    <input *ngIf="isTax" [mask]="mask" name="dates" [(ngModel)]="date" (ngModelChange)="parseDate()"
           #nameOfInputCombobox [tabindex]="tabindex"
           style="width: 100%"
           [id]="idIp"
           [name] = "nameIp"
           (focus)="focus($event)"
           [class.noEdit]="disabled"
           (blur)="checkDate()" [disabled]="disabled" [class.required]="isRequired && !date">
    <input *ngIf="isHiddenCalendar" [class.background-inherit]="backgroundInherit" class="form-control form-control-sm" [mask]="mask" name="dates" [(ngModel)]="date"
           #nameOfInputCombobox [tabindex]="tabindex" [class.height-22]="isInTable"
           [class.in-table-css]="isInTable"
           [class.selected]="select"
           [id]="idIp"
           [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
           [name] = "nameIp"
           (focus)="focus($event)"
           (blur)="checkDate($event)" [disabled]="disabled" [class.in-table]="isInTable" [required]="isRequired && !date">
    <div [id]="idIp" class="input-group-append" [class.date-for-tax]="isTax"  style="max-height: 28px;">
        <button [ngClass]="noSetDisabled ? 'noSetDisable' : ''" [class.background-inherit]="backgroundInherit" class="btn btn-secondary" [id]="idIp" type="button"
                [class.in-table-btn]="!isInTable" [class.height-22]="isInTable" [disabled]="disabled"
                *ngIf="isTime" (click)="toggleDropDown($event)" tabindex="-1">
            <fa-icon [icon]="'clock'"></fa-icon>
        </button>
        <button [ngClass]="noSetDisabled ? 'noSetDisable' : ''" class="btn btn-secondary" id="dates" (click)="datet.toggle()" type="button" [disabled]="disabled"
                [class.in-table-btn]="!isInTable" tabindex="-1" [class.btn-sm]="isInTable"
                [class.height-22]="isInTable"
                *ngIf="!isHiddenCalendar"
 				[class.height-24]="isTax">            <fa-icon [icon]="'calendar-alt'"></fa-icon>
        </button>
    </div>
    <input type="text" name="date" [ngClass]="noSetDisabled ? 'noSetDisable' : ''" ngbDatepicker [(ngModel)]="dateHolder" style="border: none; width: 0;background: transparent; padding-left: 0; padding-right: 0;"
           #datet="ngbDatepicker" class="date-input" (ngModelChange)="update()" [placement]="showToptoggleDropDown?'top-right':'bottom-right'"
           [minDate]="minDate" [maxDate]="maxDate" tabindex="-1">
    <div class="dropdown-content text-center" *ngIf="showTime && !haveTime" [class.overBottomPage]="isOverBottomPage"
         [class.hiddenOver]="overFlow" [class.bottom-100]="bottom100">
        <ngb-timepicker [(ngModel)]="time" (ngModelChange)="parseDate($event)" [seconds]="isSecond"></ngb-timepicker>
    </div>
    <div [id]="idIp" class="dropdown-content1 text-center" *ngIf="showTime && haveTime" [class.overBottomPage]="isOverBottomPage"
         [class.hiddenOver]="overFlow" [class.bottom-100]="bottom100" [class.top-100]="top100">
        <ngb-timepicker [(ngModel)]="time" size="small" (ngModelChange)="parseDate($event)" [seconds]="isSecond"></ngb-timepicker>
    </div>
</div>
