.in-table {
    border: none;
    outline: none !important;
    height: 22px !important;
}

.in-table-btn {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    z-index: 1;
    padding: 0 5px 0 5px;
    top: 28px;
}
.dropdown-content1 {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    z-index: 999;
    padding: 0 5px 0 5px;
    right: 0px;
}
.top-100 {
    top: 100%;
}
.bottom-100 {
    bottom: 100%;
}
.outTable {
    z-index: 5;
}
.background-inherit {
    background: inherit !important;
}

.input-group-append button {
    z-index: 0;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
}

.height-22 {
    height: 22px;
}

.height-24 {
    height: 24px;
}

.in-table-css {
    background: transparent;
    height: 100%;
}

.date-for-tax {
    position: absolute !important;
    right: 0 !important;
}

.selected {
    background: #ddf7ef !important;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.in-table-required {
    border-top: none;
    border-bottom: none;
    outline: none !important;
    height: 28px !important;
}
