<div id="divPackageInfo">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-header" style = "padding: 5px;">
                <div class="d-flex flex-wrap col-md-11">
                    <h6 class="modal-title-detail"><img src="/content/images/icon-logo.png" height="24px"
                                                        width="24px"> <span
                        class="text-uppercase" jhiTranslate="thongTinDichVu.home.title"></span></h6>
                </div>
            </div>
            <div>
                <div class="frm-main frm-mains nobg" style="margin-bottom: 0px">
                    <form action="" id="search" style="background: #cbdcf0;">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="thongTinDichVu.home.package"
                                >Kỳ</label>
                                <input name="packageCode12" id="packageCode12" readonly [tabindex]="-1" hidden
                                       type="text" class="form-control form-control-sm">
                                <div class="col-sm-2">
                                    <input name="packageCode" id="packageCode" [ngModel]="packageCode" readonly [tabindex]="-1"
                                           type="text" class="form-control form-control-sm">
                                </div>
                                <div class="col-sm-8">
                                    <input name="packageName" id="packageName" [ngModel]="packageName" readonly [tabindex]="-1"
                                           type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" hidden>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="thongTinDichVu.home.payment"
                                >Kỳ</label>
                                <div class="col-sm-6">
                                    <input name="payment" id="payment" [ngModel]="payment" readonly [tabindex]="-1"
                                           type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="thongTinDichVu.home.createDate"
                                >Ngày bắt đầu sử dụng</label>
                                <div class="col-sm-2">
                                    <input name="createDate" id="createDate" [ngModel]="createDate" readonly [tabindex]="-1"
                                           type="text" class="form-control form-control-sm">
                                </div>
                                <div class="col-sm-8 row">
                                    <label class="col-sm-2 col-form-label"
                                           jhiTranslate="thongTinDichVu.home.expiredDate"
                                    >Thời gian sử dụng</label>
                                    <div class="col-sm-4">
                                        <input name="expiredDate" id="expiredDate" [ngModel]="expiredDate" readonly
                                               [tabindex]="-1"
                                               type="text" class="form-control form-control-sm">
                                    </div>
                                    <label [hidden]="isPackageNoLimitTime" class="col-sm-3 col-form-label" style="text-align: center;"
                                           jhiTranslate="thongTinDichVu.home.remainDays"
                                    >Số ngày còn lại</label>
                                    <div class="col-sm-2" [hidden]="isPackageNoLimitTime">
                                        <input style="text-align: right;" name="remainDays" id="remainDays"
                                               [ngModel]="remainDays" readonly [tabindex]="-1"
                                               type="text" class="form-control form-control-sm">
                                    </div>
                                    <label [hidden]="isPackageNoLimitTime" class="col-sm-1 col-form-label"
                                           jhiTranslate="thongTinDichVu.home.days"
                                    >ngày</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="thongTinDichVu.home.user"
                                >Kỳ</label>
                                <div class="col-sm-5">
                                    <input name="user" id="user" [ngModel]="user" readonly [tabindex]="-1"
                                           type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="padding-top: 5px">
                    <ngb-tabset class="tool-navbar">
                        <ngb-tab>
                            <ng-template ngbTabTitle><span
                                jhiTranslate="thongTinDichVu.voucher.quantity">Số lượng chứng từ</span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref">
                                        <div id="table-scroll-ref" class="table-scroll">
                                            <table id="main-table-ref" class="main-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col" style="width: 450px"
                                                        jhiTranslate="thongTinDichVu.voucher.organizationUnit">
                                                        organizationUnit
                                                    </th>
                                                    <th scope="col" style="min-width: 200px"
                                                        jhiTranslate="permissionUser.organizationUnit.unitType">
                                                        organizationUnit
                                                    </th>
                                                    <th scope="col"
                                                        jhiTranslate="thongTinDichVu.voucher.quantity">
                                                        usedQuantity
                                                    </th>
                                                    <th scope="col"
                                                        jhiTranslate="thongTinDichVu.voucher.usedQuantity">
                                                        usedQuantity
                                                    </th>
                                                    <th scope="col" *ngIf="!isPackageNoLimitVoucher"
                                                        jhiTranslate="thongTinDichVu.voucher.remainQuantity">
                                                        remainQuantity
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody *ngFor="let org of orgUnits; let i = index">
                                                <tr [class.boldText]="org.unitType === 0">
                                                    <td [title]="org.name" class="jsgrid-cell jsgrid-align-left ellipsisClass" style="width: 450px">
                                                        <span *ngIf="org.unitType === 0 && org.id !== orgUnits[0].id">&nbsp;&nbsp;&nbsp;</span>
                                                        <i [hidden]="org.children.length === 0"
                                                           class="mdi mdi-chevron-right"></i>
                                                        {{org.name}}
                                                    </td>
                                                    <td [title]="getUnitType(org.unitType)" class="jsgrid-cell jsgrid-align-left ellipsisClass" style="min-width: 200px">
                                                        {{getUnitType(org.unitType)}}
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-right">{{org.voucherTotal}}</td>
                                                    <td class="jsgrid-cell jsgrid-align-right">{{org.usingVoucherTotal}}</td>
                                                    <td *ngIf="!isPackageNoLimitVoucher" class="jsgrid-cell jsgrid-align-right">
                                                        {{currentAccount.ebPackage.limitedVoucher - org.usingVoucherTotal}}
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let child of org.children;">
                                                    <td [title]="child.name" class="jsgrid-cell jsgrid-align-left ellipsisClass" style="width: 450px">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {{child.name}}
                                                    </td>
                                                    <td [title]="getUnitType(child.unitType)" class="jsgrid-cell jsgrid-align-left ellipsisClass" style="min-width: 200px">
                                                        <span *ngIf="child.unitType === 1">&nbsp;</span>
                                                        {{getUnitType(child.unitType)}}
                                                    </td>
                                                    <td  class="jsgrid-cell jsgrid-align-right">{{child.voucherTotal}}</td>
                                                    <td  class="jsgrid-cell jsgrid-align-right">{{child.usingVoucherTotal}}</td>
                                                    <td *ngIf="!isPackageNoLimitVoucher" class="jsgrid-cell jsgrid-align-right">
                                                        {{currentAccount.ebPackage.limitedVoucher - child.usingVoucherTotal}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <!--                                                <tbody>-->
                                                <!--                                                <tr *ngFor="let row of newArr(1)">-->
                                                <!--                                                    <td class="jsgrid-cell jsgrid-align">&nbsp;</td>-->
                                                <!--                                                    <td class="jsgrid-cell jsgrid-align">&nbsp;</td>-->
                                                <!--                                                    <td class="jsgrid-cell jsgrid-align">&nbsp;</td>-->
                                                <!--                                                    <td *ngIf="!isPackageNoLimitVoucher" class="jsgrid-cell">&nbsp;</td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                </tbody>-->
                                                <!--                                                <tfoot>-->
                                                <!--                                                <tr>-->
                                                <!--                                                    <td class="cell-Table color-tfoot jsgrid-align-left" colspan="2"><input-->
                                                <!--                                                        type="text" readonly-->
                                                <!--                                                        class="color-tfoot input-Cell noPointer"-->
                                                <!--                                                        value="Tổng">-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td *ngIf="!isPackageNoLimitVoucher" class="cell-Table color-tfoot jsgrid-align-right">{{ sum('usingVoucherTotal')}}-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td *ngIf="isPackageNoLimitVoucher" class="cell-Table color-tfoot jsgrid-align-right">{{ sum('voucherTotal')}}-->
                                                <!--                                                    </td>-->
                                                <!--                                                    <td *ngIf="!isPackageNoLimitVoucher" class="cell-Table color-tfoot jsgrid-align-right"></td>-->
                                                <!--                                                </tr>-->
                                                <!--                                                </tfoot>-->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
<!--                        <ngb-tab>-->
<!--                            <ng-template ngbTabTitle><span-->
<!--                                jhiTranslate="thongTinDichVu.home.contract">Hợp đồng</span>-->
<!--                            </ng-template>-->
<!--                            <ng-template ngbTabContent>-->
<!--                                <div class="tab-content">-->
<!--                                    <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref1">-->
<!--                                        <div id="table-scroll-ref1" class="table-scroll">-->
<!--                                            <table id="main-table-ref1" class="main-table">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th scope="col" style="width: 450px"-->
<!--                                                        jhiTranslate="thongTinDichVu.home.contractNo">-->
<!--                                                        contractNo-->
<!--                                                    </th>-->
<!--                                                    <th scope="col" style="min-width: 200px"-->
<!--                                                        jhiTranslate="thongTinDichVu.home.contractDate">-->
<!--                                                        contractDate-->
<!--                                                    </th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody *ngFor="let ct of contracts; let i = index">-->
<!--                                                <tr>-->
<!--                                                    <td class="jsgrid-cell jsgrid-align-left ellipsisClass" style="width: 450px">-->
<!--                                                        {{ct.serial}}-->
<!--                                                    </td>-->
<!--                                                    <td class="jsgrid-cell jsgrid-align-center ellipsisClass" style="min-width: 200px">-->
<!--                                                        {{ct.contract_date | date:'dd/MM/yyyy'}}-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                </tbody>-->
<!--                                                <tbody *ngIf="contracts.length === 0">-->
<!--                                                <tr>-->
<!--                                                    <td colspan="2" class="jsgrid-cell jsgrid-align-left ellipsisClass"-->
<!--                                                        style="min-width: 200px">-->
<!--                                                        <span jhiTranslate="thongTinDichVu.home.noHasContract">Chưa có hợp đồng nào</span>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                        <!--                            </ng-template>-->
                        <!--                        </ngb-tab>-->
                    </ngb-tabset>
                </div>
                <div class="row">
                    <div class="col-6" style="padding-top: 10px">
                        <div class="row">
                               <span style="font-style: italic; font-size: 14px; padding-left: 10px"
                                     jhiTranslate="thongTinDichVu.home.note">Note</span>
                        </div>
                        <div class="row">
                            <button style="color: black" class="button-navigation" (click)="navigateHelp()">
                                <fa-icon [icon]="'question-circle'"></fa-icon>
                                <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row" style="padding-top: 15px; float: right;">
                            <div class="col-lg-12">
                                <a id="save" class="btn btn-info" style="margin-right: 5px; color: white"
                                   (click)="requestConfirm()">
                                    <span jhiTranslate="thongTinDichVu.home.request"></span>
                                </a>
                                <a type="button" class="btn btn-danger" style="color: white"
                                   (click)="activeModal.dismiss('closed')" data-dismiss="modal">
                                    <span jhiTranslate="entity.action.close"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="thongTinDichVu.home.notify">Bạn có chắc chắn muốn gia hạn dịch vụ EasyBooks ?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="apply()"
                jhiTranslate="entity.action.ok">Đồng ý
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="closeModal()" jhiTranslate="entity.action.cancel">
            close
        </button>
    </div>
</ng-template>
<ng-template #popupAlert let-modal>
    <div class="body-notify">
        <div class="modal-header custom-header" style="padding: 2px 10px; padding-top: 10px">
            <div class="d-flex flex-wrap col-md-11">
                <h6 class="modal-title-detail">
                    <img src="/content/images/icon-logo.png" height="24px" width="24px">&nbsp;
                    <span class="text-uppercase" jhiTranslate="thongTinDichVu.home.notifyTitle"></span>
                </h6>
            </div>
        </div>
        <div class="modal-body custom-body">
            <form>
                <div class="form-group">
                    <div>
                        <p class="notify-title" jhiTranslate="thongTinDichVu.home.notify1"></p>
                        <p class="notify-content" jhiTranslate="thongTinDichVu.home.notify2"></p>
                        <p class="notify-content" jhiTranslate="thongTinDichVu.home.notify3"></p>
                        <p class="notify-content" jhiTranslate="thongTinDichVu.home.notify4"></p>
                        <p class="notify-content" jhiTranslate="thongTinDichVu.home.notify5"></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer custom-footer">
            <button type="button" class="btn btn-outline-dark" (click)="close()" jhiTranslate="entity.action.close">close
            </button>
        </div>
    </div>
</ng-template>
