.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

.noPointer {
    pointer-events: none;
}

.ellip {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}

.col-form-label {
    padding-right: 0;
}

.body-notify {
    background-color: #cbdcf0 !important;
}

.body-notify .modal-body p {
    margin-bottom: 10px !important;
}

.custom-body {
    padding: 20px 26px !important;
}

.custom-footer {
    padding: 12px 31px !important;
}

.notify-title {
    color: green;
    font-weight: bold;
}

.notify-content {
    color: black;
}

.boldText {
    font-weight: bold;
}

#divPackageInfo input:read-only {
    background-color: white;
}

#divPackageInfo {
    background-color: #adc6e5;
    padding: 15px;
}

.table-scroll > table {
    min-width: 900px;
}

.ellipsisClass {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .width-1000 .modal-dialog {
    max-width: 1100px;
}

::ng-deep .width-1000 .modal-dialog .modal-content {
    width: 110%;
}
