<!--<div class="modal-header" style = "padding: 2px 10px; padding-top: 10px">-->
<!--    <div class="d-flex flex-wrap col-md-11">-->
<!--        <h6 class="modal-title-detail"><img src="../../../content/images/icon-logo.png" height="24px" width="24px"/>-->
<!--            <span class="text-uppercase" jhiTranslate="global.commonInfo.calculateExchangeRate"></span>-->
<!--        </h6>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--    <div class="row" style="padding-left: 12% !important;">-->
<!--        <div class="col-lg-10 pd-r-0">-->
<!--            <div class="form-group">-->
<!--                <div class="col-lg-12">-->
<!--                    <label jhiTranslate="global.commonInfo.pricingMethodExchangeRate"></label>-->
<!--                    <label>{{phuongPhapTinh}}</label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row">-->
<!--                <div class="col-lg-6" style="padding: 5px 0px 0px 0px">-->
<!--                    <label for="radio1"><input id="radio1" type="radio" [value]="1" name="radio" [(ngModel)]="isAll" class="noSetDisable"></label>-->
<!--                    <label for="radio1" jhiTranslate="global.commonInfo.calculateAllCurrencies"></label>-->
<!--                </div>-->
<!--                <div class="col-lg-6" style="padding: 5px 0px 0px 0px">-->
<!--                    <label for="radio2"><input id="radio2" type="radio" [value]="2" name="radio" [(ngModel)]="isAll" class="noSetDisable" (click)="chooseCurrency()"></label>-->
<!--                    <label for="radio2" jhiTranslate="global.commonInfo.chooseCurrency"></label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row">-->
<!--                <label jhiTranslate="ebwebApp.receiveBill.detail.time" class="col-sm-2 col-form-label" style="padding: 5px 0px 0px 0px">Chọn thời gian</label>-->
<!--                <div class="col-sm-10" style="padding: 0px 0px 0px 5px">-->
<!--                    <combo-box style="" class="noSetDisable"-->
<!--                               name="timeLine"-->
<!--                               [dataList]="listTimeLine"-->
<!--                               [listColumns]="utilsService.listColumnsTimeLine"-->
<!--                               [isOutTable]="true"-->
<!--                               displayMember="display"-->
<!--                               valueName="value"-->
<!--                               [headerColumns]="utilsService.listHeaderColumnsTimeLine"-->
<!--                               [isObject]="false"-->
<!--                               [(ngModel)]="timeLineVoucher"-->
<!--                               (ngModelChange)="selectChangeBeginDateAndEndDate(timeLineVoucher)"-->
<!--                    ></combo-box>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row">-->
<!--                <label jhiTranslate="ebwebApp.saBill.invoice.fromDate" class="col-sm-2 col-form-label" style="padding: 5px 0px 0px 0px"></label>-->
<!--                <div class="col-sm-4" style="padding: 0px 0px 0px 5px">-->
<!--                    <eb-date-picker [(ngModel)]="fromDate" name="fromdate" format="YYYYMMDD" class="noSetDisable"></eb-date-picker>-->
<!--                </div>-->
<!--                <label jhiTranslate="ebwebApp.saBill.invoice.toDate" class="col-sm-2 col-form-label" style="padding: 5px 0px 0px 0px"></label>-->
<!--                <div class="col-sm-4" style="padding: 0px 0px 0px 5px">-->
<!--                    <eb-date-picker [(ngModel)]="toDate" name="toDate" format="YYYYMMDD" class="noSetDisable"></eb-date-picker>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--    <button id="save" [class.myreadonlytrue]="isLoading" (click)="calculate()" class="btn btn-success">-->
<!--        <span jhiTranslate="entity.action.ok">Cancel</span>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-dark" (click)="closeForm()" data-dismiss="modal">-->
<!--        <span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--    </button>-->
<!--</div>-->

<!--<ng-template #question let-modal>-->
<!--    <div class="modal-body">-->
<!--        <form>-->
<!--            <div class="form-group">-->
<!--                <label jhiTranslate="global.commonInfo.questionBegin"></label>-->
<!--                <a (click)="viewRelateVoucher()" style="color:blue; text-decoration: underline;">{{viewNo}}</a>-->
<!--                <label jhiTranslate="global.commonInfo.questionEnd"></label>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-outline-dark" (click)="closeModal()"-->
<!--                jhiTranslate="entity.action.no"></button>-->
<!--        <button type="button" class="btn btn-outline-success" (click)="calculate()"-->
<!--                jhiTranslate="entity.action.yes"></button>-->
<!--    </div>-->
<!--</ng-template>-->
