.combo-container {
    position: relative;
    display: inline-block;
}

.input-control {
    width: 100%;
    border: none;
    font-size: 0.875rem;
}

.data-list {
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}

.drop-down-button {
    border: 0;
    background: transparent;
    outline: 0;
    padding-right: 0px;
}

.highlight {
    background: grey;
}

.dropdown {
    position: relative !important;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    max-width: 400px;
    width: 100%;
    padding: 0px 0px;
    border: 1px solid grey;
    height: 158px;
    /*overflow-y: scroll;*/
    overflow-x: auto;
    z-index: 1;
}

.bottom-100 {
    bottom: 100%;
}

.outTable {
    z-index: 5;
}

.data-list:hover td {
    /*background: #00aeef;*/
    background: #ddf7ef !important;
}

.selected {
    /*background: #00aeef !important;*/
    background: #ddf7ef !important;
    /*color: white;*/
}

.customers {
    /*edit by anmt*/
    /*font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    /*padding: 8px !important;*/
    font-weight: 400;
    font-size: 12px;
    width: 50px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #b8daff;
    /*style sticky header*/
    position: sticky;
    top: -2px;
    /*background-color: #adc8e6;*/
    /*background-color: #d86b29;*/
}

/*style for hiddenOver*/
.hiddenOver {
    position: absolute;
    right: 10px;
    width: 400px;
    padding-right: 0px;
}

.overBottomPage {
    /*z-index: 9999;*/
}

/*style for menu*/
.disable {
    pointer-events: none;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.requiredTrue {
    /*border-left: 5px solid green;*/
    border-radius: 3px;
}
.requiredDuplicate {
    border-left: 5px solid red;
    border-radius: 3px;
}

.iconPlus {
    position: absolute;
    right: 5px;
    bottom: 8px;
}

.addIcon {
    line-height: 27px;
    color: green !important;
    font-size: large;
    border: 0;
    padding: 0;
    background: transparent;
}

.background-inherit {
    background: inherit !important;
}

.noPointer {
    pointer-events: none;
}

.margin-0 {
    margin: 0px !important;
}

.noEdit {
}

.setInput {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boderNone {
    border: none;
}

.tableCustom {
    max-width: 1000px !important;
}

.cssTd {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
}

.stypeForHome {
    font-size: 12px !important;
}

.with-for-home {
    min-width: 170px !important;
    width: 170px;
}
.input-in-table {
    max-height: 22px !important;
}

.input-out-table {
    max-height: 28px !important;
}
.margin-1 {
    margin: 1px;
    padding-right: 2px;
}
html {
    scroll-behavior: smooth;
}

.background-tranparent {
    background: transparent;
}

.intable {
    height: 140px;
    z-index: 999;
}

.isParentNode {
    font-weight: bold !important;
}

.css-for-kiem-ke-kho {
    z-index: 1 !important;
}

.maxWidth {
    max-width: 400px;
}
.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
