<div class="dropdown div-combobox-div" [class.margin-1]="isOutTable" style="background: transparent" (focusout)="outFocus()" (mouseover)="mouseOverTable()"
     (click)="clickInside()"
     (keydown.tab)="tab($event)"
     (keydown.arrowRight)="tab($event)"
     (keydown.control.insert)="tab($event)"
     (keydown.control.c)="tab($event)"
     (keydown.arrowLeft)="tab($event)"
     (keydown.arrowDown)="tab($event)"
     (keydown.arrowUp)="tab($event)"
     (keydown.enter)="tab($event)"
     (mouseleave)="mouseLeaveTable()"
     [class.required]="(isRequired ? (value === null || value === undefined || (isCheckEmpty && value === '')) ? true: false :false) || required"
     [class.requiredTrue]="(isRequired?!required && (value !== null && value !== undefined):false) && !hideRequiredWhenValueTrue"
     [class.checkCoincide]="(checkCoincide ?  true: false ) || checkCoincide"
     [class.requiredDuplicate]="isRequiredDuplicate"
     [class.disable]="isReadOnly"
     [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
     >
	<span [class.disable]="isReadOnly && !showAsInput"
          class="custom-control-inline form-control form-control-sm margin-0"
          [class.background-inherit]="backgroundInherit"
          [class.boderNone]="!hasBoder"
          [ngClass]="{'input-out-table' : isOutTable, 'input-in-table': !isOutTable}"
          style="padding: 0 5px 0 10px;" [class.background-tranparent]="isOutTable === false">
        <input *ngIf="!(getValueDisplay && valueIsNumber)" type="text" [class.disable]="isReadOnly && !showAsInput"
               autocomplete="off"
               #nameOfInputCombobox
               [name]="nameIp"
               [id]="idIp"
               [class.stypeForHome]="stypeForHome"
               [class.noEdit]="noEdit"
               [placeholder]="defaultValue ? defaultValue : ''"
               [style.width]="inPutCurrency?inPutCurrency:''"
               class="input-control bg-transparent setInput"
               [class.noSetDisableCustom]="notSetDisable"
               [(ngModel)]="textToSort"
               [title]="textToSort?textToSort:''"
               (ngModelChange)="textChange($event)"
               (keyup)="onKeyCodeAction($event)"
               (focus)="onFocusEventAction($event)"
               (click)=focusText($event)
               [disabled]="isReadOnly || isReadOnlyForInput"
               tabindex="{{tabindex}}"
               [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
               [class.bold]="bold"
               [class.text-center]="textCenter"
               [class.text-left]="textLeft"
               [class.text-right]="textRight"
        />
        <input *ngIf="getValueDisplay && valueIsNumber && !isRateType && systemOptions" type="number"
               [class.disable]="isReadOnly && !showAsInput"
               [style.width]="inPutCurrency?inPutCurrency:''"
               autocomplete="off"
               #nameOfInputComboboxNumber
               [name]="nameIp"
               [id]="idIp"
               [class.noEdit]="noEdit"
               [placeholder]="defaultValue ? defaultValue : ''"
               class="input-control bg-transparent setInput"
               [class.noSetDisableCustom]="notSetDisable"
               [(ngModel)]="textToSort"
               [title]="textToSort?textToSort:''"
               (ngModelChange)="textChange($event)"
               (keyup)="onKeyCodeAction($event)"
               (focus)="onFocusEventAction($event)"
               (click)=focusText($event)
               ebCurrencyMask
               [systemOptions]="systemOptions"
               [allowNegative]="allowNegative"
               [type]="type"
               [disabled]="isReadOnly || isReadOnlyForInput"
               tabindex="{{tabindex}}"
               [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
               [class.text-center]="textCenter"
               [class.text-left]="textLeft"
               [class.text-right]="textRight"
        />
        <input *ngIf="getValueDisplay && valueIsNumber && !isRateType && options" type="number"
               [class.disable]="isReadOnly && !showAsInput"
               [style.width]="inPutCurrency?inPutCurrency:''"
               autocomplete="off"
               #nameOfInputComboboxNumber
               [name]="nameIp"
               [id]="idIp"
               [class.noEdit]="noEdit"
               [placeholder]="defaultValue ? defaultValue : ''"
               class="input-control bg-transparent setInput"
               [class.noSetDisableCustom]="notSetDisable"
               [(ngModel)]="textToSort"
               [title]="textToSort?textToSort:''"
               (ngModelChange)="textChange($event)"
               (keyup)="onKeyCodeAction($event)"
               (focus)="onFocusEventAction($event)"
               (click)=focusText($event)
               currencyMask
               [options]="options"
               [type]="type"
               [disabled]="isReadOnly || isReadOnlyForInput"
               tabindex="{{tabindex}}"
               [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
               [class.text-center]="textCenter"
               [class.text-left]="textLeft"
               [class.text-right]="textRight"
        />
        <input *ngIf="getValueDisplay && valueIsNumber && isRateType" type="number"
               [class.disable]="isReadOnly && !showAsInput"
               [style.width]="inPutCurrency?inPutCurrency:''"
               autocomplete="off"
               [class.noEdit]="noEdit"
               #nameOfInputComboboxNumberIsRateType
               [name]="nameIp"
               [placeholder]="defaultValue ? defaultValue : ''"
               [id]="idIp"
               class="input-control bg-transparent setInput"
               [class.noSetDisableCustom]="notSetDisable"
               [(ngModel)]="textToSort"
               [title]="textToSort?textToSort:''"
               (ngModelChange)="textChange($event)"
               (keyup)="onKeyCodeAction($event)"
               (focus)="onFocusEventAction($event)"
               (click)=focusText($event)
               [disabled]="isReadOnly || isReadOnlyForInput"
               tabindex="{{tabindex}}"
               [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
               [class.text-center]="textCenter"
               [class.text-left]="textLeft"
               [class.text-right]="textRight"
        />

        <button type="button" class="addIcon" [class.noSetDisableCustom]="notSetDisable" *ngIf="nameCategory && showIconPlus" (click)="Add()" tabindex="-1"
                [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
        ><i [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
            class="mdi mdi-plus"></i></button>
        <button style="padding-left: 0px"
                [class.noEdit]="noEdit"
                [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
				[class.noSetDisableCustom]="notSetDisable"
                type="button" [class.background-inherit]="backgroundInherit"
                class="drop-down-button" (click)="toogleDropDown($event)"
                [class.disable]="isReadOnly && !showAsInput"><i  [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
            class="mdi mdi-chevron-down" *ngIf="!showAsInput" tabindex="-1"></i></button>
    </span>
    <div class="dropdown-content dropdown-element cbb-table"
         [scrollWindow]="false" infinite-scroll
         (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0"
         [class.with-for-home]="stypeForHome" [class.overBottomPage]="isOverBottomPage" [class.hiddenOver]="setOpenLeft || overFlow"
         [class.bottom-100]="bottom100"
         [class.intable]="isOutTable === false"
         [class.css-for-kiem-ke-kho]="setOpenLeft"
         *ngIf="showDropDown" [class.outTable]="isOutTable || zindexForDropdown"
         [ngClass]="noSetDisabled ? 'noSetDisable' : ''"
    >
        <table class="table-bordered table-hover customers tableCustom">
            <thead class="header-cbb-table">
                <tr style="width: 10px">
                    <th *ngFor="let headerColumn of headerColumns; let i = index;" [style.width]="headerColumnWidth? headerColumnWidth[i]: ''">{{headerColumn}}
                    </th>
                </tr>
            </thead>
            <tbody id="cbb"
            >
            <tr *ngFor="let data of dummyDataList; let i = index" class="data-list"
                (click)="updateTextBox(data)" [ngClass]="{highlight:checkHighlight(i)}"
                [hidden]="(objectHidden && data.id === objectHidden.id) || (checkActive && !data.isActive)"
                style="border: #6ec7e6">
                <td [class.selected]="data === selectRow || ((data[valueName] === value || data === value) && value !== null)"
                    [class.stypeForHome]="stypeForHome"
                    [class.isParentNode]="data.isParentNode"
                    [title]="(nameColumn.includes('materialGoodsInStock') || nameColumn.includes('unitPriceOriginal')) ? (data[nameColumn] |
                    ebcurrency:(nameColumn.includes('unitPriceOriginal') ? type : 3):account) : getData(nameColumn, data)"
                    *ngFor="let nameColumn of listColumns"
                    class="jsgrid-align-left cssTd">{{(nameColumn.includes('materialGoodsInStock') || nameColumn.includes('unitPriceOriginal')) ? (data[nameColumn] |
                    ebcurrency:(nameColumn.includes('unitPriceOriginal') ? type : 3):account) : getData(nameColumn, data)}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
