<div class="body">
    <div class="modal-header" style="padding-top: 10px; padding-bottom: 5px;background-color: #cbdcf0 !important;">
        <div class="d-flex flex-wrap col-md-11">
            <img style="margin-top: 3px" src="../../../content/images/icon-logo.png" height="25px"
                 width="25px">
            <h3 style="padding-left: 10px" class="modal-title-detail">
                <span jhiTranslate="insurancePayment.title"></span></h3>
        </div>
    </div>
    <div class="modal-body" style="padding-top: 5px; padding-bottom: 5px;background-color: #cbdcf0 !important;">
        <div class="frm-main frm-mains nobg">
            <div class="form-group row">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                               jhiTranslate="insurancePayment.datePayment"></label>
                        <div class="col-sm-9 pd-l-0"   style="padding-top: 5px">
                            <eb-date-picker [noSetDisabled]="true" [(ngModel)]="datePayment" name="datePayment"
                                            format="YYYY-MM-DD" [idIp]="'index1'" [tabindex]="1001"
                                            (ngModelChange)="selectChangeDatePayment()"></eb-date-picker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right"
                               jhiTranslate="insurancePayment.methodPayment"></label>
                        <div class="col-sm-8 pd-l-0"  style="padding-top: 5px">
                            <select style="height: 35px;float: right; padding-top: 5px" name="accountingObjectType"
                                    id="field_accountingObjectType"
                                    class="form-control form-control-sm noSetDisable"
                                    [tabIndex]="1002"
                                    [(ngModel)]="methodPayment" (ngModelChange)="selectChangeMethodPayment()">
                                <option [ngValue]="method.value"
                                        *ngFor="let method of methodList">{{method.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="true" class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right"
                               jhiTranslate="global.accountingObject"></label>
                        <div class="col-sm-8 pd-l-0"  style="padding-top: 5px">
                            <combo-box id="field_accountingObjects"
                                       name="accountingObjectID"
                                       [dataList]="accountingObjects"
                                       [useVirtualScroll]="true"
                                       [nameCategory]="utilsService.DOI_TUONG"
                                       [isOutTable]="true"
                                       [listColumns]="utilsService.listColumnsAccountingObjects"
                                       displayMember="accountingObjectCode"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsAccountingObject"
                                       [isObject]="false"
                                       [tabindex]="1003"
                                       [(ngModel)]="accountingObjectID"
                                       (ngModelChange)="selectChangeAccountingObject()"
                                       [noSetDisabled]="true"></combo-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div *ngIf="methodPayment === 123" class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-left"
                               jhiTranslate="insurancePayment.paymentAccount"></label>
                        <div class="col-sm-9 pd-l-0"  style="padding-top: 5px">
                            <combo-box id="field_bankAccountDetailID"
                                       name="bankAccountDetailID"
                                       [dataList]="bankAccountDetails"
                                       [isOutTable]="true"
                                       [listColumns]="utilsService.listColumnsBankAccountDetails"
                                       displayMember="bankAccount"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsBankAccountDetails"
                                       [isObject]="false"
                                       [(ngModel)]="bankAccountDetailID"
                                       [tabindex]="1004"
                                       [noSetDisabled]="true"></combo-box>
                        </div>
                    </div>
                </div>
                <div *ngIf="methodPayment === 123" class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right"
                               jhiTranslate="ebwebApp.mBTellerPaper.accountingObjectBankAccount"></label>
                        <div class="col-sm-8 pd-l-0"  style="padding-top: 5px">
                            <combo-box id="field_accountingObjectBankAccount"
                                       name="accountingObjectBankAccount"
                                       [dataList]="accountingObjectBankAccounts"
                                       [isOutTable]="true"
                                       [listColumns]="utilsService.listColumnsBankAccountDetails"
                                       displayMember="bankAccount"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsBankAccountDetails"
                                       [isObject]="false"
                                       [(ngModel)]="accountingObjectBankAccountID"
                                       [tabindex]="1005"
                                       [noSetDisabled]="true"></combo-box>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-scroll0" class="table-scroll" style="z-index: 0; height: 250px">
                <table class="main-table">
                    <thead>
                    <tr>
                        <th scope="col" style="min-width: 50px !important; max-width: 50px !important;">
                            <div class="custom-control custom-checkbox noSetDisable">
                                <input type="checkbox" class="custom-control-input noSetDisable" id="check-all"
                                       [checked]="isCheckAll()" (change)="checkAll()" [tabIndex]="1006">
                                <label class="custom-control-label noSetDisable" for="check-all"></label>
                            </div>
                        </th>
                        <th scope="col" jhiTranslate="insurancePayment.description">Diễn giải</th>
                        <th scope="col" jhiTranslate="insurancePayment.amountPayable">Số tiền phải nộp</th>
                        <th scope="col" jhiTranslate="insurancePayment.amountPayableThisTime">Số tiền nộp kỳ này
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of insurancePayments, let i = index"
                        (keydown.arrowUp)="moveArrowUp($event, 3)"
                        (keydown.arrowDown)="moveArrowDown($event, 3)"
                    >
                        <td class="text-center"  style="min-width: 50px !important; max-width: 50px !important;">
                            <div class="custom-control custom-checkbox noSetDisable">
                                <input type="checkbox" class="custom-control-input noSetDisable" name="{{'checkbox' + i}}"
                                       id="{{'checkbox' + i}}" [(ngModel)]="item.check" (click)="check(item,i)" [tabIndex]="1007 + 3 * i">
                                <label class="custom-control-label noSetDisable" for="{{'checkbox' + i}}"></label>
                            </div>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left">
                            {{item.description}}
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left"><input type="number"
                                                                         class="input-Cell"
                                                                         name="amountPayable{{i}}"
                                                                         id="amountPayable{{i}}"
                                                                         [(ngModel)]="item.amountPayable"
                                                                         ebCurrencyMask
                                                                         [tabIndex]="1008 + 3 * i"
                                                                         [systemOptions]="account?.systemOption"
                                                                         [type]="7" disabled>
                        </td>
                        <td class="jsgrid-cell jsgrid-align-left noSetDisable">
                            <input type="number"
                                   class="input-Cell noSetDisable"
                                   name="amountPayableThisTime{{i}}"
                                   id="amountPayableThisTime{{i}}"
                                   [(ngModel)]="item.amountPayableThisTime"
                                   ebCurrencyMask
                                   [tabIndex]="1009 + 3 * i"
                                   [systemOptions]="account?.systemOption"
                                   [type]="7">
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(8 - insurancePayments?.length)">
                        <td class="jsgrid-cell jsgrid-align-center"  style="min-width: 50px !important; max-width: 50px !important;"
                        >&nbsp;
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                        <td class="jsgrid-cell jsgrid-align-right">
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right"
                        ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color: #cbdcf0 !important;">
        <div class="col-lg-4">
            <div class="form-group row">
                <button style="color: black" class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group row" style="justify-content: flex-end">
                <button style="margin-right: 5px !important;" type="button" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]" class="btn btn-success" [tabIndex]="1009 + 3 * insurancePayments?.length"
                        (click)="accept()" jhiTranslate="entity.action.ok">Đồng ý
                </button>
                <button style="margin-right: 5px !important;" type="button" class="btn btn-light" (click)="activeModal.dismiss('closed');closePopup()" [tabIndex]="1010 + 3 * insurancePayments?.length"
                        jhiTranslate="entity.action.close">Đóng
                </button>
            </div>
        </div>

    </div>
</div>

<ng-template #showVoucher let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="insurancePayment.questionViewVoucher"
                       translateValues="{no: '{{res.no}}'}"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continueViewVoucher()"
                jhiTranslate="entity.action.ok">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()"
                jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>

<ng-template #warningAmountPayableThisTime let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="insurancePayment.warningAmountPayableThisTime"
                       translateValues="{warningAmountPayableThisTimeMessage: '{{warningAmountPayableThisTimeMessage}}'}"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continueAccept()"
                jhiTranslate="entity.action.ok">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()"
                jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>
