<div class="row">
    <div class="col-md-12">
        <div class="menu-tool-bar toolbarcustom">
            <div class="ptitle1">
                <img src="/content/images/icon-logo.png" style="width: 25px;">
                <span jhiTranslate="userManagement.forgetPassword"></span>
            </div>
        </div>
        <div class="frm-main frm-mains nobg row maincustom" style="margin-left: 2px;margin-right: 2px;">
            <div class="col-md-12">
                <div class="frm-main">
                    <div class="row">
                        <div class="col-lg-12">
                            <form style="border: none;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <p><i>Vui lòng nhập vào email đăng ký tài khoản để thực hiện đặt lại mật khẩu đăng nhập hệ thống</i></p>
                                            <p>
                                                <i>Lưu ý: Trường hợp người dùng không nhớ địa chỉ email đăng ký thì hãy liên hệ trực tiếp đến tổng đài hỗ trợ khách hàng của EasyBooks để được trợ giúp
                                                    <b>(Tổng đài: 1900.575.754)</b>
                                                </i>
                                            </p>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label" for="field_email1"
                                                   jhiTranslate="userManagement.emailRequired"
                                            ></label>
                                            <div class="col-sm-8 pd-l-0 pd-r-10">
                                                <input type="text" class="form-control form-control-sm"
                                                       name="email1" id="field_email1"
                                                       [(ngModel)]="user.login" required
                                                       [tabIndex]="1"
                                                />
                                            </div>
                                        </div>
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-4 col-form-label" for="field_address"-->
<!--                                                   jhiTranslate="userManagement.company"-->
<!--                                            >Vị trí công tác</label>-->
<!--                                            <div class="col-sm-8 pd-l-0">-->
<!--                                                <input type="text" class="form-control form-control-sm"-->
<!--                                                       name="address" id="field_address"-->
<!--                                                       [(ngModel)]="user.job"-->
<!--                                                       [tabIndex]="2"-->
<!--                                                />-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-4 col-form-label" for="field_fullName"-->
<!--                                                   jhiTranslate="userManagement.userForm.fullName"-->
<!--                                            >Họ và tên</label>-->
<!--                                            <div class="col-sm-8 pd-l-0 pd-r-10">-->
<!--                                                <input type="text" class="form-control form-control-sm"-->
<!--                                                       name="fullName" id="field_fullName"-->
<!--                                                       [(ngModel)]="user.fullName"-->
<!--                                                       [tabIndex]="3"-->
<!--                                                       required-->
<!--                                                />-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-4 col-form-label" for="field_password"-->
<!--                                                   jhiTranslate="userManagement.userForm.password"-->
<!--                                            >Mật khẩu</label>-->
<!--                                            <div class="col-sm-8 pd-l-0 pd-r-10">-->
<!--                                                <input type="password" class="form-control form-control-sm"-->
<!--                                                       name="password" id="field_password"-->
<!--                                                       [(ngModel)]="user.password" required-->
<!--                                                       [tabIndex]="4"-->
<!--                                                />-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-4 col-form-label"-->
<!--                                                   for="field_acity"-->
<!--                                                   jhiTranslate="userManagement.userForm.confirmPassword"-->
<!--                                            >ConfirmPassword</label>-->
<!--                                            <div class="col-sm-8 pd-l-0">-->
<!--                                                <input type="password" class="form-control form-control-sm"-->
<!--                                                       name="confirmPassword"-->
<!--                                                       id="field_acity"-->
<!--                                                       [(ngModel)]="user.confirmPassword"-->
<!--                                                       [tabIndex]="5"-->
<!--                                                       required-->
<!--                                                />-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-4 col-form-label"-->
<!--                                                   jhiTranslate="userManagement.userForm.ebGroups"-->
<!--                                            >EbGroups</label>-->
<!--                                            <div class="col-sm-8 pd-l-0" style="padding-right: 5px; padding-left: 5px">-->
<!--                                                <div class="frm-main frm-padding tab-pane fade in active show"-->
<!--                                                     id="home-ref"-->
<!--                                                     style="background: #cbdcf0">-->
<!--                                                    <div id="table-scroll-ref" class="table-scroll">-->
<!--                                                        <table id="main-table-ref" class="main-table">-->
<!--                                                            <thead>-->
<!--                                                            <tr>-->
<!--                                                                <th scope="col">-->
<!--                                                                    <div class="custom-control custom-checkbox">-->
<!--                                                                        <input type="checkbox"-->
<!--                                                                               class="custom-control-input"-->
<!--                                                                               id="check-all"-->
<!--                                                                               name="check-all"-->
<!--                                                                               [checked]="checkedAll"-->
<!--                                                                               (change)="checkAll()">-->
<!--                                                                        <label class="custom-control-label"-->
<!--                                                                               for="check-all"></label>-->
<!--                                                                    </div>-->
<!--                                                                </th>-->
<!--                                                                <th scope="col"-->
<!--                                                                    jhiTranslate="userManagement.userForm.ebGroupCode">-->
<!--                                                                    EbGroupCode-->
<!--                                                                </th>-->
<!--                                                                <th scope="col"-->
<!--                                                                    jhiTranslate="userManagement.userForm.ebGroupName">-->
<!--                                                                    EbGroupName-->
<!--                                                                </th>-->
<!--                                                            </tr>-->
<!--                                                            </thead>-->
<!--                                                            <tbody>-->
<!--                                                            <tr *ngFor="let ebGroup of ebGroups; let i = index"-->
<!--                                                            >-->
<!--                                                                <td (click)="check(ebGroup, $event)" style="width: 80px"-->
<!--                                                                    class="text-center">-->
<!--                                                                    <div class="custom-control custom-checkbox">-->
<!--                                                                        <input type="checkbox"-->
<!--                                                                               class="custom-control-input"-->
<!--                                                                               name="{{'checkbox' + i}}"-->
<!--                                                                               id="{{'checkbox' + i}}"-->
<!--                                                                               [(ngModel)]="ebGroup.check"-->
<!--                                                                               (click)="check(ebGroup, $event)">-->
<!--                                                                        <label class="custom-control-label"></label>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td style="width: 180px"-->
<!--                                                                    class="jsgrid-cell jsgrid-align-left">{{ebGroup.code}}</td>-->
<!--                                                                <td class="jsgrid-cell jsgrid-align-left">{{ebGroup.name}}</td>-->
<!--                                                            </tr>-->
<!--                                                            </tbody>-->
<!--                                                        </table>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="form-group row justify-content-end">
<!--                                            <div *ngIf="user.id" class="col-md-6 row">-->
<!--                                                <div class="col-sm-2 pd-l-0 pd-r-10">-->
<!--                                                    <input type="checkbox" class="form-control form-control-sm"-->
<!--                                                           name="activated"-->
<!--                                                           id="field_activated" [(ngModel)]="user.activated"-->
<!--                                                           [tabIndex]="6"-->
<!--                                                    >-->
<!--                                                </div>-->
<!--                                                <label class="col-sm-4 col-form-label" for="field_activated"-->
<!--                                                       jhiTranslate="userManagement.isActive"-->
<!--                                                >IsActive</label>-->
<!--                                            </div>-->
                                            <div class="col-md-6 row"
                                                 style="justify-content: flex-end; padding-right: 30px;">
                                                <div class="col-sm-3">
                                                    <button type="button" class="btn btn-outline-success"
                                                            (click)="save()"
                                                            jhiTranslate="ebwebApp.mBTellerPaper.confirmLeave.yes"
                                                            [tabIndex]="2"
                                                    >Có
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="button" class="btn btn-outline-danger"
                                                            (click)="close()"
                                                            jhiTranslate="ebwebApp.mBTellerPaper.confirmLeave.no"
                                                            [tabIndex]="3"
                                                    >
                                                        Không
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #success let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Thành công</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="modalRef.close()">&times;</button>
    </div>
    <div class="modal-body">
        <eb-alert-error></eb-alert-error>
        <p>Hệ thống đã gửi thành công mật khẩu mới đến địa chỉ email: <b>{{userResponse.email}}</b></p>
        <p>Mật khẩu mới có hiệu lực 5 phút, vui lòng kiểm tra hộp thư và thực hiện đăng nhập lại bằng mật khẩu mới!</p>
    </div>
</ng-template>
<ng-template #fail let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Không thành công</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="modalRef.close()">&times;</button>
    </div>
    <div class="modal-body">
        <eb-alert-error></eb-alert-error>
        <p>Gửi email không thành công! Vui lòng kiểm tra email nhập vào và thử lại!</p>
    </div>
</ng-template>
