th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

div.dropdown-item > .menu-tool-bar .gr-tool-bar a > span > span {
    color: black !important;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

.input-Cell {
    text-overflow: ellipsis !important;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a:hover {
    background: #11ab6b;
    color: #fff;
    border-color: #11ab6b !important;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border: none !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border: none !important;
}

/*right click event*/
.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

span.disable {
    color: dimgray !important;
}

.gray {
    background-color: #868e96;
}

.myreadonlytrue {
    pointer-events: none;
}

.countRow {
    background-color: #7db5dd !important;
    /*width: 100%;*/
    color: #000000;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
    padding: 0;
    margin: 0;
}

td > input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    min-width: 300px;
}

.row.no-gutters .last-div-2-1-1 {
    flex: 0 0 100%;
    max-width: calc(75% - 150px) !important;
}

.my-col-form-label-2 {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: calc(25%) !important;
    max-width: calc(25%) !important;
    min-width: calc(25%) !important;
}

.my-col-form-label-BC {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 50px !important;
    max-width: 50px !important;
}

div > div > div > button:not(:disabled) {
    background: transparent;
    border: transparent;
    color: #ffffff;
}

div > div > div > button:disabled {
    background: transparent;
    border: transparent;
    color: dimgray;
}

.btn-drop-down {
    color: #0a0a10;
}

.red {
    background: #db641e !important;
}

.sizeDay {
    max-width: 80px !important;
    min-width: 80px !important;
}

.virtualScroller {
    display: block;
    height: 77vh;
}

.virtualScroller-result {
    display: block;
    height: 230px;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #f26f21;
    color: black;
    border-color: #f26f21 !important;
}
