<div class="wrap" [hidden]="isCustomLogin">
    <div class="left">
        <div class="head">
            <div class="linkout">
                <div class="item">
                    <a style="padding-bottom: 10px"  href="https://apps.apple.com/vn/app/easybooks/id1511895603?l=vi"><img
                        src="../../../content/images/login/41.png" alt="" class="device"></a>
                    <a href="https://apps.apple.com/vn/app/easybooks/id1511895603?l=vi"><img
                        src="../../../content/images/login/EasyBooks_QrCode_ios.png" alt=""></a>
                </div>
                <div class="item">
                    <a style="padding-bottom: 10px"  href="https://play.google.com/store/apps/details?id=vn.softdreams.easybooks"><img
                        src="../../../content/images/login/42.png" alt="" class="device"></a>
                    <a href="https://play.google.com/store/apps/details?id=vn.softdreams.easybooks"><img
                        src="../../../content/images/login/QrCode_EB_Android.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="login-footer">
            <div class="brand">
                <h3>Ứng dụng Mobile Phần mềm kế toán EasyBooks TT 200</h3>
            </div>
        </div>
        <div class="content">
            <div class="item">
                <img src="../../../content/images/login/1.png" alt="">
            </div>
            <div class="item">
                <img src="../../../content/images/login/2.png" alt="">
            </div>
        </div>
    </div>
    <div class="right">
        <form class="login-form">
            <div class="logo">
                <img src="../../../content/images/login/8.png" alt="">
            </div>
            <div class="main-content">
                <span>PHẦN MỀM KẾ TOÁN EASYBOOKS</span>
            </div>
            <div class="content">
                <form action="">
<!--                    <div class="form-group" style="transition: all .3s;" [style.opacity]="signedIn ? '0' : '1'"-->
<!--                         [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">-->
<!--                        <label jhiTranslate="login.title" class="css-text-tet">Đăng nhập</label>-->
<!--                        <div class="form-item">-->
<!--                            <input type="text" class="form-control" name="username" id="username"-->
<!--                                   [(ngModel)]="username" [disabled]="signedIn"-->
<!--                                   placeholder="Nhập email đăng ký của quý khách">-->
<!--                        </div>-->
                    <!--                    </div>-->
                    <div class="label-login" [style.opacity]="signedIn ? '0' : '1'"
                         [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                        <span jhiTranslate="login.userName">Tài khoản</span>
                    </div>
                    <div class="input-group mb-3" style="transition: all .3s;" [style.opacity]="signedIn ? '0' : '1'"
                         [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                        <div class="input-group-prepend userName">
                            <img src="../../../content/images/login/user-icon.png">
                        </div>
                        <input type="text" class="form-control" name="username" id="username"
                               style="border-left: none; font-size: 14px"
                               [(ngModel)]="username" [disabled]="signedIn"
                               placeholder="Nhập email đăng ký của quý khách">
                    </div>
                    <!--                                        <div class="form-group" style="margin-top: 5px; transition: all .3s;"-->
<!--                                             [style.opacity]="signedIn ? '0' : '1'"-->
<!--                                             [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">-->
                    <!--                        <label jhiTranslate="login.form.password" class="css-text-tet">Mật khẩu</label>-->
                    <!--                        <div class="form-item">-->
                    <!--                            <input type="password" class="form-control" name="password" id="password"-->
                    <!--                                   [(ngModel)]="password" (keydown.enter)="login()" [disabled]="signedIn"-->
                    <!--                                   placeholder="Nhập mật khẩu của quý khách">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="label-login"
                         [style.opacity]="signedIn ? '0' : '1'"
                         [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                        <span jhiTranslate="login.form.password">Mật khẩu</span>
                    </div>
                    <div class="input-group mb-3" style="transition: all .3s; margin-bottom: 0px !important;"
                         [style.opacity]="signedIn ? '0' : '1'"
                         [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                        <div class="input-group-prepend password">
                            <img src="../../../content/images/login/password-icon.png">
                        </div>
                        <input type="password" class="form-control" name="password" id="password" style="border-left: none; font-size: 14px"
                               [(ngModel)]="password" (keydown.enter)="login()" [disabled]="signedIn"
                               placeholder="Nhập mật khẩu của quý khách">
                    </div>
                    <div class="form-group" style="transition: all .3s;" [style.opacity]="!hide2 ? '0' : '1'"
                         [style.visibility]="!hide2 ? 'hidden' : 'visible'" [hidden]="!signedIn && !hide">
                        <label jhiTranslate="login.enterprise" class="css-text-tet">Doanh nghiệp</label>
                        <div class="form-item">
                            <eb-tree-combo-box [tree]="data" [(ngModel)]="org" name="org"
                                               [isLoginPage]="true"></eb-tree-combo-box>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 20px !important; display: block; text-align: right">
                        <!--<label>
                            <input type="checkbox" name="rememberMe" id="rememberMe"
                                   [(ngModel)]="rememberMe" >
                            <span jhiTranslate="login.form.rememberme">Nhớ tài khoản</span>
                        </label>-->
                        <a [class.disable]="checkDisable()" (click)="requestResetPassword()"
                           jhiTranslate="login.password.forgot" *ngIf="!signedIn" class="css-text-tet" style="color: #0000ffa6 !important;font-size: 12px !important; font-style: italic">Quên mật
                            khẩu?</a>
                        <a (click)="reset()"
                           [hidden]="!signedIn"><span jhiTranslate="login.relogin"
                                                      class="css-text-tet">Đăng nhập lại</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <button (click)="login()" jhiTranslate="login.form.button"
                                [disabled]="!username || !password || (signedIn && !org)" class="login-button"
                                style="background: #ff8b00">ĐĂNG NHẬP
                        </button>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="error">Tên đăng nhập không tồn tại</label>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="login-error" *ngIf="authenticationError"
                             jhiTranslate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                        <div class="login-error" *ngIf="companyError"
                             jhiTranslate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                        <div class="login-error" *ngIf="isActivePackage"
                             jhiTranslate="login.messages.error.isActivePackage">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                        <div class="login-error" *ngIf="expired" jhiTranslate="login.messages.error.expired">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                </form>
            </div>
        </form>
        <div class="login-footer-new">
            <div>
                <img class="logo-address-company" src="../../../content/images/login/sds-footer.png" alt="">
            </div>
            <!--            <div class="logo-footer">-->
            <!--                <img style="height: 40%" src="../../../content/images/login/sds-logo.png" alt="">-->
            <!--            </div>-->
            <!--            <div>-->
            <!--                <p class="text-footer-new"><img class="logo-address-company" src="../../../content/images/login/location.png" alt="">Nhà khách ATS, số 8 Phạm Hùng, Phường Mễ Trì, Quận Nam Từ Liêm, HN</p>-->
            <!--                <p class="text-footer-new"><img class="logo-address-company"  src="../../../content/images/login/location.png" alt="">Số H.46 đường Dương Thị Giang, Phường Tân Thới Nhất, Quận 12, TP HCM</p>-->
            <!--                <p class="text-footer-new"><img class="logo-address-company"  src="../../../content/images/login/tel-icon.png" alt="">Tel: 0981 772 388 - 1900 57 57 54 &nbsp;<img class="logo-address-company" src="../../../content/images/login/mail-icon.png" alt=""> Email: contact@softdreams.vn</p>-->
            <!--            </div>-->
        </div>
    </div>
</div>
<div class="wrap-custom"
     [hidden]="!isCustomLogin">
    <div class="rightCustom">
        <div class="logoCustom">
            <div>
                <img style="height: 100%;" src="../../../content/images/login/ANH11.png" alt="">
            </div>
        </div>
        <div class="content" style="max-width: 450px; min-width: 300px">
            <form action="">
                <div class="form-group" style="transition: all .3s;" [style.opacity]="signedIn ? '0' : '1'"
                     [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                    <label jhiTranslate="login.title" class="css-text-tet-custom">Đăng nhập</label>
                    <div class="form-item">
                        <input type="text" class="form-control" name="usernameCustom" id="usernameCustom"
                               [(ngModel)]="username" [disabled]="signedIn"
                               placeholder="Nhập email đăng ký của quý khách">
                    </div>
                </div>
                <div class="form-group" style="margin-top: 5px; transition: all .3s;"
                     [style.opacity]="signedIn ? '0' : '1'"
                     [style.visibility]="signedIn ? 'hidden' : 'visible'" *ngIf="!hide">
                    <label jhiTranslate="login.form.password" class="css-text-tet-custom">Mật khẩu</label>
                    <div class="form-item">
                        <input type="password" class="form-control" name="passwordCustom" id="passwordCustom"
                               [(ngModel)]="password" (keydown.enter)="login()" [disabled]="signedIn"
                               placeholder="Nhập mật khẩu của quý khách">
                    </div>
                </div>
                <div class="form-group" style="transition: all .3s;" [style.opacity]="!hide2 ? '0' : '1'"
                     [style.visibility]="!hide2 ? 'hidden' : 'visible'" [hidden]="!signedIn && !hide">
                    <label jhiTranslate="login.enterprise" class="css-text-tet-custom">Doanh nghiệp</label>
                    <div class="form-item">
                        <eb-tree-combo-box [tree]="data" [(ngModel)]="org" name="org"
                                           [isLoginPage]="true"></eb-tree-combo-box>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10px">
                    <!--<label>
                        <input type="checkbox" name="rememberMe" id="rememberMe"
                               [(ngModel)]="rememberMe" >
                        <span jhiTranslate="login.form.rememberme">Nhớ tài khoản</span>
                    </label>-->
                    <a [class.disable]="checkDisable()" (click)="requestResetPassword()"
                       jhiTranslate="login.password.forgot" *ngIf="!signedIn" class="css-text-tet-custom">Quên mật
                        khẩu?</a>
                    <a (click)="reset()"
                       [hidden]="!signedIn"><span jhiTranslate="login.relogin"
                                                  class="css-text-tet-custom">Đăng nhập lại</span>
                    </a>
                </div>
                <div class="form-group">
                    <button (click)="login()" jhiTranslate="login.form.button"
                            [disabled]="!username || !password || (signedIn && !org)" class="login-button"
                            style="background: #ff8b00">ĐĂNG NHẬP
                    </button>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="error">Tên đăng nhập không tồn tại</label>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="login-error" *ngIf="authenticationError"
                         jhiTranslate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                    <div class="login-error" *ngIf="companyError" jhiTranslate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                    <div class="login-error" *ngIf="isActivePackage"
                         jhiTranslate="login.messages.error.isActivePackage">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                    <div class="login-error" *ngIf="expired" jhiTranslate="login.messages.error.expired">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>
            </form>
        </div>
        <div class="slogan">
            <div style="height: 100%">
                <div style="height: 70%">
                    <img style="height: 100%; width: auto" src="../../../content/images/login/accounting-online.png" alt="">
                </div>
                <div style="height: 30%">
                    <img style="height: 100%; width: auto" src="../../../content/images/login/slogan-accounting-online.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer footer-main" *ngIf="isSalesConfig">
            <div style="padding: 0.5%">
                <img style="height: 100%; width: auto" src="/content/images/logo.png"/><span
                class="text-foot-left">{{textBrandName}}</span>
            </div>
            <div style="padding: 0.7%">
                <span class="text-foot-right">Copyright © 2019 <b>SoftDreams</b> JSC. All rights reserved</span>
            </div>
        </div>
    </div>
</div>
<ng-template #detailNotification let-d="dismiss">
    <div id="detailNotification">
        <fa-icon [icon]="'times-circle'" class="close-button" [size]="'2x'" (click)="d('close')"></fa-icon>
        <img src="../../../content/images/login/nghile.jpg">
    </div>
</ng-template>
