body {
    margin: 0;
    font-family: 'Open_Sans';
}

.wrap {
    display: flex;
    min-height: 100vh;
    /*background: url(../../../content/images/login/background-covid-19.png) no-repeat;*/
    /*background-size: cover;*/
}

.wrap-custom {
    display: flex;
    min-height: 100vh;
    background: url(../../../content/images/login/bg-custom.jpg) no-repeat;
    background-size: cover;
    max-height: 100vh;
}

.wrap .left {
    width: 35%;
    min-height: 100vh;
    background: #fff;
}
/* line 21, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* line 28, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .logo img {
    height: 90px;
    width: auto;
    margin-right: 35px;
    transform: translateY(3px);
}
/* line 36, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout {
    display: flex;
}
/* line 38, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item {
    width: 135px;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* line 45, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item a {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* line 51, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item img {
    width: 100%;
}
/* line 53, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item img.device {
    height: 38px;
    width: auto;
}
.wrap .left .content {
    margin-top: 5px;
    border-top: 1px solid #efefef;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.wrap .left .content .item {
    width: 40%;
    margin: 0 15px;
}
.wrap .left .content .item img {
    width: 100%;
}
.wrap .left .login-footer {
    margin-top: 15px;
}
.wrap .left .login-footer .brand {
    display: flex;
    justify-content: center;
}
/* line 86, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .login-footer .brand img {
    height: 50px;
    margin: 0 15px;
    display: block;
}
.wrap .right {
    width: 65%;
    min-height: 100vh;
    background: url(../../../content/images/login/background-covid-19.png) no-repeat;
    background-size: cover;
}

.wrap-custom .rightCustom {
    width: 100%;
    min-height: 100vh;
}

.wrap .right .logo {
    padding-top: 50px;
}

.wrap-custom .rightCustom .logoCustom {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 30%;
    padding-top: 2%;
}

.wrap .right .logo img {
    height: 60px;
    display: block;
    margin: auto;
}

.wrap-custom .rightCustom .logoCustom div img {
    padding: 0px 10px 0px 10px;
    height: 200px;
    display: block;
    margin: auto;
}

.wrap .right .content {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.wrap-custom .rightCustom .content {
    width: 60%;
    margin: auto;
    height: 25%;
    padding-top: 3%;
}
.wrap .right .content .form-group,
.wrap-custom .rightCustom .content .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap .right .content .form-group label,
.wrap-custom .rightCustom .content .form-group label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 14px;
}
.wrap .right .content .form-group .form-item,
.wrap-custom .rightCustom .content .form-group .form-item {
    width: 100%;
}
.wrap .right .content .form-group .form-item input,
.wrap-custom .rightCustom .content .form-group .form-item input {
    height: 32px !important;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
}
.wrap .right .content .form-group input,
.wrap-custom .rightCustom .content .form-group input {
    transform: translateY(1px);
}
.wrap .right .content .form-group a,
.wrap-custom .rightCustom .content .form-group a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.wrap .right .content .form-group button,
.wrap-custom .rightCustom .content .form-group button {
    width: 100%;
    height: 32px;
    cursor: pointer;
    outline: none;
    background: #e26e4c;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.wrap .right .login-footer,
.wrap-custom .rightCustom .login-footer {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.wrap .right .login-footer p,
.wrap-custom .rightCustom .login-footer p {
    margin-bottom: 3px;
    color: #f8f8f8;
    font-size: 12px;
}
.wrap .right .login-footer p strong,
.wrap-custom .rightCustom .login-footer p strong {
    font-size: 14px;
}

@media screen and (max-width: 1250px) {
    .wrap .left {
        display: none;
    }
    .wrap .right,
    .wrap-custom .rightCustom {
        width: 100%;
    }
}
.wrap .right .content .form-group div.login-error,
.wrap-custom .rightCustom .content .form-group div.login-error {
    margin-top: 15px;
    color: red;
    transform: translateY(5px);
    margin-bottom: 0;
    font-size: 12px;
}

.wrap .right .content .form-group div.login-error,
.wrap-custom .rightCustom .content .form-group div.login-error {
    margin-top: 15px;
    color: red;
    transform: translateY(5px);
    margin-bottom: 0;
    font-size: 12px;
}

.css-text-tet {
    color: #2c3e50 !important;
    font-weight: 500;
}

.css-text-tet-custom {
    color: white !important;
    font-weight: 500;
}

.text-footer {
    color: #2c3e50 !important;
}

.slogan {
    display: block;
    text-align: center;
    height: 10%;
    margin-top: 12%;
}

.footer-main {
    background: #e9e9eb;
    color: #232425;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 1%;
}
.footer-main img {
    width: 100px;
    max-width: 100%;
    height: auto;
    /* margin: auto; */
    vertical-align: middle;
}
.footer-main span.text-foot-left {
    padding-left: 20px;
}

.footer-main span.text-foot-right {
    float: right;
}

.login-form {
    margin: 8% 30% 8% 30%;
    background: white;
    padding-bottom: 5%;
    border-radius: 3%;
}

.userName {
    width: 25px !important;
    height: 36px;
    border: 1px solid #ced4da;
    border-right: none;
    padding: 8px 4px 8px 4px;
}

.password {
    width: 25px !important;
    height: 36px;
    border: 1px solid #ced4da;
    border-right: none;
    padding: 10px 5px 10px 5px;
}

.main-content {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Helvetica Neue Light', 'Lucida Grande', 'Calibri', 'Arial', sans-serif;
}

.label-login {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 2px 5px;
    color: #615a5a;
    font-family: 'Helvetica Neue Light', 'Lucida Grande', 'Calibri', 'Arial', sans-serif;
}

.login-footer-new {
    display: block;
    text-align: center;
}

.text-footer-new {
    margin: 0;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.logo-footer {
    display: block;
    width: 10%;
    text-align: center;
}

.logo-address-company {
    width: 60%;
}

.form-control:focus {
    border: 1px solid #ced4da !important;
    border-left: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}
