<div [ngClass]="{'nb-collapsed': isNavbarCollapsed, 'nb-expand': !isNavbarCollapsed}"
     (keyup.arrowRight)="moveNext($event)" (keyup.arrowLeft)="movePrevious($event)"
     [class.disable-user-select]="disableUserSelect" (click)="closeNotification()">
    <div class="container-scroller">
        <router-outlet name="navbar" *ngIf="!this.router.url.includes('/admin')"></router-outlet>
        <router-outlet name="admin-navbar" *ngIf="this.router.url.includes('/admin')"></router-outlet>
        <div class="container-fluid" style="width: auto !important;"
             [ngClass]="{'page-body-wrapper': (this.router.url !== '/login' && this.router.url !== '/admin/login'),
                         'page-body-wrapper-100': (this.router.url === '/login' || this.router.url === '/admin/login')}">
            <nav class="sidebar sidebar-offcanvas" id="sidebar"
                 [hidden]="(this.router.url === '/login' || this.router.url === '/admin/login')">
                <router-outlet name="sidebar" *ngIf="!this.router.url.includes('/admin')"></router-outlet>
                <router-outlet name="admin-sidebar" *ngIf="this.router.url.includes('/admin')"></router-outlet>
            </nav>
            <div
                    [ngClass]="{'main-panel': (this.router.url !== '/login' && this.router.url !== '/bao-cao' && !this.router.url.includes('-preview')),
                            'main-panel-100': (this.router.url === '/login' || this.router.url === '/admin/login'),
                            'main-panel-report': (this.router.url === '/bao-cao'),
                            'main-panel-preview': (this.router.url.includes('-preview'))
                            }" [ngStyle]="{'width': this.router.url.includes('-preview') ? '100%' : ''}">
                <div [ngClass]="{'content-wrapper': (this.router.url !== '/login' && this.router.url !== '/bao-cao' && this.router.url !== '/admin/login'),
                                 'content-wrapper-homeChart': (this.router.url === '/')
                                 }"
                >
                    <router-outlet></router-outlet>
                </div>
                <router-outlet *ngIf="!isCustomLogin" name="footer"></router-outlet>
            </div>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
</div>
