<div>
    <div>
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.pSTimeSheet.home.title"></span>
            </div>
            <div class="gr-toolbar">
                <button class="button-navigation" title="{{buttonAddTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]"
                        (click)="addNew(false)"><i
                    class="mdi mdi-plus"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.add"></span></button>
                <button class="button-navigation" title="{{buttonDeleteTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XOA]"
                        [disabled]="pSTimeSheets?.length === 0 || !selectedRow || !checkSameOrg()"
                        (click)="delete()"><i
                    class="mdi mdi-delete"></i> <span jhiTranslate="ebwebApp.mBDeposit.home.delete"></span></button>
<!--                In-->
                <div ngbDropdown class="d-inline-block" *ngIf="pSTimeSheet?.id">
                    <button class="button-navigation" *ebHasSomeAuthority="[['ROLE_ADMIN', ROLE_IN], isUseToolIn]"
                        id="dropdownM" ngbDropdownToggle ><i
                        class="mdi mdi-printer"></i><span>In</span>
                    </button>
                    <div  ngbDropdownMenu aria-labelledby="dropdownM"
                          style="padding: 0!important; min-width: 150px">
                        <button class="btn-dr-i hover-dr" style="color: #0a0a10!important;"
                                (click)="exportPDFWebServiceDS(this.pSTimeSheet.typeID == 751 ? TypeMultiPrintTemplate.BANG_CHAM_CONG_THEO_GIO : TypeMultiPrintTemplate.BANG_CHAM_CONG_THEO_NGAY)"><span
                            jhiTranslate="ebwebApp.pSTimeSheet.boardPSTimeSheet"></span></button>
                    </div>
                </div>

                <button class="button-navigation" title="{{buttonExportTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KETXUAT]"
                        (click)="export()" [disabled]="pSTimeSheets?.length === 0"><i
                    class="mdi mdi-file-export"></i><span
                    jhiTranslate="ebwebApp.mBDeposit.home.exportExcel"></span></button>
                <button class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="!isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.gOtherVoucher.home.hideAdvanceSearch"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XEM]" title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.mBDeposit.home.advanceSearch"></span>
                </button>
            </div>
        </div>
        <div class="frm-main frm-mains nobg">
            <form id="seach" style="background: #cbdcf0;" [hidden]="!isShowSearch">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.typeName"></label>
                            <div class="col-sm-7 pd-l-0">
                                <!--                                <select style="height: 35px;float: right" name="listTypePSTimeSheetSearch"-->
                                <!--                                        id="field_listTypePSTimeSheetSearch"-->
                                <!--                                        class="form-control form-control-sm"-->
                                <!--                                        [(ngModel)]="objSearch.typeID">-->
                                <!--                                    <option [ngValue]="type.value"-->
                                <!--                                            *ngFor="let type of listTypePSTimeSheet">{{type.name}}</option>-->
                                <!--                                </select>-->
                                <combo-box style="" id="field_listTypePSTimeSheetSearch"
                                           name="listTypePSTimeSheetSearch"
                                           [idIp]="'inputFirst'"
                                           [tabindex]="1"
                                           [dataList]="listTypePSTimeSheet"
                                           [isOutTable]="true"
                                           [listColumns]="['name']"
                                           displayMember="name"
                                           valueName="value"
                                           [headerColumns]="['Loại chấm công']"
                                           [isObject]="false"
                                           [(ngModel)]="objSearch.typeID">
                                </combo-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.fromDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [(ngModel)]="objSearch.fromDate" name="fromDate" [tabindex]="2"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   style="padding-top: 7px; padding-right: 0px"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.toDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [(ngModel)]="objSearch.toDate" name="toDate" [tabindex]="3"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="timKiem.keyWord"></label>
                            <div class="col-sm-5">
                                <input [(ngModel)]="objSearch.textSearch" name="searchValue" id="field_searchValue" [tabIndex]="4"
                                       type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="frm-button">
                            <button class="btn btn-success btn-sm" [tabIndex]="5" (click)="search()" style="font-size: 16px"><i
                                class="mdi mdi-magnify"
                                aria-hidden="true"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="timKiem.search"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" [tabIndex]="6" (click)="clearSearch()" style="font-size: 16px"><i
                                class="mdi mdi-replay"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="ebwebApp.gOtherVoucher.detail.reset"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="frm-main frm-tables frm-padding no-highlight" style="background: #cbdcf0; margin-top: 5px;">
                <div id="table-scroll0" class="table-scroll voucher-table" style="height: 295px !important;">
                    <table id="main-table0" class="main-table">
                        <thead class="header-table">
                        <tr>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.month" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.year" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.typeID" style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.pSTimeSheetName">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ipsTimeSheet of pSTimeSheets ; let i = index; trackBy: trackId"
                            (click)="selectMultiRow(ipsTimeSheet, $event, pSTimeSheets)"
                            [class.selected]="this.selectedRows.indexOf(ipsTimeSheet) !== -1"
                            (dblclick)="edit()">
                            <td title="{{ipsTimeSheet.month}}" class="jsgrid-cell jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{ipsTimeSheet.month}}</td>
                            <td title="{{ipsTimeSheet.year}}" class="jsgrid-cell jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{ipsTimeSheet.year}}</td>
                            <td title="{{getTypeTimeSheet(ipsTimeSheet.typeID)}}"
                                class="jsgrid-cell jsgrid-align-left"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">{{getTypeTimeSheet(ipsTimeSheet.typeID)}}</td>
                            <td title="{{ipsTimeSheet.pSTimeSheetName}}"
                                class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{ipsTimeSheet.pSTimeSheetName}}</td>
                        </tr>
                        <tr *ngFor="let l of newArr(10 - pSTimeSheets?.length)">
                            <td class="cell-Table jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly>
                            </td>
                            <td class="cell-Table jsgrid-align-center"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly>
                            </td>
                            <td class="cell-Table jsgrid-align-right"
                                style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"><input type="text" class="input-Cell" readonly></td>
                            <td class="cell-Table jsgrid-align-right"
                                style="width: 150px"><input type="text" class="input-Cell" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--        phân trang-->
        <div *ngIf="pSTimeSheets && pSTimeSheets.length"
             style="padding-right: 16px;">
            <div class="row" style="height: 32px">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-end" style="height:32px">
                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-sm-9 col-form-label" for="itemsPerPage"
                                       style="padding-right: 0px;text-align: right;"><span
                                    jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                                <div class="col-sm-3 pd-l-0">
                                    <select class="form-control form-control-sm" name="itemsPerPage"
                                            id="itemsPerPage"
                                            style="background-color: #f5f7fa;"
                                            [(ngModel)]="itemsPerPage"
                                            (ngModelChange)="selectedItemPerPage()"
                                    >
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-end">
                            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page"
                                            [pageSize]="itemsPerPage"
                                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        end of phan trang-->
        <!--        Nộp tiền vào tài khoản-->
        <div>
            <ngb-tabset class="tool-navbar">
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mBDeposit.home.chiTiet"></span></ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail-160"
                                 style="background: #cbdcf0">
                                <div #scrollHeader id="main-table_header" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                     class="border-right-blue width-1-p">
                                    <table class="table-scroll main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.stt"
                                                style="min-width: 50px !important; max-width: 50px !important;"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.departmentID"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.employeeID"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.accountingObjectName">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day1"
                                                [ngClass]="checkIsSunday(1) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day2"
                                                [ngClass]="checkIsSunday(2) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day3"
                                                [ngClass]="checkIsSunday(3) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day4"
                                                [ngClass]="checkIsSunday(4) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day5"
                                                [ngClass]="checkIsSunday(5) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day6"
                                                [ngClass]="checkIsSunday(6) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day7"
                                                [ngClass]="checkIsSunday(7) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day8"
                                                [ngClass]="checkIsSunday(8) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day9"
                                                [ngClass]="checkIsSunday(9) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day10"
                                                [ngClass]="checkIsSunday(10) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day11"
                                                [ngClass]="checkIsSunday(11) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day12"
                                                [ngClass]="checkIsSunday(12) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day13"
                                                [ngClass]="checkIsSunday(13) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day14"
                                                [ngClass]="checkIsSunday(14) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day15"
                                                [ngClass]="checkIsSunday(15) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day16"
                                                [ngClass]="checkIsSunday(16) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day17"
                                                [ngClass]="checkIsSunday(17) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day18"
                                                [ngClass]="checkIsSunday(18) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day19"
                                                [ngClass]="checkIsSunday(19) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day20"
                                                [ngClass]="checkIsSunday(20) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day21"
                                                [ngClass]="checkIsSunday(21) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day22"
                                                [ngClass]="checkIsSunday(22) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day23"
                                                [ngClass]="checkIsSunday(23) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day24"
                                                [ngClass]="checkIsSunday(24) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day25"
                                                [ngClass]="checkIsSunday(25) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day26"
                                                [ngClass]="checkIsSunday(26) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.day27"
                                                [ngClass]="checkIsSunday(27) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th *ngIf="totalDays >= 28 || !totalDays" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.day28"
                                                [ngClass]="checkIsSunday(28) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th *ngIf="totalDays >= 29 || !totalDays" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.day29"
                                                [ngClass]="checkIsSunday(29) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th *ngIf="totalDays >= 30 || !totalDays" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.day30"
                                                [ngClass]="checkIsSunday(30) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th *ngIf="totalDays >= 31 || !totalDays" scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.day31"
                                                [ngClass]="checkIsSunday(31) === true ? 'red' : ''" class="sizeDay">
                                            </th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.paidWorkingDay"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.paidNonWorkingDay">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.workingDay"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.weekendDay"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.holiday"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.workingDayNight"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.weekendDayNight"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.pSTimeSheetDetails.holidayNight"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.pSTimeSheetDetails.totalOverTime">
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table #scrollTwo id="main-table-so-du-dau-ky"
                                       class="table-scroll main-table virtualScroller"
                                       #tableResult>
                                    <tbody ebVirtualScroller #scroll [items]="pSTimeSheetDetails"
                                           [parentScroll]="tableResult"
                                           style="height: 250px">
                                    <tr *ngFor="let detail of utilsService.getSortArray(scroll.viewPortItems); let i = index">
                                        <td title="{{detail.stt}}"
                                            class="jsgrid-cell jsgrid-align-center"
                                            style="min-width: 50px !important; max-width: 50px !important;">{{detail.stt}}</td>
                                        <td title="{{getDepartmentID(detail.departmentID)}}"
                                            class="jsgrid-cell jsgrid-align-center">{{getDepartmentID(detail.departmentID)}}
                                        </td>
                                        <td title="{{getEmployeeByID(detail.employeeID)}}"
                                            class="jsgrid-cell jsgrid-align-center">{{getEmployeeByID(detail.employeeID)}}</td>
                                        <td title="{{getEmployeeName(detail.employeeID)}}"
                                            class="jsgrid-cell jsgrid-align-left">{{getEmployeeName(detail.employeeID)}}</td>
                                        <td title="{{detail.day1}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day1}}</td>
                                        <td title="{{detail.day2}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day2}}</td>
                                        <td title="{{detail.day3}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day3}}</td>
                                        <td title="{{detail.day4}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day4}}</td>
                                        <td title="{{detail.day5}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day5}}</td>
                                        <td title="{{detail.day6}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day6}}</td>
                                        <td title="{{detail.day7}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day7}}</td>
                                        <td title="{{detail.day8}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day8}}</td>
                                        <td title="{{detail.day9}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day9}}</td>
                                        <td title="{{detail.day10}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day10}}</td>
                                        <td title="{{detail.day11}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day11}}</td>
                                        <td title="{{detail.day12}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day12}}</td>
                                        <td title="{{detail.day13}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day13}}</td>
                                        <td title="{{detail.day14}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day14}}</td>
                                        <td title="{{detail.day15}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day15}}</td>
                                        <td title="{{detail.day16}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day16}}</td>
                                        <td title="{{detail.day17}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day17}}</td>
                                        <td title="{{detail.day18}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day18}}</td>
                                        <td title="{{detail.day19}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day19}}</td>
                                        <td title="{{detail.day20}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day20}}</td>
                                        <td title="{{detail.day21}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day21}}</td>
                                        <td title="{{detail.day22}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day22}}</td>
                                        <td title="{{detail.day23}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day23}}</td>
                                        <td title="{{detail.day24}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day24}}</td>
                                        <td title="{{detail.day25}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day25}}</td>
                                        <td title="{{detail.day26}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day26}}</td>
                                        <td title="{{detail.day27}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day27}}</td>
                                        <td *ngIf="totalDays >= 28 || !totalDays" title="{{detail.day28}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day28}}</td>
                                        <td *ngIf="totalDays >= 29 || !totalDays" title="{{detail.day29}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day29}}</td>
                                        <td *ngIf="totalDays >= 30 || !totalDays" title="{{detail.day30}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day30}}</td>
                                        <td *ngIf="totalDays >= 31 || !totalDays" title="{{detail.day31}}"
                                            class="jsgrid-cell jsgrid-align-center sizeDay">{{detail.day31}}</td>
                                        <td title="{{detail.paidWorkingDay}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="paidWorkingDay{{i}}"
                                                                                           id="paidWorkingDay{{i}}"
                                                                                           [(ngModel)]="detail.paidWorkingDay"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.paidNonWorkingDay}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="paidNonWorkingDay{{i}}"
                                                                                           id="paidNonWorkingDay{{i}}"
                                                                                           [(ngModel)]="detail.paidNonWorkingDay"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.workingDay}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="workingDay{{i}}"
                                                                                           id="workingDay{{i}}"
                                                                                           [(ngModel)]="detail.workingDay"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.weekendDay}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="weekendDay{{i}}"
                                                                                           id="weekendDay{{i}}"
                                                                                           [(ngModel)]="detail.weekendDay"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.holiday}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="holiday{{i}}"
                                                                                           id="holiday{{i}}"
                                                                                           [(ngModel)]="detail.holiday"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.workingDayNight}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="workingDayNight{{i}}"
                                                                                           id="workingDayNight{{i}}"
                                                                                           [(ngModel)]="detail.workingDayNight"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.weekendDayNight}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="weekendDayNight{{i}}"
                                                                                           id="weekendDayNight{{i}}"
                                                                                           [(ngModel)]="detail.weekendDayNight"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.holidayNight}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="holidayNight{{i}}"
                                                                                           id="holidayNight{{i}}"
                                                                                           [(ngModel)]="detail.holidayNight"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                        <td title="{{detail.totalOverTime}}"
                                            class="jsgrid-cell jsgrid-align-center"><input type="text"
                                                                                           class="input-Cell text-right"
                                                                                           name="totalOverTime{{i}}"
                                                                                           id="totalOverTime{{i}}"
                                                                                           [(ngModel)]="detail.totalOverTime"
                                                                                           ebCurrencyMask
                                                                                           [options]="optionsDirective"
                                                                                           disabled></td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(9 - pSTimeSheetDetails?.length)">
                                        <td class="cell-Table jsgrid-align-center"
                                            style="min-width: 50px !important; max-width: 50px !important;"><input
                                            type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"><input type="text"
                                                                                                  class="input-Cell"
                                                                                                  readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td *ngIf="totalDays >= 28 || !totalDays"
                                            class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td *ngIf="totalDays >= 29 || !totalDays"
                                            class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td *ngIf="totalDays >= 30 || !totalDays"
                                            class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td *ngIf="totalDays >= 31 || !totalDays"
                                            class="cell-Table jsgrid-align-center sizeDay"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center"
                                            style="width: 150px"><input type="text" class="input-Cell" readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div
                                (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                #scrollOne id="main-table1"
                                class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                style="overflow-x: scroll;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                <tr>
                                    <td class="cell-Table countRow virtualScroll-footer"
                                    ><input style="width: 300% !important;"
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell"
                                        value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{pSTimeSheetDetails ? pSTimeSheetDetails?.length : 0}}">
                                    </td>
                                    <td class="cell-Table countRow" style="border-left: none !important;">
                                        <!--                                            <input-->
                                        <!--                                            type="text"-->
                                        <!--                                            [class.noEdit]="true"-->
                                        <!--                                            class="countRow input-Cell">-->
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td *ngIf="totalDays >= 28 || !totalDays" class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td *ngIf="totalDays >= 29 || !totalDays" class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td *ngIf="totalDays >= 30 || !totalDays" class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td *ngIf="totalDays >= 31 || !totalDays" class="cell-Table countRow sizeDay"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                    <td class="cell-Table countRow"><input
                                        type="text"
                                        [class.noEdit]="true"
                                        class="countRow input-Cell">
                                    </td>
                                </tr>
                            </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<ng-template #popUpMultiDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.pSTimeSheet.multiDeleteMessage"></label>
                <!--                <label *ngIf="typeMultiAction === 1" jhiTranslate="ebwebApp.mBDeposit.multiUnrecordMessage"></label>-->
                <!--                <label *ngIf="typeMultiAction === 2" jhiTranslate="ebwebApp.mBDeposit.multiRecordMessage"></label>-->
                <!--                <label *ngIf="selectedRows?.length === 1" jhiTranslate="ebwebApp.mBDeposit.deleteMessage"></label>-->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDelete()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>

<ng-template #contentAddNew let-dismissAdd="dismiss">
    <div>
        <div class="modal-header p-3" style="background: #cbdcf0;">
            <span jhiTranslate="ebwebApp.pSTimeSheet.boardPSTimeSheet"></span>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" [tabIndex]="-1"
                    (click)="dismissAdd('Close'); closePopup()">&times;
            </button>
        </div>
        <div class="modal-body p-3" style="background: #cbdcf0;">
            <form>
                <div class="form-group row" style="padding-bottom: 5px">
                    <div class="col-3">
                        <label jhiTranslate="ebwebApp.pSTimeSheet.typeID"></label>
                    </div>
                    <div class="col-3">
                        <select style="height: 35px;float: right" name="accountingObjectType"
                                id="field_accountingObjectType"
                                class="form-control form-control-sm"
                                [(ngModel)]="typeID"
                                (change)="selectChangePSSheetName()" [tabIndex]="1001">
                            <option [ngValue]="type.value"
                                    *ngFor="let type of listTypePSTimeSheet">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label jhiTranslate="ebwebApp.pSTimeSheet.month"></label>
                    </div>
                    <div class="col-2">
                        <combo-box style="" id="field_listMonth"
                                   name="comboboxlistMonth"
                                   [dataList]="listMonth"
                                   [isOutTable]="true"
                                   [valueIsNumber]="true"
                                   [listColumns]="['name']"
                                   displayMember="value"
                                   valueName="value"
                                   [headerColumns]="['Tháng']"
                                   [isObject]="false"
                                   [(ngModel)]="month"
                                   [tabindex]="1002"
                                   (ngModelChange)="selectChangePSSheetName()">
                        </combo-box>
                    </div>
                    <div class="col-1">
                        <label jhiTranslate="ebwebApp.pSTimeSheet.year"></label>
                    </div>
                    <div class="col-2">
                        <combo-box style="" id="field_listYear"
                                   name="comboboxlistYear"
                                   [dataList]="listYear"
                                   [isOutTable]="true"
                                   [valueIsNumber]="true"
                                   [listColumns]="['value']"
                                   displayMember="value"
                                   valueName="value"
                                   [headerColumns]="['Năm']"
                                   [isObject]="false"
                                   [(ngModel)]="year"
                                   [tabindex]="1003"
                                   (ngModelChange)="selectChangePSSheetName()">
                        </combo-box>
                    </div>
                </div>
                <div class="form-group row" style="padding-bottom: 5px">
                    <div class="col-3">
                        <label jhiTranslate="ebwebApp.pSTimeSheet.pSTimeSheetName"></label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control form-control-sm"
                               name="pSTimeSheetName"
                               [(ngModel)]="pSTimeSheetName" maxlength="256" [tabIndex]="1004"/>
                    </div>
                </div>
                <div class="frm-main frm-mains nobg">
                    <div class="frm-main frm-tables frm-padding no-highlight" style="background: #cbdcf0; margin-top: 5px;">
                        <div id="table-scroll-popup" class="table-scroll" style="z-index: 0; height: 200px">
                            <table class="main-table" style="min-width: 750px !important;">
                                <thead>
                                <tr>
                                    <th scope="col"
                                        style="min-width: 50px !important; max-width: 50px !important; width: 50px !important;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="check-all"
                                                   [checked]="isCheckAll()" (change)="checkAll()" [tabIndex]="1005">
                                            <label class="custom-control-label" for="check-all"></label>
                                        </div>
                                    </th>
                                    <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.organizationUnitCode"
                                        style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">Mã
                                        phòng ban
                                    </th>
                                    <th scope="col" jhiTranslate="ebwebApp.pSTimeSheet.organizationUnitName"
                                        style="min-width: 150px !important;max-width: 150px !important; width: 150px">Tên
                                        phòng ban
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of organizationUnitss, let i = index">
                                    <td class="text-center"
                                        style="min-width: 50px !important; max-width: 50px !important; width: 50px !important;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="{{'checkbox' + i}}"
                                                   id="{{'checkbox' + i}}" [(ngModel)]="item.checked" (click)="check(item)"
                                                    [tabIndex]="1006 + i"
                                            >
                                            <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                                        </div>
                                    </td>
                                    <td class="jsgrid-align-left"
                                        style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;">
                                        {{item.organizationUnitCode}}
                                    </td>
                                    <td class="jsgrid-align-left"
                                        style="min-width: 150px !important;max-width: 150px !important; width: 150px">
                                        {{item.organizationUnitName}}
                                    </td>
                                </tr>
                                <tr *ngFor="let l of newArr(7 - organizationUnitss?.length)">
                                    <td class="jsgrid-align-center"
                                        style="min-width: 50px !important;max-width: 50px !important; width: 50px"
                                    >&nbsp;
                                    </td>
                                    <td class="jsgrid-align-right"
                                        style="min-width: 70px !important; max-width: 70px !important; width: 70px !important;"
                                    ></td>
                                    <td class="jsgrid-align-right"
                                        style="min-width: 150px !important;max-width: 150px !important; width: 150px">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="padding-bottom: 5px">
                    <div class="col-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="taoMoiHoanToan"
                                   name="taoMoiHoanToan"
                                   class="custom-control-input" [tabIndex]="1007 + organizationUnitss.length"
                                   [value]="0" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()">
                            <label class="custom-control-label"
                                   for="taoMoiHoanToan"
                                   jhiTranslate="ebwebApp.pSTimeSheet.taoMoiHoanToan"></label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="taoMoiKhac"
                                   name="taoMoiKhac"
                                   class="custom-control-input"
                                   [tabIndex]="1008 + organizationUnitss.length"
                                   [value]="1" [(ngModel)]="typeCreate" (ngModelChange)="changeTypeCreate()">
                            <label class="custom-control-label"
                                   for="taoMoiKhac"
                                   jhiTranslate="ebwebApp.pSTimeSheet.taoMoiKhac"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="padding-bottom: 5px">
                    <div class="col-3">
                        <label jhiTranslate="ebwebApp.pSTimeSheet.duaTrenBCC"></label>
                    </div>
                    <div class="col-9">
                        <combo-box style="" id="field_lastTimeSheetID"
                                   name="comboboxlastTimeSheetID"
                                   [dataList]="listLastPSTimeSheet"
                                   [isOutTable]="true"
                                   [valueIsNumber]="true"
                                   [listColumns]="['pSTimeSheetName','typeLedgerStr']"
                                   displayMember="pSTimeSheetName"
                                   [isReadOnly]="typeCreate === TAO_MOI_HOAN_TOAN"
                                   valueName="id"
                                   [headerColumns]="['Kỳ chấm công','Sổ làm việc']"
                                   [isObject]="false"
                                   [(ngModel)]="lastTimeSheetID"
                                   [tabindex]="1009 + organizationUnitss.length"
                        ></combo-box>
                    </div>
                </div>
                <div class="form-group row" style="padding-bottom: 5px">
                    <div class="col-3">
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="autoAddNewEmployee"
                                   name="autoAddNewEmployee"
                                   [checked]="autoAddNewEmployee === true" [disabled]="typeCreate === TAO_MOI_HOAN_TOAN"
                                   [tabIndex]="1010 + organizationUnitss.length"
                                   (change)="changeCheckBoxAddNewEmployee()">
                            <label class="custom-control-label"
                                   for="autoAddNewEmployee"
                                   jhiTranslate="ebwebApp.pSTimeSheet.themNVMoi"></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="getEmployeeNotActive"
                                   name="getEmployeeNotActive"
                                   [checked]="getEmployeeNotActive === true" [disabled]="typeCreate === TAO_MOI_HOAN_TOAN"
                                   [tabIndex]="1011 + organizationUnitss.length"
                                   (change)="changeCheckBoxGetEmployeeNotActive()">
                            <label class="custom-control-label"
                                   for="getEmployeeNotActive"
                                   jhiTranslate="ebwebApp.pSTimeSheet.layCaNgungTheoDoi"></label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row p-3 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success mr-2" (click)="showPopupAddNew()"
                        jhiTranslate="entity.action.ok" [tabIndex]="1012 + organizationUnitss.length">
                    đồng ý
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="dismissAdd('Close'); closePopup()"
                        jhiTranslate="entity.action.close" [tabIndex]="1013 + organizationUnitss.length">close
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #popUpDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.pSTimeSheet.deleteMessage"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDeletePSTimeSheet()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>
