.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}
.selected > td > input {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.active > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

/*style for menu*/
.itemw .gr-toolbar a {
    color: #ffffff;
}

.itemw .gr-toolbar a:hover {
    color: #f26f21 !important;
}

.selected {
    background: darkorange !important;
}

.mutipleSelected > td {
    background: #ddf7ef !important;
}

.mutipleSelected {
    background: #ddf7ef !important;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.disable {
    color: dimgray !important;
}

.description {
    min-width: 300px;
}

.inputFormatCurrency {
    width: 100%;
    border: none;
    background: transparent;
}

.countRow {
    background-color: #7db5dd !important;
    width: 100%;
    color: #000000;
}

.my-col-form-label {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    padding-top: 2px !important;
    width: 90px !important;
    max-width: 90px !important;
}

.my-col-form-label-1 {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    padding-top: 2px !important;
    width: 80px !important;
    max-width: 80px !important;
}

.row.no-gutters .my-last-div-4-3 {
    flex: 0 0 100%;
    max-width: calc(49.999999% - 340px) !important;
}

.row.no-gutters .my-last-div-3-2 {
    flex: 0 0 100%;
    max-width: calc(66.666666% - 260px) !important;
}

.red {
    background: #db641e !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.sizeDay {
    max-width: 80px !important;
    min-width: 80px !important;
}

.virtualScroller {
    display: block;
    height: 250px;
}

.virtualScroller-result {
    display: block;
    height: 180px;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

.width-1-p td,
.width-1-p th {
    width: 1% !important;
}

.virtualScroller-result th,
.virtualScroller-result td {
    width: 1% !important;
}

.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #f26f21 !important;
    color: black !important;
    border-color: #f26f21 !important;
}
