<div>
    <div class="modal-body">
        <div *ngIf="typeID !== BANG_LUONG && typeID !== HD_BAN && typeID !== HD_MUA" class="form">
            <div class="row">
                <label *ngIf="typeID !== HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.mBDeposit.countTotalVouchers"></label>
                <label *ngIf="typeID === HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.ppBill.handlingResult.total"></label>
                <label name="countSuccessVoucher"
                       type="text" class="col-sm-8 col-form-label">{{countTotalVouchers}}</label>
            </div>
            <div class="row">
                <label *ngIf="typeID !== HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.mBDeposit.countSuccessVouchers"></label>
                <label *ngIf="typeID === HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.ppBill.handlingResult.total_successful"></label>
                <label name="countSuccessVoucher"
                       type="text" class="col-sm-8 col-form-label">{{countSuccessVouchers}}</label>
            </div>
            <div class="row">
                <label *ngIf="typeID !== HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.mBDeposit.countFailVouchers"></label>
                <label *ngIf="typeID === HOA_DON_DAU_VAO" class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.ppBill.handlingResult.total_fail"></label>
                <label name="countSuccessVoucher"
                       type="text" class="col-sm-8 col-form-label">{{countFailVouchers}}</label>
            </div>
        </div>
        <div *ngIf="typeID === BANG_LUONG" class="form">
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.pSSalarySheet.countTotalPSSalarySheet"></label>
                <label name="countTotalPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countTotalVouchers}}</label>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.pSSalarySheet.countSuccessPSSalarySheet"></label>
                <label name="countSuccessPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countSuccessVouchers}}</label>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.pSSalarySheet.countFailPSSalarySheet"></label>
                <label name="countFailPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countFailVouchers}}</label>
            </div>
        </div>
        <div *ngIf="typeID === HD_MUA || typeID === HD_BAN" class="form">
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.eMContract.countTotalEMContract"></label>
                <label name="countTotalPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countTotalVouchers}}</label>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.eMContract.countSuccessEMContract"></label>
                <label name="countSuccessPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countSuccessVouchers}}</label>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label"
                       jhiTranslate="ebwebApp.eMContract.countFailEMContract"></label>
                <label name="countFailPSSalarySheet"
                       type="text" class="col-sm-8 col-form-label">{{countFailVouchers}}</label>
            </div>
        </div>
        <div class="frm-main frm-tables frm-padding" style="background: #cbdcf0; margin-top: 5px"
             [class.myreadonlytrue]="true">
            <div id="table-scroll0" class="table-scroll">
                <table id="main-table0" class="main-table">
                    <thead>
                    <tr>
                        <th *ngIf="typeID !== XUAT_HOA_DON && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN && typeID !== HOA_DON_DAU_VAO" scope="col" jhiTranslate="ebwebApp.mBDeposit.date"></th>
                        <th *ngIf="typeID === XUAT_HOA_DON" scope="col" jhiTranslate="ebwebApp.sAInvoice.invoiceDate"></th>
                        <th *ngIf="typeID === BANG_LUONG" scope="col" jhiTranslate="ebwebApp.pSSalarySheet.typeID"></th>
                        <th *ngIf="modalData && !modalData.includes('postedDate') && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN " scope="col" jhiTranslate="ebwebApp.mBDeposit.postedDate"></th>
                        <th *ngIf="modalData && !modalData.includes('typeID') && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH" scope="col" jhiTranslate="ebwebApp.mBDeposit.typeID"></th>
                        <th *ngIf="typeID !== XUAT_HOA_DON && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN && typeID !== HOA_DON_DAU_VAO" scope="col" jhiTranslate="global.noBook"></th>
                        <th *ngIf="typeID === XUAT_HOA_DON" scope="col" jhiTranslate="ebwebApp.sAInvoice.invoiceNo"></th>
                        <th *ngIf="typeID === BANG_LUONG" scope="col" jhiTranslate="ebwebApp.pSSalarySheet.pSSalarySheetName"></th>
                        <th *ngIf="typeID === KET_QUA_TINH_GIA_THANH" scope="col" jhiTranslate="ebwebApp.cPPeriod.listTable.fromDate"></th>
                        <th *ngIf="typeID === KET_QUA_TINH_GIA_THANH" scope="col" jhiTranslate="ebwebApp.cPPeriod.listTable.toDate"></th>
                        <th *ngIf="typeID === KET_QUA_TINH_GIA_THANH" scope="col" jhiTranslate="ebwebApp.cPPeriod.listTable.name"></th>
                        <th *ngIf="typeID === HD_MUA || typeID === HD_BAN" scope="col" jhiTranslate="ebwebApp.eMContractDetails.contractID"></th>
                        <th *ngIf="typeID === HD_MUA || typeID === HD_BAN" scope="col" jhiTranslate="ebwebApp.eMContractDetails.signedDate"></th>
                        <th *ngIf="typeID === HOA_DON_DAU_VAO" scope="col" jhiTranslate="ebwebApp.ppBill.handlingResult.date_column"></th>
                        <th *ngIf="typeID === HOA_DON_DAU_VAO" scope="col" jhiTranslate="ebwebApp.ppBill.handlingResult.bill_number_column"></th>
                        <th scope="col" jhiTranslate="ebwebApp.mBDeposit.nguyenNhan"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fail of data.listFail ; let i = index; trackBy: trackId">
                        <td *ngIf="typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN" title="{{fail.date}}" class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">{{fail.date | date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="modalData && !modalData.includes('postedDate') && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN" title="{{fail.postedDate}}" class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">{{fail.postedDate| date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="modalData && !modalData.includes('typeID') && typeID !== KET_QUA_TINH_GIA_THANH" title="{{fail.typeName}}" class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.typeName}}</td>
                        <td *ngIf="typeID === BANG_LUONG" title="{{fail.typeName}}" class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.typeName}}</td>
                        <td *ngIf="typeID !== XUAT_HOA_DON && typeID !== BANG_LUONG && typeID !== KET_QUA_TINH_GIA_THANH && typeID !== HD_MUA && typeID !== HD_BAN && typeID !== HOA_DON_DAU_VAO" title="{{isSoTaiChinh? fail.noFBook : fail.noMBook}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{isSoTaiChinh ? fail.noFBook : fail.noMBook}}</td>
                        <td *ngIf="typeID === XUAT_HOA_DON || typeID === HOA_DON_DAU_VAO" title="{{fail.invoiceNo}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.invoiceNo}}</td>
                        <td *ngIf="typeID === BANG_LUONG" title="{{fail.pSSalarySheetName}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.pSSalarySheetName}}</td>
                        <td *ngIf="typeID === KET_QUA_TINH_GIA_THANH" title="{{fail.fromDate}}"
                            class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">{{fail.fromDate | date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="typeID === KET_QUA_TINH_GIA_THANH" title="{{fail.toDate}}"
                            class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">{{fail.toDate | date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="typeID === KET_QUA_TINH_GIA_THANH" title="{{fail.name}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.name}}</td>
                        <td *ngIf="typeID === HD_MUA || typeID === HD_BAN" title="{{fail.noEmContract}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 150px">{{fail.noEmContract}}</td>
                        <td *ngIf="typeID === HD_MUA || typeID === HD_BAN" title="{{fail.signedDate | date:'dd/MM/yyyy'}}"
                            class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">{{fail.signedDate | date:'dd/MM/yyyy'}}</td>
                        <td title="{{getReasonFail(fail.reasonFail)}}"
                            class="jsgrid-cell jsgrid-align-left"
                            style="width: 300px">{{getReasonFail(fail.reasonFail)}}</td>
                    </tr>
                    <tr *ngFor="let l of newArr(9 - data.listFail?.length)">
                        <td class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td *ngIf="modalData && !modalData.includes('postedDate')" class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td *ngIf="modalData && !modalData.includes('typeID')" class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td *ngIf="typeID !== XUAT_HOA_DON" class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td *ngIf="typeID === XUAT_HOA_DON" class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td *ngIf="typeID === KET_QUA_TINH_GIA_THANH" class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td class="cell-Table jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                    </tr>
                    </tbody>
                    <tfoot [class.myreadonlytrue]="true">
                    <tr>
                        <td class="cell-Table countRow" colspan="5" style="width: 150px"><input type="text"
                                                                                                readonly
                                                                                                class="countRow input-Cell"
                                                                                                value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{data.listFail?.length}}">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()"
                jhiTranslate="ebwebApp.mBDeposit.home.exit">
        </button>
    </div>
</div>
