.dropdown-content {
    position: absolute;
    background-color: #464646;
    min-width: 400px;
    width: 100%;
    padding: 0px 0px;
    /* border: 1px solid #eee; */
    max-height: 158px;
    /* overflow-y: scroll; */
    /* overflow-x: auto; */
    z-index: 1;
    color: white;
    border-radius: 10px;
}

.drop-down-button {
    border: 0;
    background: white;
    outline: 0;
    padding-right: 0;
    padding-right: 5px;
}

.background-tab-odd {
    background: #ffffff !important;
}

.background-tab-even {
    background: #f7f7f7 !important;
}

.input-item {
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.input-item:focus {
    background: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}
.selected > td > input {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.active > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*}*/

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) a {*/
/*    background: #11ab6b;*/
/*    display: inline-block;*/
/*    padding: 3px 10px;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    margin-right: 0px;*/
/*}*/

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) a:hover {*/
/*    background: #11ab6b;*/
/*    color: #fff;*/
/*    border-color: #11ab6b;*/
/*}*/

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

/*style for menu*/
.itemw .gr-toolbar a {
    color: #ffffff;
}

.itemw .gr-toolbar a:hover {
    color: #f26f21 !important;
}

.mutipleSelected > td {
    background: #ddf7ef !important;
}

.mutipleSelected {
    background: #ddf7ef !important;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.disable {
    color: dimgray !important;
}

.description {
    min-width: 300px;
}

.inputFormatCurrency {
    width: 100%;
    border: none;
    background: transparent;
}

.countRow {
    background-color: #7db5dd !important;
    width: 100%;
    color: black;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
    padding: 0;
    margin: 0;
}

.input-Cell {
    background: transparent;

    border: none;
    width: 100%;
    height: 100%;
}

.bold-isParentNode {
    font-weight: bold;
}

.account-number-children {
    padding-left: 30px !important;
}

.selected > div {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.label-head {
    color: black;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
    font-weight: 100;
    background: #98b5d6 !important;
    height: 26px;
    /*hautv sửa css*/
    /*border-right: 0.1px solid #adc8e6 !important;*/
    border-top: 0.1px solid #adc8e6 !important;
    border-left: 0.1px solid #adc8e6 !important;
}

.label-footer {
    color: black;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    background: #98b5d6 !important;
    height: 26px;
    /*hautv sửa css*/
    /*border-right: 0.1px solid #adc8e6 !important;*/
    border-top: 0.1px solid #adc8e6 !important;
    border-left: 0.1px solid #adc8e6 !important;
}

.input-body div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 5px;
    color: #212529;
    min-height: 26px;
    max-height: 26px;
    /*hautv sửa css*/
    border-right: 0.1px solid #adc8e6 !important;
    border-top: 0.1px solid #adc8e6 !important;
    background: #ffffff;
}

.input-body-pop-up {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    min-height: 26px;
    max-height: 26px;
    /*hautv sửa css*/
    border-right: 0.1px solid #adc8e6 !important;
    border-top: 0.1px solid #adc8e6 !important;
    background: #ffffff;
}

/*.input-body > div {*/
/*    max-width: 0;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/
.myreadonlytrue {
    pointer-events: none;
}

.isActive {
    text-align: center !important;
}

.ellip {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
label {
    margin-bottom: 0;
}

.margin-scroll {
    margin-left: -0.5px;
    margin-right: 5.8px;
}

.margin-not-scroll {
    margin-left: -0.5px;
    margin-right: 1px;
}

.margin-scroll-home {
    margin-left: -0.5px;
    margin-right: 11px;
}

.margin-not-scroll-home {
    margin-left: -0.5px;
    margin-right: 1px;
}
