<div [ngClass]="isSumFooter ? checkClassScrollHome() : checkClassScroll()">
    <div style="margin-right: -0.5px !important; margin-left:  0px !important;" class="row">
        <div class="label-head header-table" *ngFor="let head of listTHead; let i = index"
             [style.width]="setWidth(head)">
            <label *ngIf="head !== 'checked'" class="col-sm-12" jhiTranslate="{{head}}"></label>
            <div class="custom-control custom-checkbox text-center" *ngIf="head === 'checked'"
                 style="max-height: 26px !important;">
                <input type="checkbox" class="custom-control-input" id="checked{{nameSearch}}" [(ngModel)]="isCheckAll"
                       (change)="selectAll()">
                <label class="custom-control-label" for="checked{{nameSearch}}"></label>
            </div>
        </div>
    </div>
    <div style="margin-right: -0.5px !important; margin-left:  0px !important;" class="row">
        <div class="label-head" style="background: #ffffff !important;border-bottom: 0.1px solid #adc8e6!important;"
             *ngFor="let keySearch of keySearchs; let i = index" [style.width]="setWidth(keySearch)">
            <input *ngIf="keySearch !== 'checked' && keySearch !== 'isActive' && keySearch !== nameSearch"
                   type="text" placeholder="{{'ebwebApp.accountDefault.searchHere' | translate}}"
                   class="input-Cell noSetDisable" style="max-height: 26px !important;"
                   [(ngModel)]="listSearch[keySearch]"
                   name="{{keySearch}}" (ngModelChange)="changeListSearch()">
            <div class="custom-control custom-checkbox text-center noSetDisable" *ngIf="keySearch === 'isActive' "
                 style="max-height: 26px !important;">
                <input type="checkbox" class="custom-control-input" id="customCheck1"
                       [(ngModel)]="listSearch[keySearch]" name="{{keySearch}}" (ngModelChange)="changeListSearch()">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
            <input *ngIf="keySearch === nameSearch"
                   name="checked{{nameSearch}}"
                   type="text"
                   class="input-Cell noSetDisable" style="max-height: 26px !important;"
                   [disabled]="true">
        </div>
    </div>
</div>
<div id="table-scroll0" class="table-scroll voucher-table" [style.height]="!isPopup ? (height?height +'px': '550px') : (height?height +'px': '130px')" style="max-height: 700px; overflow-x: hidden">
    <eb-tree-grid-item #child [tree]="_tree" [navigateForm]="navigateForm" [account]="account" [listKey]="listKey" [checkSelectedRow]="checkSelectedRow" [isNotMultipleSelect]="isNotMultipleSelect"
                       [generalWidth]="generalWidth" [nameWidth]="nameWidth" [isHome]="isHome" [isPopup]="isPopup" [checkWidth]="checkWidth" [nameSearch]="nameSearch"></eb-tree-grid-item>
    <div *ngFor="let arr of newArr((!isPopup ? 21 : 5) - count)" style="margin-left: 0px !important; margin-right: -1px !important;" class="row" >
        <div class="input-body" *ngFor="let key of listKey; let j = index" [style.width]="setWidth(key.key)">
            <div class="text-left" style="width: 100%;">&nbsp;</div>
        </div>
    </div>
</div>
<div *ngIf="!isPopup && !isTutorial && !isSumFooter" style="background: #7db5dd;margin-bottom: 0">
    <div class="row">
        <label style="padding-left: 15px"><span
            jhiTranslate="ebwebApp.mBDeposit.countLine"></span>: {{count}}
        </label>
    </div>
</div>
<!--<div *ngIf="isSumFooter" style="background: #7db5dd;margin-bottom: 0" [ngClass]="checkClassScroll()">-->
<!--    <div class="row" style="width: 100%">-->
<!--        <div class="label-head header-table" *ngFor="let head of listSumFooter; let i = index"-->
<!--             [style.width]="setWidth(head.name)">-->
<!--            <label class="col-sm-12 text-right">{{head.sumValue | ebcurrency:7 : account}}</label>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div *ngIf="isSumFooter" [ngClass]="checkClassScrollHome()">
    <div style="margin-right: -0.5px !important; margin-left:  0px !important;" class="row">
        <div class="label-footer header-table" *ngFor="let head of listSumFooter; let i = index"
             [style.width]="setWidth(head.name)">
            <label class="col-sm-12 text-left" style="padding-left: 15px; padding-bottom: 5px" *ngIf="head.name.includes('soDong')"><span
                jhiTranslate="ebwebApp.mBDeposit.countLine"></span>: {{count}}
            </label>
            <label *ngIf="!head.name.includes('soDong')"  style="padding-bottom: 5px" class="col-sm-12 text-right">{{head.sumValue | ebcurrency:7 : account}}</label>
        </div>
    </div>
</div>
