/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    background-color: #353d47;
    padding: 0.2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

/*@media screen and (max-width: 992px) {*/
/*.jh-logo-container {*/
/*width: 100%;*/
/*}*/
/*}*/

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.page-navigation li a span {
    color: white !important;
}

button:focus {
    outline: none;
}

.disableDiv {
    pointer-events: none;
    opacity: 0.7;
}

/*ngb-tabset > ul > li > a.active, ngb-tabset > ul > li > a:hover {*/
/*    background: #f26f21 !important;*/
/*    color: #fff !important;*/
/*    border-color: #f26f21 !important;*/
/*}*/
.nav-tabs .nav-link {
    background: red !important;
}
.modal-footer {
    padding: 15px 25px !important;
}
