<!--Add by Hautv-->
<ngx-loading-bar></ngx-loading-bar>
<!--edit by anmt-->
<nav class="navbar p-0 fixed-top flex-row" style="z-index: 8888"
     [hidden]="this.router.url === '/login' || this.router.url === '/admin/login'"
     [ngClass]="{'d-flex': (this.router.url !== '/login' && this.router.url !== '/admin/login')}">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a (click)="utilsService.navigateToOtherSite('')" class="navbar-brand brand-logo"><img
                src="/content/images/logo.png"/></a>
        <a (click)="utilsService.navigateToOtherSite('')" class="navbar-brand brand-logo-mini"><img
                src="/content/images/icon-logo.png"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"
                (click)="toggleNavbar()">
            <span class="mdi mdi-menu"></span>
        </button>

        <ul class="nav page-navigation"
            *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_HETHONG, ROLE.ROLE_REPORT, ROLE.ROLE_MGT]">
            <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_HETHONG]">
                <a class="nav-link">
                    <span class="menu-title">HỆ THỐNG</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_NgayHachToan_Xem]">
                            <a class="nav-link" [tabIndex]="0" (click)="showChangePostedDate(changePostedDate)">Ngày
                                hạch
                                toán</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_NhatKyTruyCap_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('nhat-ky-truy-cap')"
                               jhiTranslate="danhMuc.nhatKyTruyCap">Nhật ký truy cập</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_TuyChon_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('system-option')"
                               jhiTranslate="danhMuc.tuyChon"></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item mega-menu" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DANHMUC, ROLE.ROLE_MGT]">
                <a class="nav-link">
                    <span class="menu-title">DANH MỤC</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <div class="col-group-wrapper row">
                        <div class="col-group col-md-2"
                             *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_CoCauToChuc_Xem, ROLE.ROLE_MGT]">
                            <div class="row"
                                 *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_CoCauToChuc_Xem, ROLE.ROLE_MGT]">
                                <div class="col-12">
                                    <p class="category-heading"><a
                                            (click)="utilsService.navigateToOtherSite('co-cau-to-chuc')"
                                    >Cơ cấu tổ
                                        chức</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-group col-md-3" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_HeThongTaiKhoan_Xem,
                        ROLE_TaiKhoanKetChuyen_Xem, ROLE_TaiKhoanNgamDinh_Xem, ROLE_DanhMucDinhKhoanTuDong_Xem]">
                            <div class="row">
                                <div class="col-12">
                                    <p class="category-heading">Tài khoản</p>
                                    <div class="submenu-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_HeThongTaiKhoan_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('he-thong-tai-khoan')"
                                                                class="nav-link"
                                                        >Hệ thống tài khoản</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_TaiKhoanKetChuyen_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('tai-khoan-ket-chuyen')"
                                                                class="nav-link">Tài khoản kết
                                                            chuyển</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_TaiKhoanNgamDinh_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('tai-khoan-ngam-dinh')"
                                                                class="nav-link">Tài khoản ngầm
                                                            định</a></li>
                                                    <li class="nav-item"><a
                                                            *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucDinhKhoanTuDong_Xem]"
                                                            (click)="utilsService.navigateToOtherSite('dinh-khoan-tu-dong')"
                                                            jhiTranslate="danhMuc.dinhKhoanTuDong"
                                                            class="nav-link">Định Khoản Tự Động</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-group col-md-2 padding-left-0" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN,
                         ROLE_DanhMucKhachHang_Xem, ROLE_DanhMucNhaCungCap_Xem, ROLE_DanhMucNhanVien_Xem, ROLE_DanhMucKhachHangVaNhaCungCap_Xem]">
                            <p class="category-heading">Đối tượng</p>
                            <ul class="submenu-item">
                                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucKhachHang_Xem]">
                                    <a
                                            (click)="utilsService.navigateToOtherSite('khach-hang')"
                                            jhiTranslate="danhMuc.khachHang"
                                            class="nav-link">Khách hàng</a></li>
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNhaCungCap_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('nha-cung-cap')"
                                        jhiTranslate="danhMuc.nhaCungCap"
                                        class="nav-link">Nhà cung cấp</a></li>
                                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNhanVien_Xem]">
                                    <a
                                            (click)="utilsService.navigateToOtherSite('nhan-vien')"
                                            jhiTranslate="danhMuc.nhanVien"
                                            class="nav-link">Nhân viên</a></li>
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucKhachHangVaNhaCungCap_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('nhom-khach-hang-nha-cung-cap')"
                                        jhiTranslate="danhMuc.nhomKhachHangNhaCungCap"
                                        class="nav-link">Nhóm KH/NCC</a></li>
                            </ul>
                        </div>
                        <div class="col-group col-md-5 padding-left-0"
                             *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucVatTuHangHoa_Xem, ROLE_DanhMucKho_Xem,
                             ROLE_DanhMucDonViTinh_Xem, ROLE_DanhMucLoaiVatTuHangHoa_Xem, ROLE_DanhMucHHDVChiuThueTTDB_Xem, ROLE.DinhMucNguyenVatLieu_Xem, ROLE.DanhMucTSCD_Xem]">
                            <div class="row">
                                <div class="col-12">
                                    <p class="category-heading">Vật tư hàng hóa, CCDC, TSCĐ</p>
                                    <div class="submenu-item">
                                        <div class="row">
                                            <div class="col-md-5 padding-right-0"
                                                 *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucVatTuHangHoa_Xem, ROLE_DanhMucKho_Xem,
                                                 ROLE_DanhMucDonViTinh_Xem, ROLE_DanhMucLoaiVatTuHangHoa_Xem]">
                                                <ul>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucVatTuHangHoa_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('material-goods')"
                                                                jhiTranslate="danhMuc.vatTuHangHoa"
                                                                class="nav-link">Vật Tư Hàng Hóa</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucKho_Xem]"><a
                                                            (click)="utilsService.navigateToOtherSite('kho')"
                                                            jhiTranslate="danhMuc.kho"
                                                            class="nav-link"
                                                    >Kho</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucDonViTinh_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('don-vi-tinh')"
                                                                jhiTranslate="danhMuc.donViTinh"
                                                                class="nav-link">Đơn
                                                            vị tính</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucLoaiVatTuHangHoa_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('loai-vat-tu-hang-hoa')"
                                                                jhiTranslate="danhMuc.loaiVatTuHangHoa"
                                                                class="nav-link">Loại VTHH</a></li>
                                                    <!--                                                    <li class="nav-item" hidden><a class="nav-link">Công cụ dụng-->
                                                    <!--                                                        cụ</a></li>-->
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.DinhMucNguyenVatLieu_Xem]"
                                                    ><a
                                                            (click)="utilsService.navigateToOtherSite('dinh-muc-nguyen-vat-lieu')"
                                                            class="nav-link">Định mức NVL</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-7 padding-right-0"
                                                 *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucHHDVChiuThueTTDB_Xem, ROLE.DinhMucNguyenVatLieu_Xem, ROLE_DanhMucLoaiTSCD_Xem,  ROLE_DanhMucBieuThueTaiNguyen_Xem, ROLE.DanhMucTSCD_Xem]">
                                                <ul>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucCongCuDungCu_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('cong-cu-dung-cu/danh-muc')"
                                                                jhiTranslate="danhMuc.congCuDungCu"
                                                                class="nav-link">Công Cụ Dụng Cụ</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucLoaiTSCD_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('loai-tscd')"
                                                                jhiTranslate="danhMuc.loaiTaiSanCoDinh"
                                                                class="nav-link">Loại TSCĐ</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.DanhMucTSCD_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('fixed-assets')"
                                                                jhiTranslate="danhMuc.taiSanCoDinh"
                                                                class="nav-link"></a>
                                                    </li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucHHDVChiuThueTTDB_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('material-goods-special-tax-group')"
                                                                jhiTranslate="danhMuc.nhomHHDVchiuThueTTDB"
                                                                class="nav-link">Nhóm HHDV chịu
                                                            thuế TTĐB</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucBieuThueTaiNguyen_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('bieu-thue-tai-nguyen')"
                                                                jhiTranslate="danhMuc.bieuThueTaiNguyen"
                                                                class="nav-link">Biểu thuế tài nguyên</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNganHang_Xem,
                        ROLE_DanhMucTaiKhoanNganHang_Xem, ROLE_DanhMucTheTinDung_Xem, DanhMucDTTHCP_Xem,
                        ROLE_DanhMucKhoanMucChiPhi_Xem, ROLE_DanhMucMaThongKe_Xem, ROLE_DanhMucThuChi_Xem,
                        ROLE_DanhMucLoaiTien_Xem,
                        ROLE_DanhMucDieuKhoanThanhToan_Xem, ROLE_DanhMucPhuongThucVanChuyen_Xem
                        ]">
                            <br>
                        </div>
                        <div class="col-group col-md-2" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNganHang_Xem,
                        ROLE_DanhMucTaiKhoanNganHang_Xem, ROLE_DanhMucTheTinDung_Xem
                        ]">
                            <p class="category-heading">Ngân hàng</p>
                            <ul class="submenu-item">
                                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNganHang_Xem]">
                                    <a
                                            (click)="utilsService.navigateToOtherSite('bank')"
                                            jhiTranslate="danhMuc.nganHang"
                                            class="nav-link">Ngân Hàng</a></li>
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucTaiKhoanNganHang_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('tai-khoan-ngan-hang')"
                                        jhiTranslate="danhMuc.taiKhoanNganHang"
                                        class="nav-link">Tài
                                    khoản ngân hàng</a></li>
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucTheTinDung_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('credit-card')"
                                        jhiTranslate="danhMuc.theTinDung"
                                        class="nav-link">Thẻ tín dụng</a></li>
                            </ul>
                        </div>
                        <div class="col-group col-md-3">
                            <p class="category-heading">Lương nhân viên</p>
                            <ul class="submenu-item">
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucBieuThueTNCN_Xem]">
                                    <a class="nav-link"
                                       (click)="utilsService.navigateToOtherSite('bieu-thue-thu-nhap-ca-nhan')"
                                       jhiTranslate="danhMuc.bieuThueThuNhapCaNhan">Biểu thuế thu nhập cá nhân</a></li>
                                <li class="nav-item"
                                    *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.DanhMucKyHieuChamCong_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('ky-hieu-cham-cong')"
                                        class="nav-link">Ký hiệu chấm công</a>
                                </li>
                                <li class="nav-item"
                                    *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, ROLE.QuyDinhLuongThueBaoHiem_Xem]">
                                    <a class="nav-link"
                                       (click)="utilsService.navigateToOtherSite('quy-dinh-luong-thue-bao-hiem')"
                                       jhiTranslate="danhMuc.quyDinhLuongThueBaoHiem">Quy định lương, thuế, bảo hiểm</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-group col-md-3 padding-left-0" *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, DanhMucDTTHCP_Xem,
                        ROLE_DanhMucKhoanMucChiPhi_Xem, ROLE_DanhMucMaThongKe_Xem, ROLE_DanhMucThuChi_Xem]">
                            <p class="category-heading">Thống kê, chi phí</p>
                            <ul class="submenu-item">
                                <li class="nav-item" *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, DanhMucDTTHCP_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('doi-tuong-tap-hop-chi-phi')"
                                        class="nav-link">Đối tượng tập hợp chi
                                    phí</a></li>
                                <li class="nav-item"
                                    *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucKhoanMucChiPhi_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('khoan-muc-chi-phi-list')"
                                        class="nav-link"
                                        jhiTranslate="danhMuc.khoanMucChiPhi">Khoản mục chi phí</a></li>
                                <li class="nav-item" *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucMaThongKe_Xem]">
                                    <a
                                            (click)="utilsService.navigateToOtherSite('statistics-code')"
                                            class="nav-link"
                                            jhiTranslate="danhMuc.maThongKe">Mã thống
                                        kê</a></li>
                                <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucThuChi_Xem]"><a
                                        (click)="utilsService.navigateToOtherSite('budget-item')"
                                        jhiTranslate="danhMuc.mucThuChi"
                                        class="nav-link">Mục thu - chi</a></li>

                            </ul>
                        </div>
                        <div class="col-group col-md-4 padding-left-0" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucLoaiTien_Xem,
                        ROLE_DanhMucDieuKhoanThanhToan_Xem, ROLE_DanhMucPhuongThucVanChuyen_Xem]">
                            <div class="row">
                                <div class="col-12">
                                    <p class="category-heading">Khác</p>
                                    <div class="submenu-item">
                                        <div class="row">
                                            <div class="col-md-12 padding-right-0">
                                                <ul>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucLoaiTien_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('currency')"
                                                                jhiTranslate="danhMuc.loaiTien"
                                                                class="nav-link">Loại Tiền</a></li>
                                                    <li class="nav-item"
                                                        *ebHasAnyAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucDieuKhoanThanhToan_Xem]">
                                                        <a
                                                                class="nav-link"
                                                                (click)="utilsService.navigateToOtherSite('dieu-khoan-thanh-toan')"
                                                                jhiTranslate="danhMuc.dieuKhoanThanhToan">Điều khoản
                                                            thanh
                                                            toán</a></li>

                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucPhuongThucVanChuyen_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('transport-method')"
                                                                jhiTranslate="danhMuc.phuongThucVanChuyen"
                                                                class="nav-link">Phương thức vận chuyển</a></li>
                                                    <li class="nav-item"
                                                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_DanhMucNhomGiaBan_Xem]">
                                                        <a
                                                                (click)="utilsService.navigateToOtherSite('nhom-gia-ban')"
                                                                jhiTranslate="danhMuc.nhomGiaBan"
                                                                class="nav-link">Nhóm giá bán</a></li>
                                                </ul>
                                            </div>
                                            <!--                                            <div class="col-md-7 padding-right-0">-->
                                            <!--                                                <ul>-->
                                            <!--                                                    <li class="nav-item" hidden><a class="nav-link">Tình trạng hợp-->
                                            <!--                                                        đồng</a></li>-->
                                            <!--                                                </ul>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_TIENICH, ROLE.QLDuLieu_Xem]">
                <a class="nav-link">
                    <span class="menu-title text-uppercase" jhiTranslate="tienIch.title">TIỆN ÍCH</span>
                    <i class="menu-arrow"></i></a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.SoDuDauKy_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('so-du-dau-ky')"
                               jhiTranslate="tienIch.nhapSoDuDauKy">Nhập số dư đầu kỳ</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.QLDuLieu_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('data-backup')"
                               jhiTranslate="tienIch.saoLuuVaKhoiPhucDuLieu"> Dữ liệu</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.DanhLaiSoChungTu_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('danh-lai-so-chung-tu')"
                               jhiTranslate="tienIch.danhLaiSoChungTu"> Đánh lại số chứng từ</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.TimKiemChungTu_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('tim-kiem-chung-tu')"
                               jhiTranslate="tienIch.timKiemChungTu"> Tìm kiếm chứng từ</a>
                        </li>
                        <!--                        <li class="nav-item" hidden>-->
                        <!--                            <a class="nav-link">Tìm kiếm chứng từ</a>-->
                        <!--                        </li>-->
                        <!--                        <li class="nav-item" hidden>-->
                        <!--                            <a class="nav-link">Nhập dữ liệu từ File Excel</a>-->
                        <!--                        </li>-->
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.InChungTuHangLoat_Xem]">
                            <a (click)="showInChungTuHangLoat()" [tabIndex]="0" class="nav-link">In chứng từ hàng
                                loạt</a>
                        </li>
                        <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.CauHinhGiaoDienNhapLieu_Xem]">
                            <a (click)="showCauHinhGiaoDienNhapLieu()" [tabIndex]="0" class="nav-link">Cấu hình giao
                                diện nhập liệu</a>
                        </li>
                        <li class="nav-item"
                            *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ThietLapCongThucBaoCaoTaiChinh_Xem]">
                            <a class="nav-link"
                               (click)="utilsService.navigateToOtherSite('thiet-lap-cong-thuc-bao-cao-tai-chinh')"
                               jhiTranslate="tienIch.thietLapCongThucBCTC"> Thiết lập công thức bctc</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ROLE_REPORT]">
                <a class="nav-link" href="javascript:void(0);" (click)="navigateBaoCao()">
                    <span class="menu-title text-uppercase" jhiTranslate="common.report">BÁO CÁO</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span class="menu-title">TRỢ GIÚP</span>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" [tabIndex]="0" jhiTranslate="danhMuc.tutorialUse"
                               (click)="showTutorialUse(tutorialUse)"></a>
                        </li>
                        <li class="nav-item">
                            <a (click)="toolSign()" class="nav-link" [tabIndex]="1" jhiTranslate="danhMuc.toolSign"></a>
                        </li>
                    </ul>
                </div>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link">-->
            <!--                    <span class="menu-title" jhiTranslate="global.menu.language">Language</span>-->
            <!--                </a>-->
            <!--                <div class="submenu">-->
            <!--                    <ul class="submenu-item">-->
            <!--                        <li *ngFor="let language of languages" class="nav-item">-->
            <!--                            <a class="nav-link" [ebActiveMenu]="language" href="javascript:void(0);"-->
            <!--                               (click)="changeLanguage(language);">{{language | findLanguageFromKey}}</a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </li>-->
            <li class="nav-item hotline-sp" style="pointer-events: none !important;">
                <div class="main">
                    <a *ngIf="!isCustomNavbar" style="padding-left: 30px !important;">1900.57.57.54</a>
                    <a *ngIf="isCustomNavbar" style="padding-left: 30px !important;">02471000333</a>
                </div>
            </li>
        </ul>


        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
                <div class="notification-wrapper"
                     style="padding-right: 0px !important; padding-bottom: 5px !important;"
                     (click)="openNotification(!isShowNotification)">
                    <!-- You can put an icon from Material Design icon or Fontawesome -->
                    <div class="notification-btn">
                        <span><fa-icon [icon]="'bell'"></fa-icon><span class="count-noti"
                                                                       [ngClass]="(countNotiNonRead !== '9+') ? 'circle-noti-less-than-10' : 'circle-noti-more-than-10'"
                                                                       *ngIf="countNotiNonRead">{{countNotiNonRead}}</span> </span>
                    </div>
                    <div *ngIf="isShowNotification" class="notification-content">
                        <div class="notification-header">
                            <span class="label">THÔNG BÁO</span>
                        </div>
                        <!--                        <div *ngIf="listNotifications?.length > 0" class="notification-body">-->
                        <!--                            <div *ngFor="let noti of listNotifications;let i = index">-->
                        <!--                                <div *ngIf="!noti.isRead"-->
                        <!--                                     [ngClass]="(i !== listNotifications.length-1) ? 'new-notification' : 'last-new-notification'"-->
                        <!--                                     class="new-notification">-->
                        <!--                                    <div-->
                        <!--                                        [ngClass]="(i !== listNotifications.length-1) ? 'row line-bottom' : 'row last-line-bottom'">-->
                        <!--                                        <div class="col-lg-2 mail-noti"-->
                        <!--                                             (click)="showDetailsNotification(noti,detailNotification)">-->
                        <!--                                            <b>-->
                        <!--                                                <fa-icon [icon]="'envelope'"></fa-icon>-->
                        <!--                                            </b>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="col-lg-9 visible-text"-->
                        <!--                                             (click)="showDetailsNotification(noti,detailNotification)">-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                 <span class="label non-read"-->
                        <!--                                                       [title]="noti.description"><b>{{noti.description}}</b></span>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                <span class="read-more">Xem thêm</span>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                <span class="time-noti">{{noti.timeNoti}}</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="col-lg-1 green-icon">-->
                        <!--                                            <fa-icon [icon]="'circle'"></fa-icon>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div *ngIf="noti.isRead"-->
                        <!--                                     [ngClass]="(i !== listNotifications.length-1) ? 'old-notification' : 'last-old-notification'">-->
                        <!--                                    <div-->
                        <!--                                        [ngClass]="(i !== listNotifications.length-1) ? 'row line-bottom' : 'row last-line-bottom'">-->
                        <!--                                        <div class="col-lg-2 mail-noti"-->
                        <!--                                             (click)="showDetailsNotification(noti,detailNotification)">-->
                        <!--                                            <fa-icon [icon]="'envelope'"></fa-icon>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="col-lg-9 "-->
                        <!--                                             (click)="showDetailsNotification(noti,detailNotification)">-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                <span class="label"-->
                        <!--                                                      [title]="noti.description">{{noti.description}}</span>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                <span class="read-more">Xem thêm</span>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="visible-text">-->
                        <!--                                                <span class="time-noti">{{noti.timeNoti}}</span>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div *ngIf="listNotifications?.length === 0 || !listNotifications" class="notification-body">-->
                        <!--                            <div style="text-align: center;">-->
                        <!--                                <span class="no-notification">Không có thông báo mới !</span>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="notification-footer">
                            <div class="text-center">
                                <button class="button-navigation readAll"
                                        (click)="readAllNotification()"><span jhiTranslate="notification.readAll"
                                ></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item phienlamviec">
                <a class="nav-link" (click)="showPopup(popup)">PHIÊN LÀM VIỆC</a>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link" data-toggle="dropdown" id="profileDropdown">{{currentAccount?.fullName}}
                    <span class="mdi mdi-chevron-down"></span></a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" (click)="navigateUser()">
                        <i class="mdi mdi-settings text-primary"></i>
                        Thông tin tài khoản
                    </a>
                    <a *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ROLE_PERMISSION]" routerLink="quan-tri-nguoi-dung"
                       class="dropdown-item">
                        <i class="mdi mdi-account-multiple text-primary"></i>
                        Quản trị người dùng
                    </a>
                    <a *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.ROLE_PERMISSION]" routerLink="vai-tro"
                       class="dropdown-item">
                        <i class="mdi mdi-account-key text-primary"></i>
                        Vai trò quyền hạn
                    </a>
                    <a *ebHasSomeAuthorityAndCondition="[[ROLE.ROLE_ADMIN, ROLE.ROLE_PERMISSION], ROLE.ROLE_ADMIN_KH]"
                       (click)="showPopupServiceInfo()" class="dropdown-item">
                        <i class="mdi mdi-clipboard-check text-primary"></i>
                        <span jhiTranslate="tienIch.thongTinDichVu"></span>
                    </a>
                    <a *ngIf="true" class="dropdown-item" (click)="showPopupChangePassword(changePass)">
                        <i class="mdi mdi-key text-primary"></i>
                        <span jhiTranslate="navbar.password.title"></span>
                    </a>
                    <a class="dropdown-item" (click)="logout()">
                        <i class="mdi mdi-logout text-primary"></i>
                        Đăng xuất
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<ng-template #popup let-d="dismiss">
    <div id="ModalCustom2">
        <div class="modal-lg">
            <div class="modal-content" style="background-color: #cbdcf0">
                <div class="modal-header" style="padding: 15px 10px 10px 10px;">
                    <div class="d-flex flex-wrap col-md-11">
                        <h3 class="modal-title-detail"><span
                                class="text-uppercase" jhiTranslate="navbar.popup.title">Thay đổi phiên làm việc</span>
                        </h3>
                    </div>
                    <a class="close-modal" data-dismiss="modal" (click)="d('Close')"
                       aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="row" style="padding-bottom: 5px !important;">
                        <div class="col-md-2">
                            <span jhiTranslate="navbar.popup.org">Đơn vị/Tổ chức</span>
                        </div>
                                                <div class="col-md-10" [class.disableDiv]="isLoadingYearWork">
                                                    <eb-tree-combo-box [tree]="data" [(ngModel)]="org"
                                                                       (ngModelChange)="changeOrg(org)"  [tabindex]="1000"></eb-tree-combo-box>
                                                </div>
                    </div>
                    <div
                            class="row" *ngIf="isShowIsDependent" style="margin-top: 5px"
                            [class.disableDiv]="isLoadingYearWork">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10 noSetDisabled">
                            <label for="checkboxDependent"><input id="checkboxDependent" type="checkbox"
                                                                  name="checkboxDependent" class="noSetDisabled"
                                                                  [(ngModel)]="isDependent" [tabindex]="1002"></label>
                            <label for="checkboxDependent"
                                   jhiTranslate="timKiem.dependentData"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <span jhiTranslate="navbar.popup.yearWork">Năm làm việc</span>
                                </div>
                                <div class="col-md-6" *ngIf="true" [class.disableDiv]="isLoadingYearWork">
                                    <combo-box style=""
                                               name="yearWork"
                                               [dataList]="listYearWork"
                                               [listColumns]="['year']"
                                               displayMember="year"
                                               valueName="data"
                                               [headerColumns]="['Năm']"
                                               [isObject]="false"
                                               [(ngModel)]="yearWork"
                                               [isOutTable]="true"
                                               [noSetDisabled]="true"
                                               [tabindex]="1003"
                                    ></combo-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="isShow" style="margin-top: 5px">
                        <div class="col-md-2">
                            <span jhiTranslate="navbar.popup.workBook">Sổ làm việc</span>
                        </div>
                        <div class="col-md-3">
                            <div class="custom-control custom-radio"
                                 [class.disableDiv]="isRoleUser && soLamViecDuocPhanQuyen == 1">
                                <input type="radio" id="customRadio1" name="customRadio"
                                       class="custom-control-input noSetDisable"
                                       [(ngModel)]="book" [value]="'0'" [tabindex]="1004">
                                <label class="custom-control-label" for="customRadio1">Sổ tài chính</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="custom-control custom-radio"
                                 [class.disableDiv]="isRoleUser && soLamViecDuocPhanQuyen == 0">
                                <input type="radio" id="customRadio2" name="customRadio"
                                       class="custom-control-input noSetDisable"
                                       [(ngModel)]="book" [value]="'1'" [tabindex]="1005">
                                <label class="custom-control-label" for="customRadio2">Sổ quản trị</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-left: 0px">
                    <div class="col-lg-4 ">
                        <div class="form-group row">
                            <button style="color: black" class="button-navigation" (click)="navigateHelp()">
                                <fa-icon [icon]="'question-circle'"></fa-icon>
                                <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <label></label>
                        <div>
                            <button class="btn btn-eb noSetDisable" (click)="apply()" [disabled]="isLoadingYearWork"
                                    jhiTranslate="entity.action.ok" [tabindex]="1005">
                                ok
                            </button>
                            <button class="btn btn-outline-dark noSetDisable" (click)="d('Close')"
                                    jhiTranslate="entity.action.close" [tabindex]="1006">close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #changePass let-d="dismiss">
    <div id="ModalCustom">
        <div class="modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 15px 10px 10px 10px;">
                    <div class="d-flex flex-wrap col-md-11">
                        <h3 class="modal-title-detail"><span
                                class="text-uppercase" jhiTranslate="navbar.password.title">Đổi mật khẩu</span></h3>
                    </div>
                    <a class="close-modal" data-dismiss="modal" (click)="d('Close')"
                       aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group row">
                            <label class="offset-sm-1 col-sm-3 col-form-label"
                                   jhiTranslate="navbar.password.currentPassword"></label>
                            <div class="col-sm-6 pd-l-0 pd-r-10">
                                <input type="password" class="form-control" name="password1" id="password1"
                                       [(ngModel)]="currentPassword" (keydown.enter)="changePassword()"
                                       required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="offset-sm-1 col-sm-3 col-form-label"
                                   jhiTranslate="navbar.password.newPassword">Mật khẩu</label>
                            <div class="col-sm-6 pd-l-0 pd-r-10">
                                <input type="password" class="form-control" name="password2" id="password2"
                                       [(ngModel)]="newPassword" (keydown.enter)="changePassword()"
                                       required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="offset-sm-1 col-sm-3 col-form-label"
                                   jhiTranslate="navbar.password.confirmPassword">Mật khẩu</label>
                            <div class="col-sm-6 pd-l-0 pd-r-10">
                                <input type="password" class="form-control" name="password3" id="password3"
                                       [(ngModel)]="confirmPassword" (keydown.enter)="changePassword()"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row" style="width: 100%">
                        <div class="col-sm-6">
                            <div class="row">
                                <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="logOutAll"
                                       style="margin-left: 7px">
                                <label class="form-check-label" for="gridCheck" style="padding-left: 25px">
                                    Đăng xuất khỏi toàn bộ thiết bị khác
                                </label>
                            </div>
                            <div class="row">
                                <button style="color: black" class="button-navigation" (click)="navigateHelp()">
                                    <fa-icon [icon]="'question-circle'"></fa-icon>
                                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align: right">
                            <button (click)="changePassword()" jhiTranslate="entity.action.ok"
                                    class="btn btn-eb">Đồng ý
                            </button>
                            <button (click)="d('Close')" jhiTranslate="entity.action.close"
                                    class="btn btn-default">đóng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #changePostedDate let-d="dismiss">
    <div id="changePostedDate">
        <div class="modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 15px 10px 10px 10px;">
                    <div class="d-flex flex-wrap col-md-11">
                        <h3 class="modal-title-detail"><img src="../../../content/images/icon-logo.png" height="25px"
                                                            width="25px"> <span
                                class="text-uppercase" jhiTranslate="navbar.changePostedDate.title"></span></h3>
                    </div>
                    <a class="close-modal" data-dismiss="modal" (click)="d('Close')"
                       aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="row">
                            <div class="col-lg-4 pd-r-0 jsgrid-align-center">
                                <img src="../../../content/images/calendar.jpg"
                                     height="100px" width="150px">
                            </div>
                            <div class="col-lg-8 pd-r-0">
                                <div class="form-group row">
                                    <label class="offset-sm-1 col-sm-3 col-form-label"
                                           jhiTranslate="navbar.changePostedDate.postedDate"></label>
                                    <div class="col-sm-6 pd-l-0 pd-r-10">
                                        <eb-date-picker name="postedDate" [noSetDisabled]="true"
                                                        [(ngModel)]="postedDate"></eb-date-picker>
                                    </div>
                                </div>
                                <div class="button row">
                                    <label class="col-sm-1 col-form-label"></label>
                                    <div class="col-sm-3 pd-l-0 pd-r-10"></div>
                                    <div class="col-sm-6 pd-l-0 pd-r-10 btn_login">
                                        <button *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE_NgayHachToan_Sua]"
                                                (click)="updatePostedDate()" jhiTranslate="entity.action.ok"
                                                class="btn btn-eb noSetDisable">Đồng ý
                                        </button>
                                        <button (click)="d('Close')" jhiTranslate="entity.action.close"
                                                class="btn btn-default noSetDisable">đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #tutorialUse let-d="dismiss">
    <div id="tutorialUse">
        <div class="modal-lg" style="max-width: 100%">
            <div style="background-color: #cbdcf0">
                <div class="modal-header" style="padding: 15px 10px 10px 10px;">
                    <div class="d-flex flex-wrap col-md-11">
                        <h3 class="modal-title-detail"><img src="../../../content/images/icon-logo.png" height="25px"
                                                            width="25px"> <span
                                class="text-uppercase" jhiTranslate="navbar.tutorialUse.title">HƯỚNG DẪN SỬ DỤNG EASYBOOKS TT200</span>
                        </h3>
                    </div>
                    <a class="close-modal" data-dismiss="modal" (click)="d('Close')"
                       aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body" style="padding: 15px">
                    <ngb-tabset class="tool-navbar">
                        <ngb-tab id="tab-list-channel">
                            <ng-template ngbTabTitle><span jhiTranslate="navbar.tutorialUse.listChannel"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <div class="row center" style="padding: 15px">
                                        <h2 style="font-weight: 700; font-size: 28px !important;">Danh sách kênh hỗ trợ
                                            EasyBooks</h2>
                                    </div>
                                    <div class="row" style="padding: 20px !important;">
                                        <div class="col-4">
                                            <div class="row center" style="padding-bottom: 10px">
                                                <a href="https://www.facebook.com/groups/easybooks.vn"
                                                   target="_blank"><img class="rounded"
                                                                        src="../../../content/images/icon-fb.png"/>
                                                </a>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold">Cộng đồng hỗ trợ miễn phí</label>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold">qua Facebook</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row center" style="padding-bottom: 10px">
                                                <a href="https://www.youtube.com/channel/UCwqMKxXYKPRX47_XpmIMg-w/videos"
                                                   target="_blank"><img class="rounded-custom"
                                                                        src="../../../content/images/icon-ytb.png"/>
                                                </a>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold">Kênh hướng dẫn nghiệp vụ</label>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold">qua Youtube</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row center" style="padding-bottom: 10px">
                                                <a href="#"><img class="rounded"
                                                                 src="../../../content/images/icon-hotline.png"/>
                                                </a>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold">Tổng đài tư vấn hỗ trợ</label>
                                            </div>
                                            <div class="row center">
                                                <label class="p-bold" style="color: #e9772e">1900 57 57 54</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-document-tutorial">
                            <ng-template ngbTabTitle><span jhiTranslate="navbar.tutorialUse.documentTutorial"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <div class="frm-main frm-padding tab-pane fade in active show"
                                         id="home-detail-document-tutorial"
                                         style=" background: #cbdcf0">
                                        <div id="table-scroll-document-tutorial" class="table-scroll">
                                            <table style="min-width: 100%">
                                                <thead>
                                                <tr>
                                                    <th scope="col" jhiTranslate="navbar.tutorialUse.content"></th>
                                                    <th scope="col" jhiTranslate="navbar.tutorialUse.link"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialAll"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1o8YfAJ0VwhpUXyw49yT-9eqtPQrJPo7v/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialFunction"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/14TFtqPdadxk-TNOk6sKXnK46YKSwCPVJ/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialCashAndBank"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1GNc5CWIqI-xILSDf4yml3nx9nME0LqOl/view?usp=sharing"
                                                            target="_blank"><u><i><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></i></u></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialBuy"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1UHXNslHE6VETAwsBaZHBVTAP8u9DQA3s/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialSell"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/14oqsz64fwS1snzMnJfBNOHVQqSzYkK5T/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialRepository"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/15Ys-Jv8RJbpoEf1Bp338d611eASRvf16/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialGeneral"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1H0iuBPdtFdmEQtsOaaJefnlT06RRNJAN/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialPrice"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1cRwkxO5SuZTwpFge7NYs5FfD1M6rYiGp/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialMInvoice"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1VPHE-rcB-zvdofY0grUykef_rXx0X7wu/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialEInvoice"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1ldBBVh_-BozXmdt0cTX9sK0T8tFvJ2RM/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialFixedAsset"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1iKVmKoJDWnNhAV1p8fZ3gB8cl3XdXhQn/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialTool"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1VuYhXOHU7U8B8DRGV_TieB-9A482KcVj/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialSalary"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/14Eh418kZ-fAEk6eGX_1DiNi8Ar2Cw1b5/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialVAT"></span></td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/1BzpweaTsJKper1SbVKBVe09YE6AgibWq/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="jsgrid-cell jsgrid-align-left"><span
                                                            jhiTranslate="navbar.tutorialUse.tutorialContract"></span>
                                                    </td>
                                                    <td class="jsgrid-cell jsgrid-align-center" style="width: 10%"><a
                                                            style="color: #0000EE"
                                                            href="https://drive.google.com/file/d/165IUqiB6-QNyCDlRpTta_1_tk5S1fese/view?usp=sharing"
                                                            target="_blank"><i><u><span
                                                            jhiTranslate="navbar.tutorialUse.download"></span></u></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-video-tutorial">
                            <ng-template ngbTabTitle><span jhiTranslate="navbar.tutorialUse.videoTutorial"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div
                                                    class="frm-main frm-mains nobg"
                                                    style="background: #cbdcf0; margin-top: 5px">
                                                <eb-tree-grid [tree]="listParentTutorial"
                                                              [listTHead]="listTHead"
                                                              [listKey]="listKey" [isTutorial]="true"
                                                              [isShowSearch]="true"
                                                              [listSearch]="listSearch"
                                                              [keySearchs]="keySearch"></eb-tree-grid>
                                            </div>
                                        </div>
                                        <div class="col-lg-8" *ngIf="url">
                                            <iframe style="width: 100%; height: 98%" [src]="url" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                        <div class="col-lg-8" *ngIf="!url"
                                             style="max-height: 330px !important; padding-top: 100px !important;">
                                            <div class="row" style="justify-content: center; height: 100% !important;">
                                                <img style="width: 70% !important; height: 65% !important; opacity: 55%"
                                                     class="logo-chim text-center"
                                                     src="../../../content/images/icon/logo-fixed.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="ngbModalRef.close()"
                            jhiTranslate="entity.action.close">Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #detailNotification let-d="dismiss">
    <div id="detailNotification">
        <fa-icon [icon]="'times-circle'" class="close-button" [size]="'2x'" (click)="d('close')"></fa-icon>
        <img [src]="this.urlImage">
    </div>
</ng-template>

