.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.active > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

.myreadonlytrue {
    pointer-events: none;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*}*/

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) a {*/
/*    background: #11ab6b;*/
/*    display: inline-block;*/
/*    padding: 3px 10px;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    margin-right: 0px;*/
/*}*/

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(2) a:hover {*/
/*    background: #11ab6b;*/
/*    color: #fff;*/
/*    border-color: #11ab6b;*/
/*}*/

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

/*style for menu*/
.itemw .gr-toolbar a {
    color: #ffffff;
}

.itemw .gr-toolbar a:hover {
    color: #f26f21 !important;
}

.selected {
    background: darkorange !important;
}

.mutipleSelected > td {
    background: #ddf7ef !important;
}

.mutipleSelected {
    background: #ddf7ef !important;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.disable {
    color: dimgray !important;
}

.description {
    min-width: 300px;
}

.countRow {
    background-color: #7db5dd !important;
    width: 100%;
    color: #000000;
}

.virtualScroller {
    display: block;
    height: 220px;
}

.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #f26f21;
    color: black;
    border-color: #f26f21 !important;
}
