<div class="row" (click)="closeContextMenu()">
    <div class="col-md-12">
        <div class="menu-tool-bar he" style="line-height: 16px;">
            <div class="gr-tool-bar2">
                <button class="aprev button-navigation" (click)="previousEdit()"
                        [disabled]="rowNum===count || statusVoucher === 0 || count == 1 || isCreateUrl">
                        <i class="mdi mdi-arrow-left"></i>
                </button>
                <button class="anext button-navigation" (click)="nextEdit()"
                        [disabled]="rowNum===1 || statusVoucher === 0 || count == 1 || isCreateUrl">
                        <i class="mdi mdi-arrow-right"></i>
                </button>
                <button class="button-navigation" title="{{buttonAddTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_THEM]"
                        (click)="addNew($event)"
                        [disabled]="!disableAddButton || isCreateUrl"><i
                    class="mdi mdi-plus"></i><span jhiTranslate="ebwebApp.mBCreditCard.home.add"
                                                   [class.disable]="!disableAddButton || isCreateUrl"></span>
                </button>
                <button class="button-navigation" title="{{buttonEditTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_SUA]"
                        (click)="edit()"
                        [disabled]="disableEditButton || checkCloseBook(this.currentAccount, this.gOtherVoucher.postedDate) || !checkSameOrg()">
                    <i
                        class="mdi mdi-file-document-edit"></i><span jhiTranslate="ebwebApp.mBCreditCard.home.edit"
                                                                     [class.disable]="disableEditButton"></span>
                </button>
                <button class="button-navigation" title="{{buttonSaveTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_THEM, ROLE_HTCPL_SUA]"
                        (click)="save(false)"
                        [disabled]="!isCreateUrl || !checkSameOrg()"><i class="mdi mdi-briefcase-download"></i>
                    <span jhiTranslate="ebwebApp.mBCreditCard.home.save"
                          [class.disable]="!isCreateUrl"></span>
                </button>
                <button class="button-navigation" title="{{buttonRecordTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_GHISO]"
                        [disabled]="isCreateUrl || !checkSameOrg() || checkCloseBook(currentAccount, gOtherVoucher.postedDate) "
                        [hidden]="gOtherVoucher.recorded "
                        (click)="record()"><i
                    class="mdi mdi-border-color"></i><span jhiTranslate="ebwebApp.mBCreditCard.home.record"
                ></span>
                </button>
                <button class="button-navigation" title="{{buttonUnRecordTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_GHISO]" [hidden]="!gOtherVoucher.recorded "
                        (click)="unrecord()"
                        [disabled]="isCreateUrl || !checkSameOrg() || checkCloseBook(currentAccount, gOtherVoucher.postedDate) "><i
                    class="mdi mdi-border-color"></i><span jhiTranslate="ebwebApp.mBCreditCard.home.unrecord"
                                                           [class.disable]="isCreateUrl"></span>
                </button>
                <button class="button-navigation" title="{{buttonDeleteTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_XOA]"
                        (click)="delete()"
                        [disabled]="isCreateUrl || this.gOtherVoucher.recorded || checkCloseBook(this.currentAccount, this.gOtherVoucher.postedDate) || !checkSameOrg()">
                    <i
                        class="mdi mdi-delete-forever"></i> <span jhiTranslate="ebwebApp.mBCreditCard.home.delete"
                                                                  [class.disable]="isCreateUrl"></span>
                </button>
<!--                <div ngbDropdown class="d-inline-block"-->
<!--                     *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_IN]">-->
<!--                    <button id="dropdownBasic1" ngbDropdownToggle [class.disableDiv]="isCreateUrl"-->
<!--                            class="button-navigation"-->
<!--                            style="background: transparent;border: none; color: #f0f0f0"><i class="mdi mdi-printer"></i><span-->
<!--                        jhiTranslate="common.print"></span>-->
<!--                    </button>-->
<!--                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="padding: 0 !important;">-->
<!--                        <button ngbDropdownItem class="custom-dropdown"-->
<!--                                (click)="CTKTExportPDF(false,1)"><span-->
<!--                            jhiTranslate="ebwebApp.mBCreditCard.financialPaper"></span></button>-->
<!--                    </div>-->
<!--                </div>-->
                <div ngbDropdown class="d-inline-block"
                     *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_IN]">
                    <button id="dropdownBasic2" ngbDropdownToggle [class.disableDiv]="isCreateUrl"
                            class="button-navigation"
                            style="background: transparent;border: none; color: #f0f0f0"><i class="mdi mdi-printer"></i><span jhiTranslate="common.print">In</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="padding: 0 !important;">
                        <button ngbDropdownItem class="custom-dropdown"
                                (click)="exportPDFWebService(6)"><span
                            jhiTranslate="ebwebApp.mBCreditCard.financialPaper"></span></button>
                    </div>
                </div>
                <button class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_XEM]"
                        title="{{buttonCloseFormTranslate | translate}}"
                        (click)="closeForm()"><i
                    class="mdi mdi-window-close"></i> <span
                    jhiTranslate="ebwebApp.mBCreditCard.home.exit"></span>
                </button>
            </div>
        </div>
        <div class="tool-navbar">
            <div class="row">
                <div class="col-lg-6">
                    <div class="line-btn" style="margin-bottom: 4px">
                        <div class="lbtn-action">
                            <ul class="nav nav-tabs">
                                <li class="active"><a class="active" style="text-decoration: none" data-toggle="tab"
                                                      href="#home0"><span
                                    jhiTranslate="ebwebApp.gOtherVoucher.home.titleHachToanChiPhiLuong"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row" style="justify-content: flex-end;">
                        <label class="col-sm-3 form-check-label" style="font-size: 14px; padding-left: 5px;
                                            font-weight: 600; text-align: center; line-height: 35px;"></label>
                        <div class="col-lg-3" style="padding-right: 0px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-9 pd-r-0 form-main-new">
                <form>
                    <h3 jhiTranslate="ebwebApp.mBCreditCard.generalInformation"></h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row no-gutters">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="ebwebApp.gOtherVoucher.autoPrinciple"></label>
                                <div class="col-sm-3 pd-l-0">
                                    <combo-box style="" class="padding" idIp="index1"
                                               name="autoPrinciple"
                                               [dataList]="autoPrinciple"
                                               [isOutTable]="true"
                                               [listColumns]="utilService.listColumnsAutoPrinciple"
                                               displayMember="autoPrincipleName"
                                               valueName="autoPrincipleName"
                                               [headerColumns]="utilService.listHeaderColumnsAutoPrinciple"
                                               [isObject]="false"
                                               [(ngModel)]="autoPrincipleName"
                                               [tabindex]="1">
                                    </combo-box>
                                </div>
                                <div class="col-sm-7 pd-l-0 last-div-1-1">
                                    <input type="text" class="form-control form-control-sm" name="reason"
                                           id="reason_save"
                                           [(ngModel)]="gOtherVoucher.reason" maxlength="512"
                                           [tabindex]="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 pd-only-l-10 form-main-new">
                <form>
                    <h3 jhiTranslate="ebwebApp.mBCreditCard.voucher"></h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group row no-gutters">
                                <label class="col-sm-4 col-form-label"
                                       jhiTranslate="ebwebApp.mBCreditCard.voucherNumber"></label>
                                <div class="col-sm-8 pd-l-0 last-div-1-0">
                                    <input type="text" class="form-control form-control-sm"
                                           [(ngModel)]="no" name="noMBook" required
                                           [tabindex]="3">
                                </div>
                            </div>
                            <div class="form-group row no-gutters">
                                <label class="col-sm-4 col-form-label"
                                       jhiTranslate="ebwebApp.mBCreditCard.date"></label>
                                <div class="col-sm-8 last-div-1-0" style="padding-right: 15px;">
                                    <eb-date-picker style="display: block" [(ngModel)]="gOtherVoucher.date" required
                                                    [disabled]="!isCreateUrl"
                                                    name="date" [tabindex]="4"
                                                    (ngModelChange)="selectChangeDate()"></eb-date-picker>
                                </div>
                            </div>
                            <div class="form-group row no-gutters">
                                <label class="col-sm-4 col-form-label"
                                       jhiTranslate="ebwebApp.mBCreditCard.postedDate"></label>
                                <div class="col-sm-8 last-div-1-0" style="padding-right: 15px;">
                                    <eb-date-picker style="display: block" (keydown.enter)="checkFocus()"
                                                    [(ngModel)]="gOtherVoucher.postedDate" [disabled]="!isCreateUrl"
                                                    required name="postedDate" [tabindex]="5"></eb-date-picker>
                                </div>
                            </div>
                            <!--                            <div class="form-group row no-gutters" *ngIf="isHideTypeLedger === false">-->
                            <!--                                <label class="col-sm-4 col-form-label"-->
                            <!--                                       jhiTranslate="ebwebApp.mBCreditCard.typeLedger"></label>-->
                            <!--                                <div class="col-sm-8 pd-l-0 last-div-1-0">-->
                            <!--                                    <select-->
                            <!--                                        name="typeLedger" class="form-control form-control-sm"-->
                            <!--                                        [(ngModel)]="gOtherVoucher.typeLedger" [tabindex]="17">-->
                            <!--                                        <option [ngValue]="0" *ngIf="sysTypeLedger === '0'"-->
                            <!--                                                jhiTranslate="ebwebApp.mBCreditCard.financialBook">-->
                            <!--                                        </option>-->
                            <!--                                        <option [ngValue]="1" *ngIf="sysTypeLedger === '1'"-->
                            <!--                                                jhiTranslate="ebwebApp.mBCreditCard.managementBook">-->
                            <!--                                        </option>-->
                            <!--                                        <option [ngValue]="2" jhiTranslate="ebwebApp.mBCreditCard.bothBooks">-->
                            <!--                                        </option>-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="padding-top: 15px;">
            <ngb-tabset class="tool-navbar" (tabChange)="beforeChange($event)">
                <ngb-tab id="tab1">
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mBCreditCard.home.details"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail"
                                 style="background: #cbdcf0">
                                <div #scrollHeader id="main-chi-tiet" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                     class="border-right-blue width-1-p">
                                    <table id="main-table-chi-tiet" class="table-scroll main-table"
                                           style="max-height: 500px">
                                        <thead>
                                        <tr>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.mBCreditCard.description"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.debitAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.creditAccount">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.amountOriginal">
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table #scrollTwo id="detail-table-chi-tiet"
                                       class="table-scroll main-table virtualScroller voucher-table"
                                       #tableResult (scroll)="updateScroll(scrollHeader, scrollTwo, scrollOne)"
                                       (keydown.arrowUp)="moveArrowUp($event, 4)"
                                       (keydown.arrowDown)="moveArrowDown($event, 4)"
                                >
                                    <tbody ebVirtualScroller #scroll [items]="gOtherVoucherDetails"
                                           [parentScroll]="tableResult" style="height: 340px">
                                    <tr oncontextmenu="return false;"
                                        (contextmenu)="onRightClick($event, scroll.viewPortItems, detail, true, true, 0, gOtherVoucherDetails.indexOf(detail))"
                                        *ngFor="let detail of scroll.viewPortItems;let i=index;"
                                        (keydown.control.c)="keyDownAddRow(gOtherVoucherDetails.indexOf(detail),0)"
                                        (keydown.control.insert)="keyDownAddRow(null,0)"
                                        (keydown.control.delete)="KeyPress(gOtherVoucherDetails.indexOf(detail),0)"
                                        (keydown.enter)="clickEnter($event, detail.stt)">
                                        <td class="cell-Table jsgrid-align-left"
                                            style="width: 1% !important;"
                                            title="{{detail.description}}"><input type="text"
                                                                                  class="input-Cell"
                                                                                  name="diengiai{{detail.stt}}"
                                                                                  id="diengiai{{detail.stt}}"
                                                                                  [value]="detail.description"
                                                                                  [(ngModel)]="detail.description"
                                                                                  [tabindex]="5 + (4 * detail.stt) + 1">
                                        </td>
                                        <td class="cell-Table jsgrid-align-center" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'debitAccount_DT'+detail.stt}}"
                                                       id="{{'debitAccount_DT'+detail.stt}}"
                                                       [dataList]="debitAccountList"
                                                       [listColumns]="utilService.listColumnsAccountList"
                                                       displayMember="accountNumber"
                                                       valueName="accountNumber"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountList"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.debitAccount"
                                                       [isOutTable]="false"
                                                       [isRequired]="true"
                                                       [hideRequiredWhenValueTrue]="true"
                                                       [tabindex]="5 + (4 * detail.stt) + 2"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-center" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'creditAccount_DT'+detail.stt}}"
                                                       id="{{'creditAccount_DT'+detail.stt}}"
                                                       [dataList]="creditAccountList"
                                                       [listColumns]="utilService.listColumnsAccountList"
                                                       displayMember="accountNumber"
                                                       valueName="accountNumber"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountList"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.creditAccount"
                                                       [isRequired]="true"
                                                       [isOutTable]="false"
                                                       [hideRequiredWhenValueTrue]="true"
                                                       [tabindex]="5 + (4 * detail.stt) + 3"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-right" style="width: 1% !important;"><input
                                            type="number"
                                            class="input-Cell"
                                            name="amount{{detail.stt}}"
                                            id="amount{{detail.stt}}"
                                            [(ngModel)]="detail.amount"
                                            currencyMask
                                            [options]="customCurrencyMaskConfig.DDSo_TienVND"
                                            [type]="7"
                                            [tabindex]="5 + (4 * detail.stt) + 4"
                                            (ngModelChange)="selectChangeTotalAmount()">
                                        </td>
                                    </tr>
                                    <tr (click)="AddnewRow($event,0)" *ngIf="isCreateUrl">
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    value="{{'ebwebApp.mBDeposit.insertRow'| translate}}"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                    </tr>
                                    <tr (contextmenu)="onRightClick($event, gOtherVoucherDetails, null, true, false, 0, null)"
                                        *ngFor="let l of newArr(9 - gOtherVoucherDetails.length)">
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div
                                    (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                    #scrollOne id="main-table0"
                                    class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                    style="overflow-x: visible;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                    <tr>
                                        <td class="cell-Table countRow" style="width: 1% !important;"
                                        ><input
                                            type="text"
                                            [class.noEdit]="true"
                                            class="countRow input-Cell"
                                            value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{gOtherVoucherDetails ? gOtherVoucherDetails?.length : 0}}">
                                        </td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"
                                        >
                                        </td>
                                        <td
                                            class="cell-Table countRow" style="width: 1% !important;"
                                        >
                                        </td>
                                        <td
                                            class="cell-Table countRow" style="width: 1% !important;">
                                            <input type="text"
                                                   name="totalAmountOriginal_footer"
                                                   class="countRow input-Cell"
                                                   readonly
                                                   [ngModel]="getAmount()"
                                                   currencyMask
                                                   [options]="customCurrencyMaskConfig.DDSo_TienVND">
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="tab2">
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.gOtherVoucher.home.statistical"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-statistical"
                                 style="background: #cbdcf0">
                                <div #scrollHeader id="header-thong-ke" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                     class="border-right-blue width-1-p">
                                    <table id="header-table-thong-ke" class="table-scroll main-table"
                                           style="max-height: 500px">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="description"
                                                jhiTranslate="ebwebApp.gOtherVoucher.reason"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.debitAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.creditAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.amountOriginal"></th>
                                            <!--                                            <th scope="col" *ngIf="!isMainCurrency"-->
                                            <!--                                                jhiTranslate="ebwebApp.gOtherVoucher.amount"></th>-->
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.debitAccountingObject"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.creditAccountingObject"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.employee"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.bankAccountDetailID"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.expenseItem"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.costSet"></th>
                                            <!--                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.contract"></th>-->
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.budgetItem"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.department"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.statisticsCode"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table #scrollTwo id="details-table-thong-ke"
                                       class="table-scroll main-table virtualScroller"
                                       #tableResult (scroll)="updateScroll(scrollHeader, scrollTwo, scrollOne)"
                                       (keydown.arrowUp)="moveArrowUp($event, 13)"
                                       (keydown.arrowDown)="moveArrowDown($event, 13)"
                                >
                                    <tbody ebVirtualScroller #scroll [items]="gOtherVoucherDetails"
                                           [parentScroll]="tableResult" style="height: 340px">
                                    <tr oncontextmenu="return false;"
                                        (contextmenu)="onRightClick($event, scroll.viewPortItems, detail, true, true, 3, gOtherVoucherDetails.indexOf(detail))"
                                        *ngFor="let detail of scroll.viewPortItems;let i=index;"
                                        (keydown.control.c)="keyDownAddRow(gOtherVoucherDetails.indexOf(detail),0)"
                                        (keydown.control.insert)="keyDownAddRow(null,0)"
                                        (keydown.enter)="clickEnter1($event, i)"
                                        (keydown.control.delete)="KeyPress(gOtherVoucherDetails.indexOf(detail),0)">
                                        <td class="cell-Table  jsgrid-align-left description" style="width: 1% !important;"
                                            title="{{detail.description}}"><input type="text"
                                                                                  class="input-Cell"
                                                                                  name="description_statistical{{i}}"
                                                                                  id="description_statistical{{i}}"
                                                                                  [value]="detail.description"
                                                                                  [(ngModel)]="detail.description"
                                                                                  [tabindex]="100 + (13 * i)"
                                        >
                                        </td>
                                        <td class="cell-Table  jsgrid-align-center" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'debitAccount_statistical'+i}}"
                                                       [dataList]="debitAccountList"
                                                       [listColumns]="utilService.listColumnsAccountDefaults"
                                                       displayMember="accountNumber"
                                                       valueName="accountNumber"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountDefaults"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.debitAccount"
                                                       [isRequired]="true"
                                                       [isOutTable]="false"
                                                       [hideRequiredWhenValueTrue]="true"
                                                       [isReadOnly]="true"
                                                       [tabindex]="101 + (13 * i)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table  jsgrid-align-center" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'creditAccount_statistical'+i}}"
                                                       [dataList]="accountList"
                                                       [listColumns]="utilService.listColumnsAccountList"
                                                       displayMember="accountNumber"
                                                       valueName="accountNumber"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountList"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.creditAccount"
                                                       [isRequired]="true"
                                                       [isOutTable]="false"
                                                       [hideRequiredWhenValueTrue]="true"
                                                       [isReadOnly]="true"
                                                       [tabindex]="102 + (13 * i)"
                                            ></combo-box>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right" style="width: 1% !important;"><input
                                            type="text"
                                            name="amount_statistical{{i}}"
                                            id="amount_statistical{{i}}"
                                            class="input-Cell text-right"
                                            [(ngModel)]="detail.amount"
                                            [options]="customCurrencyMaskConfig.DDSo_TienVND"
                                            [type]="7"
                                            currencyMask
                                            [class.noEdit]="true"
                                            [tabindex]="103 + (13 * i)"
                                            (ngModelChange)="selectChangeTotalAmount()">
                                        </td>
                                        <!--                                            <td *ngIf="!isMainCurrency" class="cell-Table jsgrid-align-right">-->
                                        <!--                                                <input type="number" class="input-Cell"-->
                                        <!--                                                       [(ngModel)]="detail.amount"-->
                                        <!--                                                       name="amount_statistical{{i}}"-->
                                        <!--                                                       id="amount_statistical{{i}}"-->
                                        <!--                                                       (ngModelChange)="calcular(detail,700,'amount',gOtherVoucher, gOtherVoucherDetails, gOtherVoucherDetailTax)"-->
                                        <!--                                                       currencyMask-->
                                        <!--                                                       [systemOptions]="currentAccount?.systemOption"-->
                                        <!--                                                       [type]="typeDDSO_NgoaiTe">-->
                                        <!--                                            </td>-->
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'debitAccountingObject_statistical'+i}}"
                                                       [dataList]="accounting"
                                                       [listColumns]="utilService.listColumnsAccountingObjects"
                                                       displayMember="accountingObjectCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountingObject"
                                                       [isObject]="false"
                                                       [isOutTable]="false"
                                                       [(ngModel)]="detail.debitAccountingObjectID"
                                                       [tabindex]="104 + (13 * i)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'creditAccountingObject_statistical'+i}}"
                                                       [dataList]="accounting"
                                                       [listColumns]="utilService.listColumnsAccountingObjects"
                                                       displayMember="accountingObjectCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsAccountingObject"
                                                       [isObject]="false"
                                                       [isOutTable]="false"
                                                       [(ngModel)]="detail.creditAccountingObjectID"
                                                       [tabindex]="105 + (13 * i)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'employee_statistical'+i}}"
                                                       [dataList]="employees"
                                                       [nameCategory]="utilsService.NHAN_VIEN"
                                                       [showIconPlus]="true"
                                                       [listColumns]="utilService.listColumnsEmployees"
                                                       displayMember="accountingObjectCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsEmployees"
                                                       [isObject]="false"
                                                       [isOutTable]="false"
                                                       [(ngModel)]="detail.employeeID"
                                                       [tabindex]="106 + (13 * i)"
                                                       (click)="saveDetails(i)"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'bankAccountDetailID_statistical'+i}}"
                                                       [dataList]="bankAccountDetails"
                                                       [nameCategory]="utilsService.TAI_KHOAN_NGAN_HANG"
                                                       [showIconPlus]="true"
                                                       [listColumns]="utilService.listColumnsBankAccountDetails"
                                                       displayMember="bankAccount"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsBankAccountDetails"
                                                       [isObject]="false"
                                                       [isOutTable]="false"
                                                       [(ngModel)]="detail.bankAccountDetailID"
                                                       [tabindex]="107 + (13 * i)"
                                                       (click)="saveDetails(i)"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'expenseItem_statistical'+i}}"
                                                       [dataList]="expenseItems"
                                                       [listColumns]="utilService.listColumnsExpenseItem"
                                                       [nameCategory]="utilsService.KHOAN_MUC_CHI_PHI"
                                                       [showIconPlus]="true"
                                                       displayMember="expenseItemCode"
                                                       valueName="id"
                                                       [isOutTable]="false"
                                                       [headerColumns]="utilService.listHeaderColumnsExpenseItem"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.expenseItemID"
                                                       [tabindex]="108 + (13 * i)"
                                                       (click)="saveDetails(i)"
                                                       [noGetValueParentNode]="true"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'costSet_statistical'+i}}"
                                                       [dataList]="costSets"
                                                       [listColumns]="utilService.listColumnsCostSet"
                                                       displayMember="costSetCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsCostSet"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.costSetID"
                                                       [isOutTable]="false"
                                                       [tabindex]="109 + (13 * i)"
                                                       [nameCategory]="utilsService.DOI_TUONG_TAP_HOP_CHI_PHI"
                                                       [showIconPlus]="true"
                                                       (click)="saveDetails(i)"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                            ></combo-box>
                                        </td>
                                        <!--                                            <td class="cell-Table jsgrid-align-left">-->
                                        <!--                                                <combo-box style=""-->
                                        <!--                                                           name="{{'contract_statistical'+i}}"-->
                                        <!--                                                           [dataList]="eMContracts"-->
                                        <!--                                                           [listColumns]="isSoTaiChinh?utilService.listColumnsEMContractFBook:utilService.listColumnsEMContractMBook"-->
                                        <!--                                                           displayMember="{{isSoTaiChinh?'noFBook':'noMBook'}}"-->
                                        <!--                                                           valueName="id"-->
                                        <!--                                                           [headerColumns]="utilService.listHeaderColumnsEMContract"-->
                                        <!--                                                           [isObject]="false"-->
                                        <!--                                                           [(ngModel)]="detail.contractID"-->
                                        <!--                                                           [tabindex]="8 + (14 * i)*3 + 11"-->
                                        <!--                                                           [nameCategory]="utilsService.HOP_DONG"-->
                                        <!--                                                           [showIconPlus]="true"-->
                                        <!--                                                ></combo-box>-->
                                        <!--                                            </td>-->
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style="" id="budgetItem_statistical{{i}}"
                                                       name="budgetItem_DT{{i}}"
                                                       [dataList]="budgetItems"
                                                       [listColumns]="utilService.listColumnsBudgetItem"
                                                       displayMember="budgetItemCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsBudgetItem"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.budgetItemID"
                                                       [isOutTable]="false"
                                                       [tabindex]="110 + (13 * i)"
                                                       [nameCategory]="utilsService.MUC_THU_CHI"
                                                       [showIconPlus]="true"
                                                       (click)="saveDetails(i)"
                                                       [noGetValueParentNode]="true"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)">
                                            </combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important;">
                                            <combo-box style=""
                                                       name="{{'organizationUnit_statistical'+i}}"
                                                       [dataList]="organizationUnits"
                                                       [listColumns]="utilService.listColumnsOrganizationUnit"
                                                       displayMember="organizationUnitCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsOrganizationUnit"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.departmentID"
                                                       [isOutTable]="false"
                                                       [tabindex]="111 + (13 * i)"
                                                       [nameCategory]="utilService.PHONG_BAN"
                                                       [showIconPlus]="true"
                                                       (ngModelChange)="selectChangeDepartmentID(i)"
                                                       (click)="saveDetails(i)"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                            ></combo-box>
                                        </td>
                                        <td class="cell-Table jsgrid-align-left" style="width: 1% !important; padding-right: 10px !important;">
                                            <combo-box style=""
                                                       name="{{'statisticsCode_statistical'+i}}"
                                                       [dataList]="statisticCodes"
                                                       [listColumns]="utilService.listColumnsStatisticCode"
                                                       displayMember="statisticsCode"
                                                       valueName="id"
                                                       [headerColumns]="utilService.listHeaderColumnsStatisticCode"
                                                       [isObject]="false"
                                                       [(ngModel)]="detail.statisticCodeID"
                                                       [tabindex]="112 + (13 * i)"
                                                       [isOutTable]="false"
                                                       [nameCategory]="utilsService.MA_THONG_KE"
                                                       [showIconPlus]="true"
                                                       (click)="saveDetails(i)"
                                                       [useVirtualScroll]="true"
                                                       (afterDataChange)="afterDataChange($event)"
                                                       [noGetValueParentNode]="true"
                                            ></combo-box>
                                        </td>
                                    </tr>
                                    <tr (click)="AddnewRow($event,0)" *ngIf="isCreateUrl">
                                        <td class="cell-Table description" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    value="{{'ebwebApp.mBDeposit.insertRow'| translate}}"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <!--                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>-->
                                        <!--                                            </td>-->
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <!--                                            <td *ngIf="!isMainCurrency" class="cell-Table"><input-->
                                        <!--                                                type="text" class="input-Cell" readonly></td>-->
                                    </tr>
                                    <tr (contextmenu)="onRightClick($event, gOtherVoucherDetails, null, true, false, 3, null)"
                                        *ngFor="let l of newArr(9 - gOtherVoucherDetails.length)">
                                        <td class="cell-Table description" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <!--                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>-->
                                        <!--                                            </td>-->
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="input-Cell"
                                                                                                    readonly>
                                        </td>
                                        <!--                                            <td *ngIf="!isMainCurrency" class="cell-Table"><input-->
                                        <!--                                                type="text" class="input-Cell" readonly></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                                <div
                                    (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                    #scrollOne id="footer-thong-ke"
                                    class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                    style="overflow-x: scroll;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                    <tr>
                                        <td class="cell-Table jsgrid-align-left description" style="width: 1% !important;"><input
                                            type="text"
                                            readonly
                                            class="countRow input-Cell"
                                            value="{{'ebwebApp.mBCreditCard.countLine'| translate}} : {{gOtherVoucherDetails?.length}}">
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table jsgrid-align-right" style="width: 1% !important;"><input
                                            type="text"
                                            name="totalAmountOriginal_footer"
                                            class="countRow input-Cell"
                                            readonly
                                            [ngModel]="getAmount()"
                                            currencyMask
                                            [options]="customCurrencyMaskConfig.DDSo_TienVND">
                                        </td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 1% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                        <td class="cell-Table" style="width: 2% !important;"><input type="text"
                                                                                                    class="countRow input-Cell"
                                                                                                    readonly></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="tab3">
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mBCreditCard.referenceVoucher"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref"
                                 style="background: #cbdcf0">
                                <div id="table-scroll-ref" class="table-scroll">
                                    <table id="main-table-ref" class="main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.date"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.postedDate">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.voucherNumber">
                                            <th scope="col" jhiTranslate="ebwebApp.mBCreditCard.description">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let viewVoucher of viewVouchersSelected; let i = index"
                                            oncontextmenu="return false;"
                                            (contextmenu)="onRightClick($event, viewVouchersSelected, viewVoucher, false, true, 4, viewVouchersSelected.indexOf(viewVoucher))"
                                            (keydown.control.delete)="KeyPress(i ,0)">
                                            <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.date}}</td>
                                            <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.postedDate}}</td>
                                            <td class="jsgrid-cell jsgrid-align-left line-h pd-l-r-5"
                                                (click)="utilsService.viewRefVoucher(viewVoucher, currentAccount)"
                                                style="color:blue; text-decoration: underline;">{{viewVoucher.no}}
                                            </td>
                                            <td class="jsgrid-cell jsgrid-align-left description">{{viewVoucher.reason}}</td>
                                        </tr>
                                        <tr (contextmenu)="onRightClick($event, viewVouchersSelected, null, false, true, 0, null)"
                                            *ngFor="let l of newArr(9 - viewVouchersSelected.length)">
                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                            </td>
                                            <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="cell-Table countRow jsgrid-align-left" colspan="4"
                                                style="width: 150px"><input type="text" readonly
                                                                            class="countRow input-Cell"
                                                                            value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{viewVouchersSelected?.length}}">
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab x-placement="right" id="reference">
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mBCreditCard.reference"></span>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div class="row justify-content-end" style="padding-top: 10px;">
                <div class="col-lg-3 pd-l-0">
                    <div class="form-group row justify-content-end">
                        <div class="col-sm-2 pd-l-0 pd-r-5" style="padding-right: 0px;margin-right: 5px;">
                        </div>
                        <label class="col-sm-3 col-form-label pd-r-0"
                               style="padding-left: 0px;padding-right: 0px;text-align: right;"
                               for="field_totalAmount" jhiTranslate="ebwebApp.mBCreditCard.totalAmountOriginal">Tổng
                            tiền TT</label>
                        <div class="col-sm-6 pd-l-0" style="padding-left: 0px;">
                            <input type="text" class="form-control form-control-sm text-right myreadonlytrue"
                                   name="totalAmount" id="field_totalAmount"
                                   [(ngModel)]="gOtherVoucher.totalAmount"
                                   currencyMask
                                   [options]="CustomCurrencyMaskConfigTienViet"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--display when right click mbdetail-->
</div>
<eb-context-menu [contextMenu]="contextMenu" [eventHandlingHere]="true" [useCopyRow]="true"></eb-context-menu>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="global.saveMessage">Dữ liệu đã bị thay đổi, Bạn có muốn lưu lại?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="saveContent()" jhiTranslate="entity.action.save">
            Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()" jhiTranslate="ebwebApp.mBDeposit.dontSave">
            close
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="exit()" jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>

<!--<ng-template #test let-modal>-->
<!--    <div class="modal-body">-->
<!--        <form>-->
<!--            <div class="form-group">-->
<!--                <label jhiTranslate="ebwebApp.mBDeposit.totalAmountNotEqualVatAmount"-->
<!--                       translateValues="{param: '{{no}}'}"></label>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-outline-success" (click)="continueSave()"-->
<!--                jhiTranslate="entity.action.save">-->
<!--            Save-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-outline-danger" (click)="exit()" jhiTranslate="entity.action.close">close-->
<!--        </button>-->
<!--    </div>-->
<!--</ng-template>-->

<ng-template #contentAmount let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.mBDeposit.totalAmountNotEqualVatAmount"
                       translateValues="{param: '{{no}}'}"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continueModalSaveComponent()"
                jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closeModalSaveComponent()"
                jhiTranslate="entity.action.noSave">close
        </button>
    </div>
</ng-template>

