<div>
    <div>
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.gOtherVoucher.home.titleHachToanChiPhiLuong"></span>
            </div>
            <div class="gr-toolbar">
                <button class="button-navigation" title="{{buttonAddTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_THEM]"
                        (click)="addNew(false)"><i class="mdi mdi-plus"></i><span
                    jhiTranslate="ebwebApp.gOtherVoucher.home.add"></span></button>
                <button class="button-navigation" title="{{buttonDeleteTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_XOA]"
                        [disabled]="!selectedRow || (selectedRow?.recorded && selectedRows.length === 1) ||
                         checkCloseBook(this.currentAccount, this.selectedRow.postedDate) || !checkMultiButton(false) || !checkSameOrg()"
                        (click)="delete()"><i
                    class="mdi mdi-delete"></i> <span jhiTranslate="ebwebApp.gOtherVoucher.home.delete"></span></button>
                <button class="button-navigation" title="{{buttonRecordTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_GHISO]"
                        [disabled]="!selectedRow || checkCloseBook(this.currentAccount, this.selectedRow.postedDate) || !checkSameOrg()"
                        [hidden]="selectedRow?.recorded && !checkMultiButton(false)" (click)="record()"><i
                    class="mdi mdi-border-color"></i><span
                    jhiTranslate="ebwebApp.gOtherVoucher.home.record"></span></button>
                <!--                isUnrecorded-->
                <button class="button-navigation" title="{{buttonUnRecordTranslate | translate}}"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_GHISO]"
                        [hidden]="!selectedRow?.recorded && !checkMultiButton(true)"
                        [disabled]="!selectedRow || checkCloseBook(this.currentAccount, this.selectedRow.postedDate) || !checkSameOrg()"
                        (click)="unrecord()"><i class="mdi mdi-border-color"></i><span
                    jhiTranslate="ebwebApp.gOtherVoucher.home.unrecord"></span></button>
                <!--                isRecored-->
                <div ngbDropdown class="mdi d-inline-block" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_IN]"
                >
                    <button class="button-navigation pl-0"
                            [class.disableDiv]="!selectedRow"
                            [disabled]="!gOtherVouchers || gOtherVouchers.length === 0"
                            id="dropdownM1" ngbDropdownToggle
                            style="background: transparent;border: none">
                        <i class="mdi mdi-printer"></i>
                        <span jhiTranslate="entity.action.print">In</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownM1" style="padding: 0 !important; width: 180px">
                        <button class="btn-dr-i hover-dr"><span
                            jhiTranslate="ebwebApp.mBDeposit.financialPaper"
                            (click)="exportPDFWebService(6)"></span></button>
                    </div>
                </div>
                <button class="button-navigation" title="{{buttonExportTranslate | translate}}"
                        [disabled]="gOtherVouchers?.length === 0"
                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_KETXUAT]" (click)="export()"><i
                    class="mdi mdi-file-export"></i><span
                    jhiTranslate="ebwebApp.gOtherVoucher.home.exportExcel"></span></button>
                <button class="button-navigation" (click)="navigateHelp()">
                    <fa-icon [icon]="'question-circle'"></fa-icon>
                    <span jhiTranslate="ebwebApp.mBDeposit.help"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_XEM]"
                        title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="!isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.gOtherVoucher.home.hideAdvanceSearch"></span>
                </button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HTCPL_XEM]"
                        title="{{buttonSearchTranslate | translate}}"
                        (click)="toggleSearch($event)" [hidden]="isShowSearch">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.mBDeposit.home.advanceSearch"></span>
                </button>
            </div>
        </div>

        <div class="frm-main frm-mains nobg">
            <form id="seach" style="background: #cbdcf0;" [hidden]="!isShowSearch">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group row">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.status"></label>
                            <div class="col-sm-7 pd-l-0">
                                <combo-box style="" id="field_listRecord"
                                           name="comboboxListRecord"
                                           [dataList]="listRecord"
                                           [tabindex]="1"
                                           [idIp]="'inputFirst'"
                                           [isOutTable]="true"
                                           [listColumns]="listColumnsRecord"
                                           displayMember="name"
                                           valueName="value"
                                           [headerColumns]="listHeaderColumnsRecord"
                                           [isObject]="false"
                                           [(ngModel)]="objSearch.statusRecorded">
                                </combo-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.fromDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [tabindex]="2" [(ngModel)]="objSearch.fromDate" name="fromDate"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   style="padding-top: 7px; padding-right: 0px"
                                   jhiTranslate="ebwebApp.gOtherVoucher.detail.toDate"></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <eb-date-picker [tabindex]="3" [(ngModel)]="objSearch.toDate" name="toDate"
                                                    format="YYYY-MM-DD"></eb-date-picker>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-right"
                                   jhiTranslate="timKiem.keyWord"></label>
                            <div class="col-sm-5">
                                <input [(ngModel)]="objSearch.textSearch" [tabIndex]="4" name="searchValue"
                                       id="field_searchValue"
                                       type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="frm-button">
                            <button class="btn btn-success btn-sm" [tabIndex]="5" (click)="search()"
                                    style="font-size: 16px"><i
                                class="mdi mdi-magnify"
                                aria-hidden="true"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="timKiem.search"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" [tabIndex]="6" (click)="clearSearch()"
                                    style="font-size: 16px"><i
                                class="mdi mdi-replay"
                                style="margin-right: 5px"></i><span
                                jhiTranslate="ebwebApp.gOtherVoucher.detail.reset"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="frm-main frm-tables frm-padding" style="background: #cbdcf0; margin-top: 5px">
                <div id="table-scroll0" class="table-scroll voucher-table" style="height: 270px !important;">
                    <table id="main-table0" class="main-table">
                        <thead class="header-table">
                        <tr>
                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.date">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.postedDate">
                            </th>
                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.voucherNumber">
                            </th>
                            <th scope="col" class="description" jhiTranslate="ebwebApp.gOtherVoucher.reason"></th>
                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.totalAmountOriginal">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let igOtherVoucher of gOtherVouchers ; let i = index; trackBy: trackId"
                            (click)="selectMultiRow(igOtherVoucher, $event, gOtherVouchers)"
                            [class.selected]="this.selectedRows.indexOf(igOtherVoucher) !== -1"
                            (dblclick)="doubleClickRow($event)"
                            [ngStyle]="getStyle(igOtherVoucher.recorded)">
                            <td title="{{igOtherVoucher.date}}" class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{igOtherVoucher.date | date:'dd/MM/yyyy'}}</td>
                            <td title="{{igOtherVoucher.postedDate}}" class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{igOtherVoucher.postedDate| date:'dd/MM/yyyy'}}</td>
                            <td title="{{isSoTaiChinh ? igOtherVoucher.noFBook : igOtherVoucher.noMBook}}"
                                class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{isSoTaiChinh ? igOtherVoucher.noFBook : igOtherVoucher.noMBook}}</td>
                            <td title="{{igOtherVoucher.reason}}" class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{igOtherVoucher.reason}}</td>
                            <td title="{{igOtherVoucher.totalAmount}}" class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"><input type="text"
                                                            class="input-Cell text-right inputFormatCurrency"
                                                            [(ngModel)]="igOtherVoucher.totalAmount"
                                                            [allowNegative]="true"
                                                            [systemOptions]="currentAccount?.systemOption"
                                                            [type]="7"
                                                            ebCurrencyMask
                                                            disabled></td>
                        </tr>
                        <tr *ngFor="let l of newArr(9 - gOtherVouchers?.length)">
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">&nbsp;
                            </td>
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">&nbsp;
                            </td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--        phân trang-->
        <div *ngIf="gOtherVouchers && gOtherVouchers.length"
             style="padding-right: 16px;">
            <div class="row" style="height: 32px">
                <div class="col-md-4">
                    <p style="padding-right: 5px;">
                        <span jhiTranslate="global.totalAmountTt"></span>:
                        <input type="text" class="input-Cell-total" disabled
                               [ngModel]="gOtherVouchers[0]?.total"
                               ebCurrencyMask [systemOptions]="currentAccount?.systemOption" [type]="7"
                               [textAlign]="'left'">
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-end" style="height:32px">
                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-sm-9 col-form-label" for="itemsPerPage"
                                       style="padding-right: 0px;text-align: right;"><span
                                    jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                                <div class="col-sm-3 pd-l-0">
                                    <select class="form-control form-control-sm" name="itemsPerPage"
                                            id="itemsPerPage"
                                            style="background-color: #f5f7fa;"
                                            [(ngModel)]="itemsPerPage"
                                            (ngModelChange)="selectedItemPerPage()"
                                    >
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-end">
                            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page"
                                            [pageSize]="itemsPerPage"
                                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--        end of phan trang-->
        <!--        Default-->
        <div>
            <ngb-tabset class="tool-navbar">
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.gOtherVoucher.home.details"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail"
                                 style="background: #cbdcf0">
                                <div #scrollHeader id="main-table_header" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                     class="border-right-blue width-1-p">
                                    <table class="table-scroll main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.reason"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.debitAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.creditAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.amountOriginal"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table #scrollTwo id="main-table-so-du-dau-ky"
                                       class="table-scroll main-table virtualScroller"
                                       #tableResult>
                                    <tbody ebVirtualScroller #scroll [items]="gOtherVoucherDetails"
                                           [parentScroll]="tableResult"
                                           style="height: 230px">
                                    <tr *ngFor="let detail of scroll.viewPortItems">
                                        <td title="{{detail.description}}" style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{detail.description}}</td>
                                        <td title="{{detail.debitAccount}}"
                                            class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">{{detail.debitAccount}}</td>
                                        <td title="{{detail.creditAccount}}"
                                            class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">{{detail.creditAccount}}</td>
                                        <td title="{{detail.amountOriginal}}"
                                            class="jsgrid-cell jsgrid-align-right" style="width: 1% !important;"><input
                                            type="text"
                                            class="input-Cell text-right inputFormatCurrency"
                                            [(ngModel)]="detail.amountOriginal"
                                            [allowNegative]="true"
                                            [systemOptions]="currentAccount?.systemOption"
                                            [type]="getAmountOriginalType()"
                                            ebCurrencyMask
                                            disabled></td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(9 - gOtherVoucherDetails?.length)">
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">&nbsp;
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">&nbsp;
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div
                                    (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                    #scrollOne id="main-table1"
                                    class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                    style="overflow-x: visible;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                    <tr>
                                        <td class="cell-Table countRow" style="width: 1% !important;"
                                        ><input
                                            type="text"
                                            [class.noEdit]="true"
                                            class="countRow input-Cell"
                                            value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{gOtherVoucherDetails ? gOtherVoucherDetails?.length : 0}}">
                                        </td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"
                                        >
                                        </td>
                                        <td
                                            class="cell-Table countRow" style="width: 1% !important;"
                                        >
                                        </td>
                                        <td
                                            class="cell-Table countRow jsgrid-align-right"
                                            style="width: 1% !important;">
                                            <input type="text"
                                                   name="totalAmountOriginal_footer"
                                                   class="countRow input-Cell"
                                                   readonly
                                                   [ngModel]="getSumDetails('amountOriginal')"
                                                   [allowNegative]="true"
                                                   [systemOptions]="currentAccount?.systemOption"
                                                   [type]="getAmountOriginalType()"
                                                   ebCurrencyMask>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.gOtherVoucher.home.statistical"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-statistical"
                                 style="background: #cbdcf0">
                                <div #scrollHeader id="main-header-thong-ke" style="overflow-x: hidden;
                                overflow-y: hidden; padding-right: 5px; height: auto !important;"
                                     class="border-right-blue width-1-p">
                                    <table class="table-scroll main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.reason"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.debitAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.creditAccount"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.amountOriginal"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.debitAccountingObject"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.creditAccountingObject"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.employee"></th>
                                            <th scope="col"
                                                jhiTranslate="ebwebApp.gOtherVoucher.bankAccountDetailID"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.expenseItem"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.costSet"></th>
                                            <!--                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.contract"></th>-->
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.budgetItem"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.department"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.statisticsCode"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table #scrollTwo id="main-body-thong-ke"
                                       class="table-scroll main-table virtualScroller"
                                       #tableResult>
                                    <tbody ebVirtualScroller #scroll [items]="gOtherVoucherDetails"
                                           [parentScroll]="tableResult"
                                           style="height: 230px">
                                    <tr *ngFor="let detail of utilsService.getSortArray(gOtherVoucherDetails)">
                                        <td title="{{detail.description}}"
                                            class="jsgrid-cell jsgrid-align-left"
                                            style="width: 1% !important;">{{detail.description}}</td>
                                        <td title="{{detail.debitAccount}}"
                                            class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">{{detail.debitAccount}}</td>
                                        <td title="{{detail.creditAccount}}"
                                            class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">{{detail.creditAccount}}</td>
                                        <td title="{{detail.amountOriginal}}"
                                            class="jsgrid-cell jsgrid-align-right" style="width: 1% !important;"><input
                                            type="text"
                                            class="input-Cell text-right inputFormatCurrency"
                                            [(ngModel)]="detail.amountOriginal"
                                            [allowNegative]="true"
                                            [systemOptions]="currentAccount?.systemOption"
                                            [type]="getAmountOriginalType()"
                                            ebCurrencyMask
                                            disabled></td>
                                        <td title="{{getAccountingObjectbyID(detail.debitAccountingObjectID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getAccountingObjectbyID(detail.debitAccountingObjectID)}}</td>
                                        <td title="{{getAccountingObjectbyID(detail.creditAccountingObjectID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getAccountingObjectbyID(detail.creditAccountingObjectID)}}</td>
                                        <td title="{{getEmployeeByID(detail.employeeID)}}" style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getEmployeeByID(detail.employeeID)}}</td>
                                        <td title="{{getBankAccountDetailbyID(detail.bankAccountDetailID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getBankAccountDetailbyID(detail.bankAccountDetailID)}}</td>
                                        <td title="{{getExpenseItembyID(detail.expenseItemID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getExpenseItembyID(detail.expenseItemID)}}</td>
                                        <td title="{{getCostSetbyID(detail.costSetID)}}" style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getCostSetbyID(detail.costSetID)}}</td>
                                        <!--                                            <td title="{{getEMContractsbyID(detail.contractID)}}"-->
                                        <!--                                                class="jsgrid-cell jsgrid-align-left">{{getEMContractsbyID(detail.contractID)}}</td>-->
                                        <td title="{{getBudgetItembyID(detail.budgetItemID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getBudgetItembyID(detail.budgetItemID)}}</td>
                                        <td title="{{getOrganizationUnitbyID(detail.departmentID)}}"
                                            style="width: 1% !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getOrganizationUnitbyID(detail.departmentID)}}</td>
                                        <td title="{{getStatisticsCodebyID(detail.statisticCodeID)}}"
                                            style="width: 1% !important; padding-right: 10px !important;"
                                            class="jsgrid-cell jsgrid-align-left">{{getStatisticsCodebyID(detail.statisticCodeID)}}</td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(9 - gOtherVoucherDetails?.length)">
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">&nbsp;
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 1% !important;">&nbsp;
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                        <td class="jsgrid-cell jsgrid-align-right"
                                            style="width: 1% !important;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div
                                    (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft; scrollHeader.scrollLeft = scrollOne.scrollLeft"
                                    #scrollOne id="main-footer-thong-ke"
                                    class=" table-scroll main-table border-right-blue frm-main frm-padding tab-pane fade in active show width-1-p"
                                    style="overflow-x: scroll;
                                overflow-y: visible;padding-right: 5px; padding-left: 0px !important;">
                                    <tr>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input type="text"
                                                                                                             [class.myreadonlytrue]="true"
                                                                                                             readonly
                                                                                                             class="countRow input-Cell"
                                                                                                             value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{gOtherVoucherDetails?.length > 0 ? gOtherVoucherDetails?.length : 0}}">
                                        </td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input type="text"
                                                                                                             [class.myreadonlytrue]="true"
                                                                                                             name="totalAmountOriginal_footer"
                                                                                                             class="countRow input-Cell"
                                                                                                             readonly
                                                                                                             [ngModel]="getSumDetails('amountOriginal')"
                                                                                                             ebCurrencyMask
                                                                                                             [systemOptions]="currentAccount?.systemOption"
                                                                                                             [type]="getAmountOriginalType()">
                                        </td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                        <td class="cell-Table countRow" style="width: 1% !important;"><input
                                            type="text" [class.myreadonlytrue]="true"
                                            class="countRow input-Cell"
                                            readonly></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.gOtherVoucher.referenceVoucher"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref"
                                 style="background: #cbdcf0">
                                <div id="table-scroll-ref" class="table-scroll" style="height: 290px !important;">
                                    <table id="main-table-ref" class="main-table">
                                        <thead>
                                        <tr>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.date"></th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.postedDate">
                                            </th>
                                            <th scope="col" jhiTranslate="ebwebApp.gOtherVoucher.voucherNumber"></th>
                                            <th scope="col" class="description"
                                                jhiTranslate="ebwebApp.gOtherVoucher.reason">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let viewVoucher of viewVouchers; let i = index">
                                            <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.date}}</td>
                                            <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.postedDate}}</td>
                                            <td class="jsgrid-cell jsgrid-align-left line-h pd-l-r-5"
                                                (click)="utilsService.viewRefVoucher(viewVoucher, currentAccount)"
                                                style="color:blue; text-decoration: underline;">{{viewVoucher.no}}
                                            </td>
                                            <td class="jsgrid-cell jsgrid-align-left description">{{viewVoucher.reason}}</td>
                                        </tr>
                                        <tr *ngFor="let l of newArr(9 - viewVouchers?.length)">
                                            <td class="jsgrid-cell jsgrid-align-center"
                                                style="width: 150px">&nbsp;
                                            </td>
                                            <td class="jsgrid-cell jsgrid-align-center"
                                                style="width: 150px">&nbsp;
                                            </td>
                                            <td class="jsgrid-cell jsgrid-align-right"
                                                style="width: 150px"></td>
                                            <td class="jsgrid-cell jsgrid-align-right"
                                                style="width: 150px"></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="cell-Table countRow" style="width: 150px"><input type="text"
                                                                                                        readonly
                                                                                                        class="countRow input-Cell"
                                                                                                        value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{viewVouchers?.length > 0 ? viewVouchers?.length : 0}}">
                                            </td>
                                            <td class="cell-Table countRow" style="width: 150px"><input
                                                type="text" [class.myreadonlytrue]="true"
                                                class="countRow input-Cell"
                                                readonly></td>
                                            <td class="cell-Table countRow" style="width: 150px"><input
                                                type="text" [class.myreadonlytrue]="true"
                                                class="countRow input-Cell"
                                                readonly></td>
                                            <td class="cell-Table countRow" style="width: 150px"><input
                                                type="text" [class.myreadonlytrue]="true"
                                                class="countRow input-Cell"
                                                readonly></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<ng-template #popUpMultiDelete let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label *ngIf="typeMultiAction === 0" jhiTranslate="ebwebApp.mBDeposit.multiDeleteMessage"></label>
                <label *ngIf="typeMultiAction === 1" jhiTranslate="ebwebApp.mBDeposit.multiUnrecordMessage"></label>
                <label *ngIf="typeMultiAction === 2" jhiTranslate="ebwebApp.mBDeposit.multiRecordMessage"></label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continueDelete()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePopUpDelete()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>

<ng-template #contentAddNew let-dismissAdd="dismiss">
    <div class="modal-header p-3" style="background: #cbdcf0;">
        <span jhiTranslate="ebwebApp.gOtherVoucher.selectPSSalarySheet"></span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="dismissAdd('Close');closePopup()">&times;
        </button>
    </div>
    <div class="modal-body p-3" style="background: #cbdcf0;">
        <form>
            <div class="form-group row">
                <div class="col-2">
                    <label jhiTranslate="ebwebApp.pSSalarySheet.home.title"></label>
                </div>
                <div class="col-10">
                    <combo-box style="" [idIp]="'index1'"
                               name="comboboxListCPPeriod"
                               [dataList]="pSSalarySheetList"
                               [isOutTable]="true"
                               [valueIsNumber]="true"
                               [listColumns]="['pSSalarySheetName']"
                               displayMember="pSSalarySheetName"
                               valueName="id"
                               [headerColumns]="['Tên bảng lương']"
                               [isObject]="false"
                               [tabindex]="1001"
                               [(ngModel)]="pSSalarySheetID">
                    </combo-box>
                </div>
            </div>
            <div class="form-group row" style="justify-content: flex-end">
                <div class="custom-control custom-radio" style="padding-right: 30px">
                    <input type="radio" id="chiTietTheoPhongBan"
                           name="chiTietTheoPhongBan"
                           class="custom-control-input"
                           [(ngModel)]="typeCreate"
                           [value]="0">
                    <label class="custom-control-label"
                           for="chiTietTheoPhongBan"
                           jhiTranslate="luong.chiTietTheoPhongBan"></label>
                </div>
                <div class="custom-control custom-radio" style="padding-right: 15px">
                    <input type="radio" id="chiTietTheoNhanVien"
                           name="chiTietTheoNhanVien"
                           class="custom-control-input"
                           [(ngModel)]="typeCreate"
                           [value]="1">
                    <label class="custom-control-label"
                           for="chiTietTheoNhanVien"
                           jhiTranslate="luong.chiTietTheoNhanVien"></label>
                </div>
            </div>
        </form>
        <div class="row p-3 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-success mr-2" (click)="showPopupAddNew()" [tabIndex]="1002"
                    jhiTranslate="entity.action.ok">
                đồng ý
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="dismissAdd('Close');closePopup()"
                    [tabIndex]="1003"
                    jhiTranslate="entity.action.close">close
            </button>
        </div>
    </div>
</ng-template>





