.dynamic-th {
    word-break: break-word;
    min-width: 50px !important;
    text-align: center;
    padding: 2px;
    background: #98b5d6 !important;
    color: black;
    border: 1px solid #adc8e6 !important;
}

.dynamic-table td {
    border: none;
    border-right: 1px solid #adc8e6 !important;
    border-top: 1px solid #adc8e6 !important;
    border-bottom: 1px solid #adc8e6 !important;
}

.dynamic-td,
.dynamic-td-no-data {
    word-break: break-word;
    padding: 2px !important;
    min-width: 50px !important;
    white-space: inherit !important;
}

.dynamic-table tr:nth-child(even) {
    background-color: #ffffff;
}

.dynamic-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.dynamic-report {
    min-width: 100% !important;
    margin: 0 !important;
    background: #cbdcf0;
}

.nameReport {
    display: block;
    text-align: center !important;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.period {
    display: block;
    text-align: center !important;
    font-size: 13px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.repository {
    display: block;
    text-align: center !important;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.headerSetting {
    text-align: left;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.materialGoodsCode {
    text-align: left;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.materialGoodsName {
    text-align: left;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.unitName {
    display: block;
    font-size: 13px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.circulars {
    text-align: center !important;
    font-size: 12px;
    width: 25%;
}

.header-dynamic-report {
    padding: 5px 0px 20px 0px;
}

.header-dynamic-report-print {
    padding: 5px 0px 5px 0px;
}

.header-dynamic-report1 {
    padding: 5px 10px 0px 10px;
}

.footer-dynamic-report {
    background: transparent;
    border: none;
    font-size: 12px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.footer-dynamic-report-print {
    background: transparent;
    border: none;
    font-size: 12px;
    padding-top: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.bold-line {
    font-weight: bold;
    background-color: white;
}

.thead-group {
    display: table-header-group;
}

.tfoot-group {
    display: table-row-group;
}

.tr-group,
.footer-dynamic-report {
    page-break-inside: avoid;
}

.th-bd-bt {
    border-bottom: 1px solid #adc8e6;
}

.main-panel-preview {
    font-size: 12px !important;
}

.main-panel-preview {
    transition: width 0.25s ease, margin 0.25s ease;
    width: auto;
    min-height: calc(100vh - 40px);
    display: -webkit-flex;
    display: inline-table;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media {
    .sidebar .nav {
        width: 250px;
    }
}

.dynamic-table,
.dynamic-table > table {
    min-width: 100%;
}

.sidebar-mini .main-panel-preview {
    width: auto;
    min-width: calc(100% - 185px);
}

.sidebar-icon-only .main-panel-preview {
    width: auto;
    min-width: calc(100% - 70px);
}

.sidebar-hidden .main-panel-preview {
    width: auto;
    min-width: 100%;
}

.sidebar-absolute .main-panel-preview {
    width: 100%;
    transition: none;
}

.sidebar-fixed .main-panel-preview {
    margin-left: 239px;
}

.sidebar-fixed.sidebar-icon-only .main-panel-preview {
    margin-left: 70px;
}

.day {
    display: flex !important;
}

.previous .next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous:hover,
.next:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 14px;
}

.next {
    background-color: #04aa6d;
    color: white;
    font-size: 14px;
}

.round {
    border-radius: 20%;
}

.bg-report {
    min-height: 100vh !important;
}

.final-chapter {
    grid-area: chapter;
    position: relative;
    overflow: hidden;
}

.final-chapter::after {
    position: absolute;
    padding-left: 0.25ch;
    content: ' .......................................................................................................................................'
        '........................................................................................................................................'
        '........................................................................................................................................'
        '........................................................................................................................................';
    text-align: right;
}

.dynamic-td {
    word-break: break-word;
}

.bold-line-header {
    font-weight: bold;
}

.header-dynamic-report-font {
    background: transparent;
    border: none;
}

.form-white {
    background-color: white !important;
}

.dynamic-report-print {
    margin: 0 !important;
    background: transparent;
}

.dynamic-table-print td {
    border: none;
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.dynamic-table-print tr:nth-child(even) {
    background-color: #ffffff;
}

.dynamic-table-print tr:nth-child(odd) {
    background-color: #ffffff;
}

.dynamic-td-no-data {
    min-height: 28px !important;
    height: 28px !important;
}

.pageable {
    text-align: right;
    justify-content: right;
    width: 300px;
    padding-right: 10px;
}

.input-Cell-span {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
