/* ==============================================================
Bootstrap tweaks
===============================================================*/
.main-panel {
    font-size: 12px !important;
}

select {
    max-height: 28px !important;
    font-size: 12px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #007bff;
    /*font-weight: bold;*/
}

a:hover {
    color: #007bff;
    /*font-weight: bold;*/
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
/* CUSTOM CSS EASYBOOK HERE */
/*style sidebar: add by anmt*/
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

ul.nav {
    margin-top: 0px !important;
}

.row {
    margin-right: -5px !important;
    margin-left: -5px !important;
}

.content-wrapper {
    background: #adc6e5 !important;
    /*background: #fafafa;*/
    padding: 15px;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: no-repeat;
}

.content-wrapper-preview {
    background: #adc6e5 !important;
    /*background: #fafafa;*/
    padding: 15px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: no-repeat;
}

.frm-main {
    background: #cbdcf0 !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.form-control {
    height: 36px !important;
}

/*style for sidebar icon only*/
.sidebar-icon-only #itemsPerPage {
    padding-right: 0px;
    padding-left: 12px;
}

.sidebar-dark #itemsPerPage {
    padding-right: 0px;
    padding-left: 5px;
}

.sidebar-dark #field_currency {
    padding-right: 0px;
    padding-left: 5px;
}

.sidebar-dark #div_exchangerate {
    padding-left: 0px;
}

/*end of sidebar only icon of mbteller*/
.modal-dialog.modal-xl {
    max-width: 100%;
    width: 90%;
}

.modal-dialog.modal-45 {
    max-width: 100%;
    width: 45%;
}

.modal-dialog.modal-45 .modal-content {
    background: #cbdcf0 !important;
}

.modal-dialog.modal-60 {
    max-width: 100%;
    width: 60%;
}

.modal-dialog.modal-60 .modal-content {
    background: #cbdcf0 !important;
}

.modal-dialog.modal-xl .modal-content {
    background: #cbdcf0 !important;
}

/*style for table*/
table#main-table0 td,
table#main-table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th.resizing {
    cursor: col-resize;
}

/*end of style table*/
.common-select {
    height: 35px;
    width: 140px;
    float: right;
}

.common-label {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    line-height: 35px;
}

.select-in-table {
    border: none !important;
}

.select-in-table::-ms-expand {
    display: none !important;
}

.input-group-append button {
    line-height: 0;
}

.mt-top-20 {
    margin-top: 20px;
}

.eb-read-only {
    pointer-events: none;
}

.eb-read-only-tr tr {
    pointer-events: none;
}

.width-80 .modal-dialog {
    width: 80%;
    min-width: 80%;
}

.width-20 .modal-dialog {
    width: 350px;
    min-width: 350px;
}

.height-90 .modal-lg {
    height: 90%;
    margin-top: 1.75rem !important;
}

.height-90 .modal-lg .modal-content {
    overflow: auto;
}

.windowClass-DanhMuc-Combobox {
    height: 100% !important;
    z-index: 6;
    overflow-y: -moz-scrollbars-none;
}

.width-50 .modal-dialog {
    width: 50%;
    min-width: 50%;
}

.width-55 .modal-dialog {
    width: 55%;
    min-width: 55%;
}

.width-60 .modal-dialog {
    width: 60%;
    min-width: 60%;
}

.width-65 .modal-dialog {
    width: 65%;
    min-width: 65%;
}

.width-35 .modal-dialog {
    width: 35%;
    min-width: 35%;
}

.width-40 .modal-dialog {
    width: 40%;
    min-width: 40%;
}

.width-25 .modal-dialog {
    width: 25%;
    min-width: 25%;
}

.height-100 .modal-dialog {
    height: 100%;
    min-height: 80%;
    margin: 0 auto;
}

.height-100 .modal-dialog .modal-content {
    height: 100%;
    min-height: 80%;
    margin: 0;
}

.height-100 .modal-dialog object {
    height: calc(100vh - 80px);
}

.mini-dialog .modal-dialog {
    width: 600px;
    min-width: 600px;
}

/*.mini-dialog .modal-dialog .modal-content {*/
/*    border-radius: 50%!important;*/
/*}*/

/*.mini-dialog {*/
/*    border-radius: 50%!important;*/
/*}*/

.height-30 .modal-dialog {
    width: 80%;
    height: 30%;
    min-width: 80%;
}

.width-80 .modal-dialog .modal-content {
    background-color: #cbdcf0 !important;
}

.width-20 .modal-dialog .modal-content {
    background-color: transparent !important;
    border: none;
    display: inline-grid;
    justify-content: center;
}

.width-thanh-toan-luong .modal-dialog {
    width: 70%;
    min-width: 70%;
    background-color: #cbdcf0 !important;
}

.height-30 .modal-dialog .modal-content {
    background-color: #cbdcf0 !important;
}

.row-selected td {
    background: #ddf7ef !important;
}

.button-navigation {
    background: none;
    border: none;
    color: white;
    outline: none !important;
}

.button-navigation:disabled,
.button-navigation[disabled] {
    color: #888;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
    color: #000 !important;
    padding-right: 10px !important;
}

/*.overBottomPage {*/
/*    z-index: 9999 !important;*/
/*}*/

/*.overBottomPage{*/
/*    height: 200px;*/
/*}*/

/*#customers {*/
/*    position: absolute;*/
/*    z-index: 9999;*/
/*}*/
.table-scroll .input-group-append .btn {
    z-index: 0;
}

.modal-xl1 .modal-lg {
    max-width: 80%;
}

.btn-eb {
    color: white;
    background: #f26f21;
    border-color: #f26f21;
}

.btn-eb:hover {
    color: white;
    background: #f26727;
    border-color: #f26727;
}

.content-wrapper-homeChart {
    background-color: #ffffff !important;
}

/**
    css dropdown Mẫu
 */
.template li {
    cursor: pointer;
}

.template {
    padding: 15px !important;
}

.template .selected {
    background-color: #e1e1e1;
    padding: 0 5px;
}

.row.no-gutters,
.row.no-gutters-small {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row.no-gutters > [class^='col-'],
.row.no-gutters > [class*=' col-']:not(.form-main-new),
.row.no-gutters-small > [class^='col-'],
.row.no-gutters-small > [class*=' col-']:not(.form-main-new) {
    padding-right: 0 !important;
    padding-left: 5px !important;
    padding-bottom: 0 !important;
}

.row.no-gutters > .col-form-label:nth-child(1),
.row.no-gutters > .col-form-label:nth-child(5) {
    max-width: 100px !important;
}

.row.no-gutters > .col-form-label:nth-child(3) {
    max-width: 80px !important;
}

.row.no-gutters-small > .col-form-label {
    max-width: 80px !important;
}

.row.no-gutters span {
    font-size: 12px;
}

.row.no-gutters input {
    height: 28px !important;
    box-shadow: none;
}

.row.no-gutters .last-div-1-0 {
    flex: 0 0 100%;
    max-width: calc(100% - 100px) !important;
}

.row.no-gutters-small .last-div-1-0 {
    flex: 0 0 100%;
    max-width: calc(100% - 80px) !important;
}

.row.no-gutters .last-div-1-1 {
    flex: 0 0 100%;
    max-width: calc(75% - 100px) !important;
}

.row.no-gutters .last-div-2-1 {
    flex: 0 0 100%;
    max-width: calc(75% - 180px) !important;
}

.row.no-gutters .last-div-3-2 {
    flex: 0 0 100%;
    max-width: calc(58.333333% - 280px) !important;
}

.form-main-new {
    background: #cbdcf0;
    padding: 5px !important;
    border: 1px solid #bfc9d4;
    margin-bottom: 5px;
}

.col-lg-9.pd-r-0.form-main-new {
    width: calc(72% - 5px) !important;
    max-width: calc(72% - 5px) !important;
    margin-right: 5px !important;
    padding-right: 5px !important;
}

.col-lg-4.pd-only-l-10.form-main-new {
    width: 28% !important;
    max-width: 28% !important;
    padding-right: 5px !important;
    min-width: 250px;
}

.form-inline.padding-all-5 > * {
    padding-right: 10px;
}

.form-inline.padding-all-5 > div:last-child {
    padding-right: 0;
}

.col-lg-12.pd-0 {
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 1230px) {
    .nb-expand .col-lg-9.pd-r-0.form-main-new {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
        margin-right: 5px !important;
        padding-right: 5px !important;
    }

    .nb-expand .col-lg-4.pd-only-l-10.form-main-new {
        margin-top: 10px;
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
        padding-right: 5px !important;
        min-width: 250px;
    }

    .menu-tool-bar.he,
    .navbar.col-lg-12.col-12.p-0.fixed-top.flex-row .nav.page-navigation,
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
        font-size: 11px;
    }
}

@media (max-width: 1109px) {
    .nb-expand .tool-navbar .row .col-lg-9,
    .nb-expand .tool-navbar .row .col-lg-3 {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
        justify-content: flex-start !important;
    }

    .nb-expand .tool-navbar .row .col-lg-9 > * {
        justify-content: flex-start !important;
        margin-bottom: 10px;
    }
}

.input-wrapper {
    margin-top: 16px;
    display: flex;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    padding: 0;
    height: 32px;
    justify-content: center;
}

.color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.last-div-special {
    width: calc(50% - 200px) !important;
    max-width: calc(50% - 200px) !important;
    flex: 0 0 calc(50% - 200px) !important;
}

.sidebar .nav {
    width: 260px;
    max-width: 260px;
}

@media (max-width: 1230px) {
    .sidebar .nav {
        width: 250px;
    }

    .main-panel {
        width: calc(100% - 250px);
    }
}

.no-highlight {
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

tr td input {
    color: inherit;
}

.bg-white {
    background: white;
}

.menu-tool-bar.he > * {
    margin-top: 5px;
}

.bg-inherit {
    background: inherit;
}

.readonly-tab {
    pointer-events: none;
}

h3 {
    font-size: 16px !important;
    color: #2c3e50 !important;
    font-weight: bold !important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

h3 span {
    font-size: 13px !important;
}

/*style responsive form*/
@media (max-width: 1230px) {
    .nb-expand .new-item8-responsive,
    .nb-expand .new-item4-responsive {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
        padding: 15px !important;
    }

    .nb-expand .new-item4-responsive .col-form-label {
        max-width: 130px !important;
    }

    .nb-expand .new-item4-responsive .input-div-responsive {
        flex: 0 0 100%;
        max-width: calc(100% - 130px) !important;
    }

    .nb-expand .new-item4-responsive .input-div-responsive-item {
        flex: 0 0 100%;
        max-width: calc(50% - 130px) !important;
    }

    .clear-fix-responsive {
        background: #adc7e6;
        height: 10px;
        width: 100%;
    }

    .nb-expand .div-title3-responsive {
        max-width: 160px !important;
    }

    .nb-expand .div-title9-responsive {
        flex: 0 0 100% !important;
        max-width: calc(100% - 160px) !important;
    }
}

@media (max-width: 1109px) {
    .nb-expand .div-title3-responsive {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .nb-expand .div-title9-responsive {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-bottom: 10px;
    }

    .nb-expand .div-title9-responsive .row {
        justify-content: flex-start !important;
    }

    .nb-expand .tool-navbar .row .col-lg-3 {
        width: 25% !important;
        max-width: 25% !important;
        flex: 0 0 100% !important;
        justify-content: flex-start !important;
    }
}

@media (min-width: 1230px) {
    .nb-expand .div-title3-responsive {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .nb-expand .div-title9-responsive {
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

    .nb-expand .div-title9-responsive .col-lg-3 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }

    .nb-expand .div-title9-responsive .col-form-label {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

@media (max-width: 1420px) {
    .nb-expand .div-title9-responsive #lbl_typeid {
        text-align: center !important;
    }

    .sidebar-icon-only .div-title9-responsive #lbl_typeid {
        text-align: center !important;
    }

    .nb-expand .div-title9-responsive #lbl_accountingObject0 {
        text-align: center !important;
    }

    .sidebar-icon-only .div-title9-responsive #lbl_accountingObject0 {
        text-align: center !important;
    }
}

/*style for pagination responsive*/
@media (max-width: 1300px) {
    .nb-expand .paginationResponsive .col-md-5 {
        flex: 0 0 35%;
        max-width: 35%;
    }

    .nb-expand .paginationResponsive .col-md-7 {
        flex: 0 0 65%;
        max-width: 65%;
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
}

.disable-user-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.width-ct .modal-dialog .modal-content {
    background-color: #cbdcf0 !important;
}

.width-ct .modal-dialog {
    width: 50% !important;
    min-width: 50% !important;
}

@media (max-width: 1216px) {
    .width-ct .modal-dialog {
        width: 60% !important;
        min-width: 60% !important;
    }
}

@media (max-width: 1024px) {
    .width-ct .modal-dialog {
        width: 70% !important;
        min-width: 70% !important;
    }
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

.input-Cell {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 4px;
}

.input-Cell-label {
    background: transparent;
    padding: 5px;
    border: none;
    height: 100%;
}

.input-Cell-Dp {
    background: transparent;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

.form-control-sm {
    height: calc(1.8125rem + 2px) !important;
}

.col-form-label {
    font-size: 12px !important;
}

.input-Cell-total {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    height: 100%;
}

.he {
    height: 28px;
    padding: 0 15px;
    position: sticky !important;
    z-index: 3000 !important;
    top: 40px !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.sticky-35 {
    border-top: 1px solid #adc8e6 !important;
    top: 30px !important;
    box-shadow: inset 0px 0px 0 #000000, inset 0 -1px 0 #98b5d6;
}

/*.quy-trinh img {*/
/*width: 85%!important;*/
/*height: 85%!important;*/
/*}*/
.logo-chim {
    width: 400px !important;
    height: auto !important;
}

.my-form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.my-form-inline label {
    margin: 10px 5px 5px 20px;
}

.my-form-inline input {
    vertical-align: middle;
    margin: 0px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media (max-width: 800px) {
    .my-form-inline input {
        margin: 10px 0;
    }

    .my-form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.itemw .frm-main fieldset {
    border: 1px solid #bfc9d4;
    padding: 0 10px;
}

.itemw .frm-main fieldset legend {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

legend {
    color: orangered;
    font-size: small;
    font-weight: bold;
}

.modal .modal-dialog {
    margin-top: 100px;
}

.virtualScroller-result {
    display: block;
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

.virtualScroller-result th,
.virtualScroller-result td {
    width: 1% !important;
}

.border-right-blue td {
    border: 1px solid #adc8e6 !important;
}

.virtualScroller {
    display: block;
    height: 244px;
}

.virtualScroller-detail {
    display: block;
    height: 277px;
}

.virtualScroll-footer {
    border-right: none !important;
    overflow: visible !important;
    min-width: 50px !important;
    max-width: 50px !important;
    z-index: 99999;
}

.virtualScroll-footer-150 {
    border-right: none !important;
    overflow: visible !important;
    z-index: 99999;
}

.set-right {
    display: flex;
    float: right;
}

.button-navigation:hover {
    color: #f26f21 !important;
}

.button-navigation[disabled]:hover {
    color: #888 !important;
}

a#PPInvoiceHiddenByQ {
    display: none !important;
}

ngb-tabset > ul > li > a.active,
ngb-tabset > ul > li > a:hover {
    background: #f26f21 !important;
    color: #fff !important;
    border-color: #f26f21 !important;
}

ngb-tabset > ul > li > a {
    padding: 5px 10px !important;
}

.notification-wrapper {
    position: relative !important;
    padding: 8px 15px !important;
    float: right !important;
    border-radius: 5px !important;
}

.notification-wrapper {
    color: #ffffff !important;
    cursor: pointer !important;
}

.notification-wrapper .notification-btn:hover {
    color: #484f71 !important;
    padding: 0px !important;
    background-color: #f26f21 !important;
    border-radius: 500px !important;
}

.notification-wrapper .notification-content {
    position: absolute !important;
    top: 39px !important;
    right: -20px !important;
    width: 350px !important;
    height: 380px !important;
    background-color: #ffffff !important;
    z-index: 300 !important;
    box-shadow: 8px 8px 15px #aaaaaa !important;
}

.notification-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #f26f21 !important;
}

.notification-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
}

.notification-wrapper .notification-header {
    padding: 10px !important;
    color: #ffffff !important;
    background-color: #484f71 !important;
}

.notification-wrapper .notification-header .label {
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.notification-footer {
    border-top: 1px solid #767d9d8a !important;
    padding: 5px !important;
    background-color: #ffffff !important;
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: 500 !important;
    color: #484f71 !important;
}

.notification-body {
    overflow: auto !important;
    height: 300px !important;
    background: #ffffff !important;
}

.new-notification {
    color: #2c3e50b8 !important;
    background: #80808000 !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    padding: 10px 25px 0px !important;
    margin-top: -1px !important;
}

.last-new-notification {
    color: #2c3e50b8 !important;
    background: #80808000 !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    padding: 10px 25px 0px !important;
    margin-top: -1px !important;
}

.green-icon {
    text-align: right !important;
    padding-right: 0px !important;
    color: #00800687 !important;
}

.new-notification:hover,
.old-notification:hover,
.last-new-notification:hover,
.last-old-notification:hover {
    padding: 10px 25px 0px !important;
    color: #2c3e50b8 !important;
    background: #80808052 !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    margin-top: -1px !important;
}

.old-notification {
    color: #2c3e50b8 !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    padding: 10px 25px 0px !important;
    margin-top: -1px !important;
}

.last-old-notification {
    padding: 10px 25px 0px !important;
    color: #2c3e50b8 !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    margin-top: -1px !important;
}

.visible-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    padding-left: 10px !important;
    font-weight: 500 !important;
}

.circle-noti-less-than-10 {
    background-color: #3a8000fc !important;
    box-shadow: 0 0 2px #888 !important;
    border-radius: 40% !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 9px !important;
    padding: 1px 3px !important;
    top: -12px !important;
    position: relative !important;
    left: -8px !important;
}

.circle-noti-more-than-10 {
    background-color: #3a8000fc !important;
    box-shadow: 0 0 2px #888 !important;
    border-radius: 30% !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 9px !important;
    padding: 2px !important;
    top: -12px !important;
    position: relative !important;
    left: -8px !important;
}

.readAll {
    color: #484f71 !important;
    font-weight: 500 !important;
}

.readAll:hover {
    color: #484f71 !important;
    font-weight: 700 !important;
}

.mail-noti {
    text-align: left !important;
    padding-left: 0px !important;
    border-right: solid 1px #80808042 !important;
    opacity: 0.7 !important;
}

.non-read {
    font-weight: 500 !important;
}

.read-more {
    color: red !important;
}

.time-noti {
    font-size: 10px !important;
    color: #847c7cdb !important;
}

.last-line-bottom {
    padding-bottom: 10px !important;
}

.line-bottom {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #80808060 !important;
}

.no-notification {
    color: #484f71 !important;
    padding: 5px !important;
}

.count-noti {
    color: #ffffff;
}

.noti-popup {
    position: relative;
    top: -305px;
    text-align: right;
    right: -3px;
    height: 0px;
    border-radius: 50%;
    background: #ffff;
}

.close-button {
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    color: white;
    cursor: pointer;
    background: #888888;
    border-radius: 50%;
}

.width-notification .modal-dialog {
    display: table;
}

.width-notification-custom .modal-dialog {
    display: table;
    margin-top: 20px !important;
}

.width-notification .modal-content {
    display: inline-table;
    background-color: transparent;
    background-clip: unset;
    border: none;
}

.social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.rounded {
    max-width: 70px !important;
    max-height: 70px !important;
    min-width: 70px !important;
    min-height: 70px !important;
    justify-content: center;
}

.rounded-custom {
    max-width: 110px !important;
    max-height: 70px !important;
    min-width: 110px !important;
    min-height: 70px !important;
    justify-content: center;
}

.center {
    justify-content: center;
}
.p-bold {
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    font-size: 18px !important;
}

.disableDiv {
    color: #959ea9 !important;
    pointer-events: none;
}
.table-scroll,
.table-scroll > table {
    min-width: 100% !important;
}
virtual-scroller combo-box > div,
virtual-scroller th {
    position: inherit !important;
}
/*virtual-scroller tfoot tr td input {*/
/*    width: 100%;*/
/*}*/

.drop-down-template {
    z-index: 99999;
    height: auto;
    width: 210px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}

.setting-template {
    z-index: 99999;
    height: 35px;
    width: 210px;
    background: #ffffff;
    color: #0a0a10;
    font-size: 14px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    padding: 8px 5px 8px 15px;
}

.setting-template:hover {
    background: #f26f21;
}

.item-template {
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    font-size: 14px;
    margin-bottom: 0px;
    cursor: pointer;
    border-bottom: 1px dotted #adc6e5;
}

.last-item-template {
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    font-size: 14px;
    margin-bottom: 0px;
    cursor: pointer;
}

.item-template:hover {
    background-color: #f26f21;
    color: white;
}

.last-item-template {
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    font-size: 14px;
    margin-bottom: 0px;
    cursor: pointer;
}

.last-item-template:hover {
    background-color: #f26f21;
    color: white;
}

.bg-white {
    background-color: #ffffff !important;
}

.select-template {
    z-index: 9999;
    height: auto;
    width: 210px;
    background: #ffffff;
    position: absolute;
    left: 600px;
    top: 28px;
    color: #0a0a10;
    font-size: 14px;
    margin-bottom: 0px;
    border-top: 1px solid gray;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.thead-group {
    display: table-header-group;
}
.tfoot-group {
    display: table-row-group;
}
.tr-group {
    page-break-inside: avoid;
}

.th-bd-bt {
    border-bottom: 1px solid #adc8e6;
}

virtual-scroller combo-box > div {
    position: inherit !important;
}
virtual-scroller th {
    box-shadow: 0px 0px 2px 0px white;
    position: inherit !important;
}
virtual-scroller tfoot tr td input {
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 3px;
    height: 3px;
    box-shadow: inset 0 0 1px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f26f21;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f26f21;
}

.cell-table-resizable {
    padding: 0;
    margin: 0;
    min-width: 75px;
}

.table-scroll-resizable,
.table-scroll-resizable > table {
    min-width: 100%;
}
.table-scroll-header-date {
    z-index: 3333;
    position: relative;
}

.ellip {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
