/*#table-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#table-scroll::-webkit-scrollbar
{
    width: 10px !important;
    background-color: #F5F5F5;
}*/
a:focus {
    background: no-repeat;
}

.form-group label {
    font-weight: 300;
    line-height: 2;
}

.menu-tool-bar .gr-tool-bar a {
    font-weight: 100;
}

.table-scroll {
    background: #cbdcf0;
    /*overflow-y: scroll;*/
}

.table-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #fff;
}

.table-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    height: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f26f21;
    border-radius: 10px;
}

.table-scroll-resizable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #fff;
}

.table-scroll-resizable::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    height: 10px;
}

.table-scroll-resizable::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f26f21;
    border-radius: 10px;
}

.table-scroll-popup th,
.table-scroll-popup td {
    border: none;
    line-height: 1.5;
}

.table-scroll-popup {
    background: #cbdcf0;
}

.table-scroll-popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #fff;
}

.table-scroll-popup::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
    height: 6px;
}

.table-scroll-popup::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f26f21;
}

.table-scroll-popup th,
.table-scroll-popup td {
    border: none;
    line-height: 1.5;
}

table.main-table tr:hover td {
    cursor: pointer;
}

table.main-table tr:nth-child(even) td {
    background-color: #f7f7f7;
}
.table-scroll thead th {
    color: black;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-weight: 100;
}

.table-scroll-resizable thead th {
    color: black;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-weight: 100;
}

.table-scroll-popup thead th {
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
}

.bt-frm {
    float: left;
}

.page-navigation .nav-link {
    height: auto;
}

@media (max-width: 990px) {
    .text-right {
        text-align: left !important;
    }
}

/*comment by anmt*/
/*.sidebar{*/
/*    width: 336px*/
/*}*/
.frm-main .frm-button button {
    font-weight: 100;
}

.lbtn-action a {
    border: 0.2px #adc8e6 solid;
}

/*MENU*/

@media (max-width: 670px) {
    .navbar-nav-right .nav-item .nav-link {
        padding-left: 0 !important;
    }
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #fff;
    background-color: #f26f21;
    display: block;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    display: block !important;
}

.sub-menu li a {
    list-style: none;
}

/*INDEX 1*/

.mains > .table-scroll > .main-table > tbody > tr > td,
.mains > .table-scroll > .main-table > thead > tr > th {
    border-top: 1px solid #adc8e6 !important;
}

.mains > .table-scroll > table {
    min-width: 900px !important;
}

.mains > .table-scroll > .main-table > thead > tr > th {
    border: none !important;
}

.mains > .table-scroll > .main-table > thead > tr > th {
    color: black;
    line-height: 1.5;
    font-size: 0.875em;
    font-weight: 600;
}

.mains_ > .table-scroll > .main-table > tbody > tr > td,
.mains > .table-scroll > .main-table > thead > tr > th {
    border-top: 1px solid #adc8e6 !important;
}

.mains_ > .table-scroll > table {
    min-width: 400px !important;
}

.mains_ > .table-scroll > .main-table > thead > tr > th {
    border: none !important;
}

.mains_ > .table-scroll > .main-table > thead > tr > th {
    color: black;
    line-height: 1.5;
    font-size: 0.875em;
    font-weight: 600;
}

/*INDEX 3*/
.mains {
    margin-top: 20px;
}

.frm-table > .table-scroll > .main-table > tbody > tr > .jsgrid-align-right {
    text-align: left !important;
    font-size: 0.875rem;
    font-weight: 400;
}

.frm-table > .table-scroll > .main-table > thead > tr > th {
    background-color: #adc8e6 !important;
    border: none;
    border-top: 1px solid #adc8e6;
    text-align: center;
    font-weight: 100;
}

.frm-table > .table-scroll > table.main-table tr:nth-child(even) td {
    background-color: #fcfcfc !important;
}

.frm-mains {
    padding: 0 !important;
}

.btn-success {
    color: #fff;
    background-color: #11ab6b;
    border-color: #29c0b1;
}

select.form-control {
    height: 35px;
}

.form-control {
    height: 35px;
}

.nobg {
    background: no-repeat !important;
}

.gr-toolbar a:hover {
    color: #f26f20 !important;
}

/*INDEX 5*/
.pd {
    padding-top: 41px !important;
}

.chkmg {
    z-index: 9;
}

@media (max-width: 1590px) {
    .chkmg {
        margin-left: 0px !important;
    }
}

.gr-tool-bar a:hover {
    color: #f26f20 !important;
}
.gr-tool-bar a:active {
    color: #f26f20 !important;
}

.lbtn-action-blue .listnoidung li a {
    background: #11ab6b;
    display: inline-block;
    padding: 6px 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    height: 30px;
    line-height: 1.5;
}

.lbtn-action a:hover {
    background: #f26f21;
    color: #fff;
}

.listnoidung li {
    list-style: none;
    margin-left: 5px;
}

.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 0.65rem 1.5rem;
}

.listnoidung {
    float: right;
    margin-right: 15px;
}

.listnoidung li a:hover {
    color: black;
}

.form-group {
    margin-bottom: 0.1rem !important;
}

.table-scroll th,
.table-scroll td {
    border: none;
    border-right: 0.1px solid #adc8e6 !important;
    border-top: 1px solid #adc8e6 !important;
    line-height: 1.5;
    min-width: 150px;
    font-size: 14px;
    height: 28px;
}

.table-scroll thead th {
    background: #98b5d6 !important;
}

.table-scroll-resizable th,
.table-scroll-resizable td {
    border: none;
    border-right: 0.1px solid #adc8e6 !important;
    border-top: 1px solid #adc8e6 !important;
    line-height: 1.5;
    min-width: 75px;
    font-size: 14px;
}

.table-scroll-resizable thead th {
    background: #98b5d6 !important;
}

.table-scroll-popup th,
.table-scroll-popup td {
    border: none;
    border-right: 0.1px solid #adc8e6 !important;
    border-top: 1px solid #adc8e6 !important;
    line-height: 1.5;
    min-width: 75px;
}

.table-scroll-popup thead th {
    background: #adc8e6 !important;
}

.modal {
    z-index: 99999 !important;
}

@media (max-width: 1450px) {
    .he {
        height: auto !important;
    }
}

.small > thead > tr {
    background: #f26f21 !important;
}

.table:not(.table-striped) thead th {
    color: #fff !important;
}

.inputpicker-wrapped-list .table .selected {
    background: #1d90ff !important;
    color: #fff !important;
}

.inputpicker-wrapped-list {
    z-index: 0 !important;
}

@media (min-width: 960px) {
    #inputpicker-wrapped-list {
        width: 20% !important;
    }
}
