/* line 12, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar .nav:not(.sub-menu) {
    margin-left: 0;
    margin-right: 0;
}

/* line 17, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .navbar .navbar-brand-wrapper {
    background: #fff;
}

/* line 21, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-menu-wrapper {
    background: #f26f21;
}

/* line 25, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-brand-wrapper .navbar-brand img {
    height: auto;
}
/* Menu */
/* line 36, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.mdi.mdi-menu {
    color: #fff;
}

/* line 40, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation {
    border-left: 1px solid #ffa46d;
    margin-left: 15px;
    height: 100%;
}

/* line 46, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation > .nav-item:hover {
    background: #2c3e50;
}

/* line 49, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation > .nav-item:hover .submenu {
    display: block;
}

/* line 55, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .nav-link {
    color: #fff !important;
    height: 100%;
    padding-top: 7px;
}

/* line 61, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu {
    display: none;
    position: absolute;
    background: #2c3e50;
    min-width: 200px;
    padding-top: 10px;
}

.page-navigation .submenu:nth-child(5) {
    padding-top: 0;
}

/* line 68, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .category-heading {
    padding-left: 14px;
    color: #afafaf;
    text-transform: uppercase;
    font-size: 12px;
}

/* line 74, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .category-heading a {
    color: #fff;
    text-decoration: none;
}

/* line 80, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .submenu-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* line 85, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .submenu-item .nav-link {
    padding-top: 0;
}

/* line 88, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .submenu-item .nav-link:hover {
    color: #f26f21 !important;
}

/* line 93, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .submenu .submenu-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* line 102, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-navigation .mega-menu .submenu {
    min-width: 900px;
    max-width: 1250px;
}

/* line 109, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
#profileDropdown {
    color: #fff;
}

/* line 113, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-menu-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* line 123, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar {
    background: #2c3e50;
}

/* line 127, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav .nav-item .nav-link {
    color: #fff;
}

/* line 131, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: #f26f21;
    color: #fff;
}

/* line 136, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav .nav-item .nav-link[aria-expanded='true'] {
    background: #f26f21;
    color: #fff;
}

/* line 141, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #fff;
}

/* line 145, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #f26f21;
}

/* line 152, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
#sidebar .nav-item .nav-link img {
    width: 22px;
    padding-right: 8px;
}

.sidebar-icon-only #sidebar .nav-item .nav-link img {
    width: 29px;
    padding-right: 8px;
}

/* line 160, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.nav-pills {
    border: 0;
    padding-bottom: 0;
}

/* line 165, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.grid-margin {
    margin-bottom: 1.2rem;
}

/* line 171, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav.sub-menu .sub2 .nav-link[aria-expanded='true']:hover {
    color: #fff;
}

/* line 180, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav.sub-menu .sub2 ul li a {
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
    width: 100%;
}

/* line 188, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar-dark .sidebar .nav.sub-menu .sub2 ul li a:hover {
    color: #f26f21;
}

/* line 202, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sub-menu li a.nav-link :hover {
    color: #fff !important;
}

/* line 210, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar .nav.sub-menu {
    padding: 0.25rem 0 0 2rem;
}

/* line 214, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar {
    width: 260px;
}

/* line 218, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
    -webkit-transition: background 0s ease-in-out;
    transition: background 0s ease-in-out;
}

/* line 223, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-menu-wrapper {
    width: calc(100% - 260px);
}

/* line 227, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-brand-wrapper {
    width: 260px;
}
.sidebar-offcanvas {
    z-index: 77777;
}
@media (max-width: 1230px) {
    .navbar .navbar-brand-wrapper {
        width: 250px;
    }

    .navbar .navbar-menu-wrapper {
        width: calc(100% - 250px);
    }
    .sidebar.sidebar-offcanvas {
        max-width: 250px !important;
    }
}
/* line 233, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar-nav-right .nav-item .nav-link {
    color: #fff !important;
    padding-left: 15px;
}

/* line 240, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.hotline-sp {
    padding-left: 20px;
}

/* line 243, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.hotline-sp .main {
    margin-top: 5px;
}

/* line 246, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.hotline-sp .main::before {
    content: '\F3F2';
    display: inline-block;
    font: normal normal normal 24px/1 'Material Design Icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 26px;
    position: absolute;
}

/* line 260, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.hotline-sp .main a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff !important;
    padding-left: 35px;
}

/* line 270, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.hotline-sp:hover {
    /*background: #f26f21 !important;*/
}

/* line 275, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    font-size: 14px;
}

/* line 279, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.nav-pills .nav-link {
    background-color: #cbdcf0;
    color: #000;
    border: 0;
}

/* line 286, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #2c3e50;
}

/* line 291, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-control-sm {
    height: 1.65rem;
}

/* line 295, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default .select2-selection--single select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
    color: #525252;
    outline: 1px solid #b7b7b7;
    border-radius: 4px;
}

/* line 309, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card .card-title {
    font-size: 16px;
    font-weight: 600;
}

/* line 314, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.grid-margin {
    margin-bottom: 0.8rem;
}

/* line 318, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card {
    border-radius: 0;
}

/* Tables */
/* line 325, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table {
    margin-bottom: 0;
}

/* line 329, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: normal;
    font-size: 0.875rem;
    border-bottom-color: #f5f5f5;
    font-weight: 500;
}

/* line 337, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table thead th i {
    margin-left: 0.325rem;
}

/* line 343, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table th,
.table td {
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
}

/* line 350, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table td {
    font-size: 0.875rem;
    font-weight: 400;
    border-top-color: #f5f5f5;
}

/* line 355, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

/* line 361, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table td .badge {
    margin-bottom: 0;
}

/* line 368, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table tr:last-child td {
    border-bottom: 1px solid #f5f5f5;
}

/* line 380, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-borderless {
    border: none;
}

/* line 383, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-borderless tr,
.table.table-borderless td,
.table.table-borderless th {
    border: none;
}

/* line 390, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-bordered {
    border-top: 0;
}

/* line 396, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-striped thead tr {
    background: #f4f2f2;
}

/* line 399, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-striped thead tr th {
    font-weight: 500;
}

/* line 406, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-striped tbody td {
    padding: 0.67rem 0.9375rem;
}

/* line 411, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table.table-striped td,
.table.table-striped th {
    border: 0;
}

/* line 418, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.jsgrid .jsgrid-grid-header {
    border: 0 !important;
}

/* line 424, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table {
    background: #cbdcf0;
    box-shadow: 5px 11px 23px -13px #e5e5e5;
    -webkit-box-shadow: 5px 11px 23px -13px #e5e5e5;
    -moz-box-shadow: 5px 11px 23px -13px #e5e5e5;
    -ms-box-shadow: 5px 11px 23px -13px #e5e5e5;
    border: 1px solid rgba(230, 230, 230, 0.41);
}

/* line 433, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.jsgrid-grid-header {
    background: #adc8e6;
}

/* line 437, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
    border-top: 1px solid #adc8e6;
}

/* line 445, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table tr:last-child td,
.jsgrid .jsgrid-table tr:last-child td {
    border-bottom: 1px solid #adc8e6;
}

/* line 451, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.jsgrid-row {
    background: #fff;
}

/* line 455, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.jsgrid-alt-row {
    background: #f7f7f7;
}

/* line 459, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-title {
    font-weight: 600;
    font-size: 16px;
}

/* line 463, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-title img {
    transform: translateY(-3px);
}

/* line 468, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.jsgrid .jsgrid-table th {
    font-size: 14px;
}

/* line 472, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.js-grid-static {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}

/* line 478, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table {
    padding: 0 15px;
}

/* line 482, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 487, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-header::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

/* line 492, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-header::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

/* line 498, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 503, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-body::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

/* line 508, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .jsgrid-grid-body::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

/* line 513, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .form-group {
    margin-bottom: 0;
    transform: translateY(-5px);
    font-weight: 400;
    font-size: 0.875rem;
}

/* line 519, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.card-table .form-group select {
    padding: 0.4375rem 0.75rem;
}

/* line 525, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
select {
    -webkit-border-radius: 0;
    border: 0;
    outline: 1px solid grey;
    outline-offset: -1px;
}

/* line 532, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link {
    margin-bottom: 25px;
}

/* line 535, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data {
    background: #fff;
    position: relative;
    padding: 15px;
}

/* line 540, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* line 546, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul li a {
    color: #37474f;
    text-decoration: none;
}

/* line 550, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul li a::before {
    content: '\F142';
    display: inline-block;
    font: normal normal normal 24px/1 'Material Design Icons';
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    transform: translateY(2px);
}

/* line 563, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul li a:hover {
    color: #f26f20;
}

/* line 569, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul.big-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* line 573, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data ul.big-wrap li {
    width: 50%;
}

/* line 579, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.data-link .main-data::before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffc836, #ee3c42);
}

/* line 592, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar {
    background: #2c3e50;
    margin-bottom: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

/* line 599, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar span {
    /*Comment by huypq*/
    /*color: #fff; */
}

.menu-tool-bar .dropdown-menu .dropdown-item a > span {
    color: black !important;
}
.menu-tool-bar .dropdown-menu .dropdown-item a :hover {
    color: #f26f20 !important;
}

/* line 603, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar a {
    color: #fff !important;
}
.menu-tool-bar > .ptitle > span {
    color: #fff;
    text-transform: uppercase;
}

/* line 608, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .gr-toolbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}

/* line 613, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .gr-toolbar a:hover {
    color: #f26f20;
}

/* line 622, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .gr-tool-bar2 a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 0;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}

/* line 631, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .gr-tool-bar a i {
    font-size: 20px;
    transform: translateY(2px);
    display: inline-block;
}

/* line 637, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .gr-tool-bar a:hover {
    color: #f26f20;
}

/* line 643, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .form-s {
    transform: translateY(3px);
}

/* line 646, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .form-s i {
    color: #fff;
}
.menu-tool-bar .form-s span {
    color: #fff;
}

/* line 650, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.menu-tool-bar .form-s input {
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
}

/* line 661, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.lbtn-action a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    color: #495057;
    font-size: 14px;
    text-decoration: none;
}

/* line 669, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.lbtn-action a.active {
    background: #f26f21;
    color: #fff;
}

/* line 676, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-check {
    margin: 0;
    background: none;
    border: 0 !important;
    height: 35px;
}

/* line 682, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-check .form-check-label {
    margin-left: 0.35rem;
}

/* line 688, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.main-panel {
    /*overflow-x: auto;*/
}

/* line 692, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* line 698, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default .select2-selection--single select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
    border: 1px solid #ccc;
    border-radius: 4px !important;
    outline: none;
}

/* line 712, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-check-inline {
    display: flex;
}

/* line 716, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-main {
    background: #cbdcf0;
    padding: 2px;
    margin-bottom: 10px;
}

/* line 721, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-main form {
    border: 1px solid #bfc9d4;
    padding: 10px;
}

/* line 726, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-main .frm-button {
    text-align: center;
}

/* line 729, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-main .frm-button button {
    font-weight: 600;
}

/* line 735, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table {
    margin-top: 15px;
}

/* line 739, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 744, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-header::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

/* line 749, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-header::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

/* line 753, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-header th {
    font-weight: 600;
    font-size: 14px;
    padding: 15px 10px;
}

/* line 761, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 766, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-body::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

/* line 771, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-card-table .jsgrid-grid-body::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

/* line 778, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.phantrang {
    margin-top: 15px;
}

/* line 782, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-item:last-child .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:last-child .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page:last-child .page-link,
.page-item:last-child .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:last-child a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:last-child a,
.page-item:last-child .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:last-child a,
.jsgrid .jsgrid-pager .jsgrid-pager-page:last-child a {
    border-radius: 0;
}

/* line 794, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.page-item:first-child .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:first-child .page-link,
.jsgrid .jsgrid-pager .jsgrid-pager-page:first-child .page-link,
.page-item:first-child .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:first-child a,
.jsgrid .jsgrid-pager .jsgrid-pager-nav-button:first-child a,
.page-item:first-child .jsgrid .jsgrid-pager .jsgrid-pager-page a,
.jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:first-child a,
.jsgrid .jsgrid-pager .jsgrid-pager-page:first-child a {
    border-radius: 0;
}

/* line 806, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.pagination,
.jsgrid .jsgrid-pager {
    justify-content: flex-end;
}

/* line 811, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-group label {
    margin-bottom: 0;
    font-weight: 600;
}

/* line 816, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.col-form-label {
    padding-top: 3px;
    padding-bottom: 0;
}

/* line 821, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.btn-cam {
    background: #f26f21;
    color: #fff;
    font-weight: 600;
}

/* line 826, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.btn-cam:hover {
    color: #fff;
    background: #e26419;
}

/* line 832, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-control,
.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type='text'],
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.jsgrid .jsgrid-table .jsgrid-filter-row input[type='number'],
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-search__field,
.typeahead,
.tt-query,
.tt-hint {
    border: 1px solid #b7b7b7;
    border-radius: 0;
}

/* line 910, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers {
    width: 550px;
    table-layout: fixed;
    border-collapse: collapse;
}

/* line 915, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers th {
    text-decoration: underline;
}

/* line 919, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: left;
}

/* line 925, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 200px;
}

/* line 930, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 200px;
}

/* line 935, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    width: 350px;
}

/* line 940, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers thead {
    background-color: #333;
    color: #fdfdfd;
}

/* line 944, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers thead tr {
    display: block;
    position: relative;
}

/* line 950, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers tbody {
    display: block;
    overflow: scroll;
    width: 100%;
    height: 300px;
}

/* line 956, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers tbody tr:nth-child(even) {
    background-color: #ddd;
}

/* line 962, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.old_ie_wrapper {
    height: 300px;
    width: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* line 968, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.old_ie_wrapper tbody {
    height: auto;
}

/* line 973, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.form-group {
    margin-bottom: 1rem;
}

/* line 979, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.frm-main h3 {
    font-size: 18px;
    color: #2c3e50;
    font-weight: bold;
}

/* line 986, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.lbtn-action-blue {
    text-align: right;
}

/* line 988, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.lbtn-action-blue a {
    background: #11ab6b;
    display: inline-block;
    padding: 6px 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

/* line 1001, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers thead tr {
    background: #adc8e6;
    color: #3e3c4f;
    font-size: 14px;
}

/* line 1006, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers thead tr th {
    text-decoration: none;
    padding: 12px 10px;
}

/* line 1015, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers tbody tr td {
    padding: 10px 10px;
}

/* line 1021, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 1026, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

/* line 1031, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.fixed_headers::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

@media (min-width: 991px) and (max-width: 1310px) {
    /* line 1044, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .hotline-sp {
        display: none;
    }

    /* line 1049, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .navbar-nav-right .phienlamviec a {
        display: none !important;
    }
}

@media (min-width: 992px) {
    /* line 1056, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .pd-l-0 {
        padding-left: 0;
    }

    /* line 1060, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .pd-r-10 {
        padding-right: 10px;
    }

    /* line 1064, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .pd-r-0 {
        padding-right: 0 !important;
    }

    /* line 1068, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .pd-only-l-10 {
        padding-left: 5px !important;
    }

    /* line 1073, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
        width: 285px;
    }

    /* line 1078, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        width: 285px;
        background: #f26f20 !important;
    }

    /* line 1083, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
        padding: 1.54rem 1.4rem;
        top: -3px;
    }

    /* line 1088, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .hidden-dk {
        display: none !important;
    }

    /* line 1093, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .row-dk {
        padding: 0 10px;
    }

    /* line 1096, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .row-dk .col-md-4 {
        padding: 7px;
    }

    /* line 1100, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .row-dk .col-md-8 {
        padding: 7px !important;
    }
}

@media screen and (max-width: 1280px) {
    /* line 1113, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .mega-menu .submenu {
        max-width: 1050px;
    }
}

@media screen and (max-width: 1170px) {
    /* line 1121, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .mega-menu .submenu {
        max-width: 950px;
    }
}

@media screen and (min-width: 992px) {
    /* line 1128, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .padding-left-0 {
        padding-left: 0;
    }

    /* line 1132, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .padding-right-0 {
        padding-right: 0;
    }

    /* line 1136, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .dk-pdl-5 {
        padding-left: 5px;
    }

    /* line 1140, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .dk-pdr-5 {
        padding-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    /* line 1157, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 200px);
    }

    /* line 1161, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .navbar .navbar-brand-wrapper {
        width: 200px;
    }

    /* line 1166, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
    .navbar-nav-right .phienlamviec a {
        display: none !important;
    }
}

/* line 1173, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-scroll {
    position: relative;
    width: 100%;
    /*add by anmt*/
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: auto;
    max-height: 350px;
}

.table-scroll-resizable {
    position: relative;
    width: 100%;
    /*add by anmt*/
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: auto;
    max-height: 350px;
}

/* line 1181, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-scroll > table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    /*comment by anmt*/
    /*border-collapse: separate;*/
    border-spacing: 0;
}

.table-scroll-resizable > table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    /*comment by anmt*/
    /*border-collapse: separate;*/
    border-spacing: 0;
}
/* line 1188, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-wrap {
    position: relative;
}

/* line 1191, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-scroll th,
.table-scroll td {
    padding: 0 5px;
    border: 1px solid #000;
    background: #fff;
    /*vertical-align: top;*/
}

.table-scroll-resizable th,
.table-scroll-resizable td {
    padding: 0 0px;
    border: 1px solid #000;
    background: #fff;
    /*vertical-align: top;*/
}

.table-scroll-resizable tfoot tr td {
    padding: 0;
    /*border: 1px solid #000;*/
    background: #fff;
    /*vertical-align: top;*/
}

/* line 1198, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-scroll thead th {
    background: #333;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    /*add by anmt*/
    z-index: 3 !important;
}

.table-scroll-resizable thead th {
    background: #333;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    /*add by anmt*/
    z-index: 3 !important;
}

/* safari and ios need the tfoot itself to be position:sticky also */
/* line 1206, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    /*background: #666;*/
    color: black;
    /*comment by anmt*/
    /*z-index: 4;*/
}

.table-scroll-resizable tfoot,
.table-scroll-resizable tfoot th,
.table-scroll-resizable tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    /*background: #666;*/
    color: black;
    /*comment by anmt*/
    /*z-index: 4;*/
}

/* line 1217, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
a:focus {
    background: red;
}

/* testing links*/

.table-scroll-popup {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 350px;
}

.table-scroll-popup > table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
}

.table-scroll-popup th,
.table-scroll-popup td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
}

.table-scroll-popup thead th {
    background: #333;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3 !important;
}

.table-scroll-popup tfoot,
.table-scroll-popup tfoot th,
.table-scroll-popup tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    color: #fff;
}
.container-fluid .row .col-lg-12.pd-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
