<div>
    <div style="background-color: #cbdcf0">
        <div class="modal-header" style="padding: 15px 10px 10px 10px;">
            <div class="d-flex flex-wrap col-md-11">
                <h3 class="modal-title-detail"><img src="../../../content/images/icon-logo.png" height="25px"
                                                    width="25px"> <span
                    class="text-uppercase" jhiTranslate="multiPrintVoucher.title"></span></h3>
            </div>
            <a class="close-modal" data-dismiss="modal" (click)="close()"
               aria-label="Close">
                <span aria-hidden="true">×</span>
            </a>
        </div>
        <div class="modal-body" style="padding-top: 5px; padding-bottom: 5px">
            <div class="row form-group">
                <!--        <div class="col-md-3">-->
                <!--            <label jhiTranslate="global.commonInfo.typeSearch.title">Loại tìm kiếm</label>-->
                <!--            <select name="typeSearch" id="field_typeSearch" class="form-control" [(ngModel)]="typeSearch" (ngModelChange)="changeTypeSearch()">-->
                <!--                <option [ngValue]="1" jhiTranslate="global.commonInfo.typeSearch.type" selected>Loại chứng từ</option>-->
                <!--                <option [ngValue]="2" jhiTranslate="global.commonInfo.typeSearch.no">Số chứng từ</option>-->
                <!--                <option [ngValue]="3" jhiTranslate="global.commonInfo.typeSearch.invoiceNo">Số hóa đơn</option>-->
                <!--            </select>-->
                <!--        </div>-->
                <div class="col-md-3">
                    <label jhiTranslate="multiPrintVoucher.typeGroup">Loại chứng từ</label>
                    <combo-box
                        *ngIf="typeSearch === 1"
                        style="" id="field_typeGroups"
                        name="comboboxtypeGroups"
                        [dataList]="typeGroups"
                        [isOutTable]="true"
                        [listColumns]="['typeGroupName']"
                        displayMember="typeGroupName"
                        valueName="id"
                        [headerColumns]="['Giá Trị']"
                        [isObject]="false"
                        [(ngModel)]="typeGroup"
                        (ngModelChange)="selectChangeTypeGroup()"
                        [noSetDisabled]="true"
                        [notSetDisable]="true"
                        [tabindex]="1"
                    >
                    </combo-box>
                    <!--                    <input type="text" class="form-control" id="no" [(ngModel)]="no" *ngIf="typeSearch === 2" name="no">-->
                    <!--                    <input type="text" class="form-control" id="invoiceNo" [(ngModel)]="invoiceNo"-->
                    <!--                           *ngIf="typeSearch === 3"-->
                    <!--                           name="invoiceNo">-->
                </div>
                <div class="col-3">
                    <label jhiTranslate="ebwebApp.receiveBill.detail.time">Chọn thời gian</label>
                    <combo-box style=""
                               name="timeLine"
                               [dataList]="listTimeLine"
                               [listColumns]="utilsService.listColumnsTimeLine"
                               [isOutTable]="true"
                               displayMember="display"
                               valueName="value"
                               [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                               [isObject]="false"
                               [(ngModel)]="timeLineVoucher"
                               (ngModelChange)="selectChangeBeginDateAndEndDate(timeLineVoucher)"
                               [noSetDisabled]="true"
                               [notSetDisable]="true"
                               [tabindex]="2"
                    ></combo-box>
                </div>
                <div class="col-md-3">
                    <label jhiTranslate="ebwebApp.saBill.invoice.fromDate">date</label>
                    <eb-date-picker [(ngModel)]="fromDate" name="fromdate" format="YYYYMMDD" [noSetDisabled]="true"
                                    [tabindex]="3"></eb-date-picker>
                </div>
                <div class="col-md-3">
                    <label jhiTranslate="ebwebApp.saBill.invoice.toDate">date</label>
                    <eb-date-picker [(ngModel)]="toDate" name="todate" format="YYYYMMDD" [noSetDisabled]="true"
                                    [tabindex]="4"></eb-date-picker>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label jhiTranslate="multiPrintVoucher.printForm">Mẫu in</label>
                    <combo-box
                        name="printForm"
                        [dataList]="listTypePrintForm"
                        [listColumns]="['name']"
                        [isOutTable]="true"
                        displayMember="name"
                        valueName="value"
                        [headerColumns]="['Tên mẫu in']"
                        [isObject]="false"
                        [(ngModel)]="valueVoucher"
                        [noSetDisabled]="true"
                        [notSetDisable]="true"
                        (ngModelChange)="selectChangePrintForm()"
                        [tabindex]="5"
                    ></combo-box>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div>
                        <button (click)="search()" class="btn btn-success noSetDisable"
                                jhiTranslate="entity.searchform.search"
                                [tabindex]="6"
                        ></button>
                    </div>
                </div>
            </div>
            <div>
                <div id="table-scroll-ref" class="table-scroll">
                    <table id="main-table-ref" class="main-table">
                        <thead>
                        <tr>
                            <th scope="col"
                                style="width: 50px !important; min-width: 50px !important; max-width: 50px !important;">
                                <div class="custom-control custom-checkbox"
                                >
                                    <input type="checkbox" class="custom-control-input noSetDisable" id="check-all"
                                           [checked]="isCheckAll()" (click)="checkAll()" [tabindex]="7">
                                    <label class="custom-control-label" for="check-all"></label>
                                </div>
                            </th>
                            <th *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" scope="col"
                                jhiTranslate="global.commonInfo.vDate"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Tháng
                            </th>
                            <th *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" scope="col"
                                jhiTranslate="global.commonInfo.postedDate"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Ngày hạch toán
                            </th>
                            <th *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" scope="col"
                                jhiTranslate="ebwebApp.mBDeposit.typeVoucher"
                                style="width: 150px !important; min-width: 200px !important; max-width: 200px !important;">
                            </th>
                            <th *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" scope="col"
                                jhiTranslate="global.commonInfo.noFBook"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Số chứng từ
                            </th>
                            <th *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" scope="col"
                                jhiTranslate="global.commonInfo.reason">Diễn giải
                            </th>
                            <th *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" scope="col"
                                jhiTranslate="ebwebApp.pSTimeSheet.month"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Tháng
                            </th>
                            <th *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" scope="col"
                                jhiTranslate="ebwebApp.pSTimeSheet.year"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Năm
                            </th>
                            <th *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" scope="col"
                                [jhiTranslate]="typeGroup === 75  ? 'ebwebApp.pSTimeSheet.typeID' : (typeGroup === 76 ? 'ebwebApp.pSTimeSheetSummary.typeID' : 'ebwebApp.pSSalarySheet.typeID')"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Tên
                            </th>
                            <th *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" scope="col"
                                jhiTranslate="global.commonInfo.noFBook"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Số chứng từ
                            </th>
                            <th *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" scope="col"
                                [jhiTranslate]="typeGroup === 75  ? 'ebwebApp.pSTimeSheet.pSTimeSheetName' : (typeGroup === 76 ? 'ebwebApp.pSTimeSheetSummary.pSTimeSheetSummaryName' : 'ebwebApp.pSSalarySheet.pSSalarySheetName')"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">
                                Tên
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let viewVoucher of viewVouchers; let i = index">
                            <td class="text-center"
                                style="width: 50px !important; min-width: 50px !important; max-width: 50px !important;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input noSetDisable"
                                           name="{{'checkbox' + i}}"
                                           id="{{'checkbox' + i}}" [(ngModel)]="viewVoucher.checked"
                                           (click)="check(viewVoucher)" [tabindex]="(8+i)">
                                    <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                                </div>
                            </td>
                            <td *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" class="text-center"
                                [title]="viewVoucher.date | date:'dd/MM/yyyy'"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">{{viewVoucher.date | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" class="text-center"
                                [title]="viewVoucher.postedDate | date:'dd/MM/yyyy'"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">{{viewVoucher.postedDate | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" class="text-left"
                                [title]="viewVoucher.typeID"
                                style="width: 150px !important; min-width: 200px !important; max-width: 200px !important;">{{getTypeName(viewVoucher.typeID)}}</td>
                            <td *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77"
                                class="jsgrid-cell jsgrid-align-left line-h pd-l-r-5" [title]="viewVoucher.no"
                                (click)="utilsService.viewRefVoucher(viewVoucher, account)"
                                style="color:blue; text-decoration: underline; width: 150px !important; min-width: 150px !important; max-width: 150px !important;">{{viewVoucher.no}}
                            </td>
                            <td *ngIf="typeGroup !== 75 && typeGroup !== 76 && typeGroup !== 77" class="text-left"
                                [title]="viewVoucher.reason"
                                style="width: 150px !important; min-width: 200px !important; max-width: 200px !important;">{{viewVoucher.reason}}</td>
                            <td *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" class="text-center"
                                [title]="viewVoucher.month"
                                style="width: 100px !important; min-width: 100px !important; max-width: 100px !important;">{{viewVoucher.month}}</td>
                            <td *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" class="text-center"
                                [title]="viewVoucher.year"
                                style="width: 100px !important; min-width: 100px !important; max-width: 100px !important;">{{viewVoucher.year}}</td>
                            <td *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" class="text-center"
                                [title]="viewVoucher.typeSalaryName"
                                style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;">{{viewVoucher.typeSalaryName}}</td>
                            <td *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77"
                                class="jsgrid-cell jsgrid-align-left line-h pd-l-r-5" [title]="viewVoucher.no"
                                (click)="utilsService.viewRefVoucher(viewVoucher, account)"
                                style="color:blue; text-decoration: underline; width: 150px !important; min-width: 150px !important; max-width: 150px !important;">{{viewVoucher.no}}
                            </td>
                            <td *ngIf="typeGroup === 75 || typeGroup === 76 || typeGroup === 77" class="" [title]="viewVoucher.salaryName">{{viewVoucher.salaryName}}</td>
                        </tr>
                        <tr *ngFor="let bill of newArr(10 - viewVouchers.length);">
                            <td style="width: 50px !important; min-width: 50px !important; max-width: 50px !important;">
                                <input type="text" class="input-Cell" readonly>
                            </td>
                            <td style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;"></td>
                            <td style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;"></td>
                            <td style="width: 150px !important; min-width: 200px !important; max-width: 200px !important;"></td>
                            <td style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;"></td>
                            <td style="width: 150px !important; min-width: 150px !important; max-width: 150px !important;"></td>
                        </tr>
                        </tbody>
                        <!--                        <tfoot>-->
                        <!--                        <tr>-->
                        <!--                            <td class="cell-Table countRow jsgrid-align-left" colspan="5"-->
                        <!--                                style="width: 150px"><input type="text" readonly-->
                        <!--                                                            class="countRow input-Cell"-->
                        <!--                                                            value="{{'ebwebApp.pSTimeSheetSummary.countLine'| translate}} : {{totalItems}}">-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        <!--                        </tfoot>-->
                    </table>
                </div>
            </div>
            <div class="row justify-content-end" style="height:32px" style="margin: 10px 0 0 0;" *ngIf="totalItems > 0">
                <div class="col-lg-2">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label text-right">
                            <span
                                jhiTranslate="ebwebApp.baoCao.soTongHopLuongNhanVien.selectedItems"></span>{{getNumberSelect() + "/" + totalItems}}
                        </label>
                        <div class="col-sm-5 pd-l-0">
                            <select class="form-control form-control-sm noSetDisable" name="itemsPerPage"
                                    id="itemsPerPage"
                                    style="background-color: #f5f7fa;" [(ngModel)]="itemsPerPage"
                                    [tabindex]="9 + viewVouchers.length"
                                    (ngModelChange)="search()">
                                <option [value]="10">10</option>
                                <option [value]="20">20</option>
                                <option [value]="30">30</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="justify-content-end">
                    <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page"
                                    [pageSize]="itemsPerPage"
                                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="search()"></ngb-pagination>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px">
            <div class="float-right" style="margin-left: 10px; margin-bottom: 10px;">
                <button class="btn btn-eb noSetDisable"
                        *ebHasSomeAuthority="[ROLE.ROLE_ADMIN, ROLE.InChungTuHangLoat_In]" (click)="apply()"
                        [tabindex]="10 + viewVouchers.length"><span jhiTranslate="common.print"></span>
                </button>
                <button class="btn btn-light noSetDisable" (click)="close()" [tabindex]="11 + viewVouchers.length"><span
                    jhiTranslate="entity.action.close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
