<ul style="margin: 0px; padding-left: 0px; padding-right: 0px">
    <li *ngFor="let node of tree" class="row">
        <div class="detail-item" [style.padding-left.px]="node.grade * 20" style="font-weight: 600" *ngIf="!node?.isHidden && node.children && node.children.length > 0 && !checkOnSelect(node)"
             (click)="selectData(node)" title="{{node.parent.organizationUnitName}}">{{node.parent.organizationUnitName}}</div>
        <div class="detail-item" [style.padding-left.px]="node.grade * 20"  *ngIf="!node?.isHidden && ((!node.children) ||(node.children && node.children.length === 0)) && !checkOnSelect(node)"
             (click)="selectData(node)" title="{{node.parent.organizationUnitName}}">{{node.parent.organizationUnitName}}</div>
        <div class="detail-item" [style.padding-left.px]="node.grade * 20" style="background: #f26f21; font-weight: 600; color: #ffffff !important;" *ngIf="!node?.isHidden && node.children && node.children.length > 0 && checkOnSelect(node)"
             (click)="selectData(node)" title="{{node.parent.organizationUnitName}}">{{node.parent.organizationUnitName}}</div>
        <div class="detail-item" [style.padding-left.px]="node.grade * 20" style="  background: #f26f21; color: #ffffff !important;" *ngIf="!node?.isHidden && ((!node.children) ||(node.children && node.children.length === 0))  && checkOnSelect(node)"
             (click)="selectData(node)" title="{{node.parent.organizationUnitName}}">{{node.parent.organizationUnitName}}</div>
        <div class="col-12" style="padding-left: 10px">
            <eb-tree-combo-box-item [search]="search" *ngIf="node.children && node.children.length" [tree]="node.children" [isLoginPage]="isLoginPage"></eb-tree-combo-box-item>
        </div>
    </li>
</ul>
