.dropdown-content {
    position: absolute;
    background-color: #2c3e50 !important;
    /*min-width: 400px;*/
    width: 100%;
    padding: 0;
    /* border: 1px solid #eee; */
    max-height: 200px;
    /* overflow-y: scroll; */
    /* overflow-x: auto; */
    z-index: 1;
    color: #ffffff;
    /*border-radius: 10px;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

.drop-down-button {
    border: 0;
    background: white;
    outline: 0;
    padding-right: 0;
    padding-right: 5px;
}

.input-item {
    background: white;
    border: none;
    outline: none;
}

.input-item:focus {
    background: white;
    border: none;
    outline: none;
    box-shadow: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detail-item {
    padding-left: 20px;
    background: #2c3e50;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 2px;
}

.detail-item:hover {
    padding-left: 20px;
    color: #f26f21;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 2px;
}
