<div (focusout)="outFocus()" (mouseover)="mouseOverTable()" (mouseleave)="mouseLeaveTable()" style="position: relative;">
    <span class="custom-control-inline" style="border: 1px solid #ced4da; width: 100%; border-radius: 5px">
        <input id="searchSession" class="form-control input-item noSetDisable" [required]="isRequired && !data" [tabindex]="tabIndex"
               [(ngModel)]="search" [disabled]="!tree" (ngModelChange)="searchTree()" style="border-radius: 0!important;">
        <button type="button" class="drop-down-button noSetDisable" (click)="toggleDropDown($event, true)" [disabled]="!tree">
            <i class="mdi mdi-chevron-down"></i>
        </button>
    </span>
    <div class="dropdown-content" *ngIf="showDropDown" [class.overBottomPage]="isOverBottomPage" [class.hiddenOver]="overFlow"
         style="padding: 10px; z-index: 9999; padding-left: 0px">
        <eb-tree-combo-box-item [search]="search" [tree]="tree" [isLoginPage]="isLoginPage"></eb-tree-combo-box-item>
    </div>
</div>
